@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>日程信息</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript">
        $.fn.extend({

            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });

        var ButtomLeaderDJ = 0;
        //给予意见 分类
        var JYbool;
        var JYid;
        var wid;
        $(document).ready(function () {
            loadmenu();
        })
        //读取下来分类
        function loadmenu() {
            $('#calendarSmallDiv').menu('appendItem', {
                id: "info1",
                text: '个人日总结',
                iconCls: 'icon-blank'
            });
            $('#calendarSmallDiv').menu('appendItem', {
                id: "info2",
                text: '部门日总结',
                iconCls: 'icon-blank'
            });
            $.post("/EverDayWork/GetAllDownLeader", {}, function (data) {
                var a = 0;
                var b = 0;
                for (var i = 0; i < data.length; i++) {
                    var c = parseInt(data[i].DJ);
                    if (c > a) {
                        a = c;
                    }
                    if (c > b && c != 10) {
                        b = c;
                    }
                }
                ButtomLeaderDJ = b - 1;
                for (var k = 1; k <= a; k++) {
                    for (var i = 0; i < data.length; i++) {
                        if (k == 1) {
                            if (data[i].DJ == 1) {
                                if (data[i].SerchType == 1) {
                                    $('#calendarSmallDiv').menu('appendItem', {
                                        parent: $('#calendarSmallDiv').menu('getItem', $('#info' + data[i].UpID)[0]).target,
                                        id: data[i].ID,
                                        text: data[i].name,
                                        iconCls: 'icon-blank'
                                    });
                                } else {
                                    $('#calendarSmallDiv').menu('appendItem', {
                                        parent: $('#calendarSmallDiv').menu('getItem', $('#info' + data[i].UpID)[0]).target,
                                        id: 'info' + data[i].ID,
                                        text: data[i].name + "(" + data[i].DJ + ")",
                                        iconCls: 'icon-blank'
                                    });
                                }
                            }
                        } else {
                            if (data[i].DJ == k) {
                                if (data[i].SerchType == 1) {
                                    $('#calendarSmallDiv').menu('appendItem', {
                                        parent: $('#calendarSmallDiv').menu('getItem', $('#' + data[i].UpID)[0]).target,
                                        id: data[i].ID,
                                        text: data[i].name,
                                        iconCls: 'icon-blank'
                                    });
                                } else {
                                    $('#calendarSmallDiv').menu('appendItem', {
                                        parent: $('#calendarSmallDiv').menu('getItem', $('#info' + data[i].UpID)[0]).target,
                                        id: 'info' + data[i].ID,
                                        text: data[i].name + "(" + data[i].DJ + ")",
                                        iconCls: 'icon-blank'
                                    });
                                }
                            }
                        }
                    }
                }
            })
        }
        
        function show_X(event) {
            x = event.clientX;
            return x;
        }
        function show_Y(event) {
            y = event.clientY;
            return y;
        }

        // 当窗口大小发生变化时，调整DataGrid的大小211434
        $(function () {
            $(window).resize(function () {
                $('#tt').resizeDataGrid(0, 0, 200, 500);
            });
            $("#pbr").hide();
            closednone();
            loadSchedule();
            function closednone() {
               
                $("#calendarDiv").css("display", "none");                
                $("#AddScheduleTypeDIV").css("display", "none");
                $("#AddScheduleDIV").css("display", "none");
                $("#UpdateScheduleDIV").css("display", "none");
                $("#ReviewScheduleDIV").css("display", "none");
                $("#CheckFileDIV").css("display", "none");
                $("#CheckExamineDIV").css("display", "none");
                $("#AddScheduleTypeBtnDIV").css("display", "none");
                $("#ChooseSerchTypeDIV").css("display", "none");
                $("#ChooseSerchTypeDIV2").css("display", "none");
                $("#AddScheduleBtnDIV").css("display", "none");
                $("#DownUserCombox").css("display", "none");
                $("#DownBuMenCombox").css("display", "none");
                $("#DownBuMenCombox2").css("display", "none");
                $("#DownUserCombox2").css("display", "none");
                $("#AddUploadFileDIV").css("display", "none");
                $("#AddFileTypeBtnDIV").css("display", "none");
                $("#AddFileTypeDIV").css("display", "none");
                $("#InfoShowDiv").css("display", "none");
                $("#BMInfoShowDiv").css("display", "none");
                $("#SearchboxDiv").css("display", "none");
            }
            $("#divBtn a").click(function () {
                var ClickA = $(this).attr("id");
                  closednone();
                if (ClickA == "MenuScheduleType")
                {
                  
                    loadData();
                }
                else if (ClickA == "MenuSchedule")
                {
                   
                    loadSchedule();
                }
                else if (ClickA == "MenuDownUser") {
                   
                  loadDownUser();
                } else if (ClickA == "MenuFileType") {
                  
                    loadFileType();
                } else if (ClickA == "MenuExamineSchedule") {
                   
                    loadExamineSchedule();
                } else if (ClickA == "MenuAllScheduleInfo") {
                   
                    loadCalendar();
                }
            })
            $("#AddScheduleBtn").click(function () {
                AddScheduleFc();
            })
            $("#AddScheduleTypeBtn").click(function () {
                AddScheduleTypeFc();
            })
            $("#AddupLoadFileBtn").click(function () {

                addUploadFileClick();
            })
            $("#uploadFileBtn").click(function () {
                uploadFileClick();
            })
            $("#downloadFile").click(function () {
                var downurl = document.getElementById("hiddenUrl").value;
                window.open(downurl);
            })
            $("#ByDBMid").click(function () {
                $("#DownBuMenCombox").css("display", "block");
                $("#DownUserCombox").css("display", "none");
                $("#DBMUserInput").combobox("setValue", "");
                $("#DBMInput").combobox("setValue", "");
                $("#DUInput").combobox("setValue", "");
                $("#tt").datagrid({ toolbar: "#ChooseSerchTypeDIV,#DownBuMenCombox" });
            })
            $("#ByDUid").click(function () {
                $("#DownUserCombox").css("display", "block");
                $("#DownBuMenCombox").css("display", "none");
                $("#DBMUserInput").combobox("setValue", "");
                $("#DBMInput").combobox("setValue", "");
                $("#DUInput").combobox("setValue", "");
                $("#tt").datagrid({ toolbar: "#ChooseSerchTypeDIV,#DownUserCombox" });
            })
            $("#ByDBMid2").click(function () {
                $("#DownBuMenCombox2").css("display", "block");
                $("#DownUserCombox2").css("display", "none");
                $("#tt").datagrid({ toolbar: "#ChooseSerchTypeDIV2,#DownBuMenCombox2" });
            })
            $("#ByDUid2").click(function () {
                $("#DownUserCombox2").css("display", "block");
                $("#DownBuMenCombox2").css("display", "none");
                $("#tt").datagrid({ toolbar: "#ChooseSerchTypeDIV2,#DownUserCombox2" });
            })
            $("#AddFileTypeBtn").click(function () {
                $("#AddFileTypeTab input").val("");
                AddFileType();
            })
            //点击下级成员触发方法
            $("#DBMUserInput").combobox({
                onChange: function () {
                    var idval = $("#DBMUserInput").combobox("getValue");
                    var pars = {DownUser:idval};
                    loadDownUser(pars);
                }
            })
            $("#DBMUserInput2").combobox({
                onChange: function () {
                    var idval = $("#DBMUserInput2").combobox("getValue");
                    var pars = { DownUser2: idval };
                    loadExamineSchedule(pars);
                }
            })
            //点击下级部门触发方法
            $("#DBMInput").combobox({
                onChange: function () {
                    var DBMidval = $("#DBMInput").combobox("getValue");
                    if (DBMidval == undefined || DBMidval.length <= 0) {
                        DBMidval = 0;
                    }
                    $("#DBMUserInput").combobox("reload", "/EverDayWork/GetDownBuMenalluser?DBMid=" + DBMidval);
                    $("#DBMUserInput").combobox("setValue", "");
                    pars = { BumenID: DBMidval };
                    loadDownUser(pars);
                }
            })
            $("#DBMInput2").combobox({
                onChange: function () {
                    var DBMidval = $("#DBMInput2").combobox("getValue");
                    if (DBMidval == undefined || DBMidval.length<=0) {
                        DBMidval = 0;
                    }
                    $("#DBMUserInput2").combobox("reload", "/EverDayWork/GetDownBuMenalluser?DBMid=" + DBMidval);
                    $("#DBMUserInput2").combobox("setValue","");
                    pars = { BumenID2: DBMidval };
                    reload(pars);
                    $.post("/EverDayWork/GetBMNumber", { "id": DBMidval }, function (data) {
                        setShowNumber(data);
                    })
                }
            })
            $("#DUInput").combobox({
                onChange: function () {
                     var idval = $("#DUInput").combobox("getValue");
                     var pars = { DownUser: idval };
                     loadDownUser(pars);
                }
            })
            $("#DUInput2").combobox({
                onChange: function () {
                    var idval = $("#DUInput2").combobox("getValue");
                    var pars = { DownUser2: idval};
                    loadExamineSchedule(pars);
                }
            })
            //关闭信息总汇触发事件
            $("#AllInfoWindowDiv").window({
                onClose: function () {
                    $("#weritPerson").html("");
                    $(".appedDIV").remove();
                }
            })
        });

        //菜单单击事件
        function menuHandler(item) {
            wid = item.id=="info2"?0:item.id.replace("info", "");
            $("#jybtn").show();
            $("#AllInfoWindowDiv").window({
                width: $(document).width() / 1.2,
                height:$(document).height() / 1.2
            });
            $("#infoTopText").html("<b style='font-size:20px'>" + $("#RiQiBeiFenText").val() + "工作表总结</b>");
            if (item.text == "个人日总结") {
                return;
            } else if (item.text == "部门日总结") {
                GetSeePerson();
                $.post("/EverDayWork/GetScheduleInfoForTab", { "anhao": 9, "time": $("#RiQiBeiFenText").val() }, function (Info) {
                    if (Info.lsift == undefined) {
                        $.messager.alert("ts","无数据！","errer")
                        $("#AllInfoWindowDiv").window("close");
                        return;
                    }
                    $("#ScheduleInfoTab").html("<tr id='FirstTrID'><td>创建人</td><td>创建时间</td><td>内容</td><td>类型</td><td>查看文件</td><td colspan='2'>查阅意见</td></tr>");
                    $.each(Info.lsift, function (index, item) {
                        $("#ScheduleInfoTab").append("<tr style='font-size:7px'><td>" + item["Name"] + "</td><td>" + ChangeDateFormat2(item["ScheduleTime"])
                            + "</td><td style='width:300px'>" + item["ScheduleText"] + "</td><td>" + item["ScheduleTypeName"]
                            + "</td><td><a href='#' onclick='CheckSchFile(this)' class='l-btn' style='margin:0px 5px;padding:2px 8px'>查看文件</a><input type='hidden' value='" + item["FileItemID"] + "'/></td>"
                            + "<td>" + item["TextReadBak"] + "<input type='hidden' value='" + item["ScheduleID"] + "'/></td><td>" +
                            "<a href=\"javascript:chengidtext('" + item["ID"] + "','" + item["TextReadBak"] + "',"+index+")\"  class=\"l-btn\" style='margin:0px 5px;padding:2px 8px '>反馈</a></td></tr>");
                    })
                    $("#SchTypeCount").html("<b>日程类型统计：</b>" + Info.scheduleSumStr);
                    $("#AllInfoWindowDiv").window("center");
                    $("#AllInfoWindowDiv").window("open");
                })
                return;
            }
            $("#FirstTrID").nextAll().remove();
            $("#ScheduleInfoTab").html("");           
            $("#ZXPerson").html("<b>撰写人：</b>" + item.text);
            $("#ZXpersonID").val(item.id);
            
            if ((item.id).indexOf("info") < 0) {
                $("#ScheduleInfoTab").html("");
                $.post("/EverDayWork/GetScheduleInfoForTab", { "id": item.id, "time": $("#RiQiBeiFenText").val() }, function (Info) {
                    if (Info.lsift == undefined) {
                        $("#AllInfoWindowDiv").window("close");
                        return;
                    }
                    $("#ScheduleInfoTab").html("<tr id='FirstTrID'><td>创建人</td><td>创建时间</td><td>内容</td><td>类型</td><td>查看文件</td><td>查看审核意见</td></tr>");
                    $.each(Info.lsift, function (index, item) {
                        $("#ScheduleInfoTab").append("<tr style='font-size:7px'><td>"+item["Name"]+"</td><td>" + ChangeDateFormat2(item["ScheduleTime"])
                            + "</td><td style='width:350px'>" + item["ScheduleText"] + "</td><td>" + item["ScheduleTypeName"]
                            + "</td><td><a href='#' onclick='CheckSchFile(this)' class='l-btn' style='margin:0px 5px;padding:2px 8px'>查看文件</a><input type='hidden' value='" + item["FileItemID"] + "'/></td>"
                            + "<td><a href='#' onclick='CheckYiJian(this)' class='l-btn' style='margin:0px 5px;padding:2px 8px'>查看审核意见</a><input type='hidden' value='" + item["ScheduleID"] + "'/></td></tr>");
                    })
                    $("#SchTypeCount").html("<b>日程类型统计：</b>" + Info.scheduleSumStr);
                    $("#AllInfoWindowDiv").window("center");
                    $("#AllInfoWindowDiv").window("open");
                })
                $("#jybtn").hide();
            }
            if ((item.id).indexOf("info") >= 0) {
                var start = (item.text).lastIndexOf("(");
                if (start >= 0) {
                    var end = (item.text).lastIndexOf(")");
                    var str = (item.text).substring(start + 1, end);
                    var DJ = parseInt(str);
                } else {
                    var DJ = 1;
                }
               
                if (DJ >= ButtomLeaderDJ) {
                    $.post("/EverDayWork/GetScheduleInfoForTab", { "id": item.id, "time": $("#RiQiBeiFenText").val() }, function (Info) {

                        if (Info.lsift == undefined) {
                            $("#AllInfoWindowDiv").window("close");
                            return;
                        }
                        $("#ScheduleInfoTab").html("<tr id='FirstTrID'><td>创建人</td><td>创建时间</td><td>内容</td><td>类型</td><td>查看文件</td><td>查阅意见</td></tr>");
                        $.each(Info.lsift, function (index, item) {
                            $("#ScheduleInfoTab").append("<tr style='font-size:7px'><td>" + item["Name"] + "</td><td>" + ChangeDateFormat2(item["ScheduleTime"])
                                + "</td><td style='width:300px'>" + item["ScheduleText"] + "</td><td>" + item["ScheduleTypeName"]
                                + "</td><td><a href='#' onclick='CheckSchFile(this)' class='l-btn' style='margin:0px 5px;padding:2px 8px'>查看文件</a><input type='hidden' value='" + item["FileItemID"] + "'/></td>"
                                + "<td>" + item["TextReadBak"] + "<input type='hidden' value='" + item["ScheduleID"] + "'/></td></tr>");
                        })
                        $("#SchTypeCount").html("<b>日程类型统计：</b>" + Info.scheduleSumStr);
                        $("#AllInfoWindowDiv").window("center");
                        $("#AllInfoWindowDiv").window("open");
                    })
                } else {
                    $.post("/EverDayWork/GetScheduleInfoForTab2", { "id": item.id, "time": $("#RiQiBeiFenText").val() }, function (Info) {
                        if (Info == undefined) {
                            return;
                        }
                        $("#ScheduleInfoTab").html("<tr><td>人员名称</td><td>日总结信息</td></tr>")
                        $.each(Info, function (index, item) {
                            $("#ScheduleInfoTab").append("<tr><td>" + item.Name + "</td><td>" + item.Text + "<input type='hidden' value='" + item.ID + "'/></td></tr>");
                        })
                        $("#SchTypeCount").html("");
                        $("#AllInfoWindowDiv").window("center");
                        $("#AllInfoWindowDiv").window("open");
                    })
                }

                GetSeePerson();
            }
        }


        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }



        //加载日程类型页面
        function loadData(pars) {
            $("#TTdiv").css("display", "block");
            $("#tt").addClass("easyui-datagrid");
            $('#tt').datagrid({
                url: '/EverDayWork/GetScheduleType',
                title: '日程类型',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '编号', align: 'center' },
                    { field: 'ItemText', title: '日程状态种类', align: 'center' },
                    {
                        field: 'Del', title: '编辑栏', align:'center',
                        formatter: function (value, row, index) {
                            return "<a href='#' class='l-btn' style='margin:0px 5px;padding:2px 8px ' onclick='deldata()' >删除</a>";
                    } },
                ]],
                toolbar:"#AddScheduleTypeBtnDIV",
                onLoadSuccess: function () {
                }
            });
        }

        //加载文件类型页面
        function loadFileType(pars) {
            cleanDatagrid();
            $("#TTdiv").css("display", "block");
            $('#tt').datagrid({
                url: '/EverDayWork/GetFileType',
                title: '文件类型',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '文件类型编号', align: 'center' },
                    { field: 'FileTypeENGName', title: '文件扩展名', align: 'center' },
                    { field: 'FileTypeCHNName', title: '文件类型', align: 'center' },
                    {
                        field: 'Del', title: '编辑栏', align: 'center',
                        formatter: function (value, row, index) {
                            return "<a href='#' class='l-btn' style='margin:0px 5px;padding:2px 8px ' onclick='delfiletype()' >删除</a>";
                        }
                    },
                ]],
                toolbar: "#AddFileTypeBtnDIV",
                onLoadSuccess: function () {

                }
            });
        }

        //加载日程页面
        function loadSchedule(pars) {
            $("#TTdiv").css("display", "block");
            $('#tt').datagrid({
                url: '/EverDayWork/GetSchedule',
                title: '个人日程',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '日程编号' , align:'center'},
                    { field: 'UserID', title: '用户名称', align: 'center' },
                    {
                        field: 'ScheduleTime', title: '日程时间', align:'center',formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    { field: 'ScheduleText', title: '日程内容', align: 'center' },
                    { field: 'ScheduleTypeID', title: '日程类型', align: 'center' },
                    {
                        field: 'TextReadBak', title: '日程审核状态', align: 'center', formatter: function (value, row, col) {
                            if (value != "未查阅") {
                                return "<a href='javascript:SeeTextReadBak()' class='l-btn' style='margin:0px 5px;padding:2px 8px' >查看查阅意见</a>";
                            } else {
                                return value;
                            }
                        }
                    },
                    { field: 'TextReadUser', title: '日程审核人', align: 'center' },
                    {
                        field: 'TextReadTime', title: '日程审核时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    { field: 'FileItemID', title: '文件编号', align: 'center' },
                    {
                        field: 'EditFile', title: '文件编辑栏', align: 'center', formatter: function (value, row, index) {
                            if(row.FileItemID == null){
                                return "<a href='javascript:addUploadFiles()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>补充上传文件</a>";
                            }else{
                                return "<a href='javascript:checkFiles()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查看文件</a><a href='javascript:addUploadFiles()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>补充上传文件</a>";
                            }
                        }
                    },
                    {
                       field: 'EditSchedule', title: '日程编辑栏', align: 'center', formatter: function (value, row, index) {
                           return "<a href='javascript:updateSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>修改</a><a href='javascript:delSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>删除</a>";
                       }
                    },
                    {
                        field: 'ScheduleAddTime', title: '日程创建时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    {
                        field: 'ScheduleUpdateTime', title: '日程最后修改时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    }
                ]],
                toolbar: "#AddScheduleBtnDIV",
                onLoadSuccess: function () {
                }
            });
        }

        //加载下级用户日程页面
        function loadDownUser(pars) {
            cleanDatagrid();
            $("#TTdiv").css("display", "block");
            $('#tt').datagrid({
                url: '/EverDayWork/GetDownUser',
                title: '下级用户日程',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30},
                    { field: 'ID', title: '日程编号', align: 'center'},
                    { field: 'UserID', title: '用户名称', align: 'center' },
                    {
                        field: 'ScheduleTime', title: '日程时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    { field: 'ScheduleText', title: '日程内容', align: 'center'},
                    { field: 'ScheduleTypeID', title: '日程类型', align: 'center' },
                    { field: 'FileItemID', title: '文件编号', align: 'center' },
                    {
                        field: 'Edit', title: '编辑栏', align: 'center', formatter: function (value, row, index) {
                            if (row.FileItemID == null) {
                                return "<a href='javascript:reviewSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查阅意见</a>";
                            } else {
                                return "<a href='javascript:checkFiles()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查看文件</a><a href='javascript:reviewSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查阅意见</a>";
                            }
                        }
                    },
                    {
                        field: 'TextReadBak', title: '日程审核状态', align: 'center', formatter: function (value, row, col) {
                            if (value != "未查阅") {
                                return "<a href='javascript:SeeTextReadBak()' class='l-btn' style='margin:0px 5px;padding:2px 8px' >查看查阅意见</a>";
                            } else {
                                return value;
                            }
                        }
                    },
                    { field: 'TextReadUser', title: '日程审核人', align: 'center' },
                    {
                        field: 'TextReadTime', title: '日程审核时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    {
                        field: 'ScheduleAddTime', title: '日程创建时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    {
                        field: 'ScheduleUpdateTime', title: '日程最后修改时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    }
                ]],
                toolbar:"#ChooseSerchTypeDIV",
                onLoadSuccess: function () {

                }
            });
        }

        //加载大日历表筛选页面
        function loadCalendar() {
            $("#TTdiv").css("display", "none");
            $("#pbr").show();
            probar();
            $.post("/EverDayWork/GetTimesTS", {}, function (dat) {
                var md = dat.ter;
                var mydate = new Date();
                $("#calendarDiv").calendar({
                    fit: true,
                    border: false,
                    firstDay: 0,
                    weeks: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
                    months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月',
                     '九月', '十月', '十一月', '十二月'],
                    year: mydate.getFullYear(),
                    month: mydate.getMonth() + 1,
                    current: new Date(mydate.getYear(), mydate.getMonth(), mydate.getDay()),
                    onSelect: function (date) {
                        $("#RiQiBeiFenText").val(date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日");
                        var x = show_X(event);
                        var y = show_Y(event);
                        $('#calendarSmallDiv').menu('show', {
                            left: x,
                            top: y
                        });
                    },
                    formatter: function (date) {
                        var thistime = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                        var mydate1 = new Date();
                        var str = "";
                        if (md != undefined) {
                            if (md.length > 0) {
                                if ((date.getFullYear() + "-" + (date.getMonth() + 1)) == (mydate1.getFullYear() + "-" + (mydate1.getMonth() + 1))) {
                                    var d = date.getDate() - 1;
                                    var ldcpn = md[d]["LdcPerson"];
                                    $.each(ldcpn, function (index, val) {

                                        str = str + "<br/>" + val["Person"] + ":" + val["count"];
                                    })
                                }
                            }
                        }      
                        return +date.getDate() +str;
                    }
                });
                $("#pbr").hide();
                $("#calendarDiv").css("display", "block");
                $('#pbr').progressbar('setValue', 0);
            })

           
        }
        function probar() {
            $('#pbr').progressbar({
                width: $("#dgdiv").width()
            });
            var value = $('#pbr').progressbar('getValue');
            if (value < 100) {
                value += Math.floor(Math.random() * 5);
                $('#pbr').progressbar('setValue', value);
                setTimeout(arguments.callee, 200);
            }
        }

        function SeeTextReadBak(value) {
            var row = $("#tt").datagrid("getSelected");
            $("#TRBText").val(row.TextReadBak);
            document.getElementById("TRBText").setAttribute('readOnly', true);
            $("#SeeTextReadBakDiv").window("open");
        }

        //加载已审核日程
        function loadExamineSchedule(pars) {
            $("#TTdiv").css("display", "block");
            LoadWdinfo();
            reload(pars);
        }
        function reload(pars)
        {
            cleanDatagrid();
            $('#tt').datagrid({
                url: '/EverDayWork/GetExamineSchedule',
                title: '已审核日程',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '日程编号', align: 'center' },
                    { field: 'UserID', title: '用户名称', align: 'center' },
                    {
                        field: 'ScheduleTime', title: '日程时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    {
                        field: 'TextReadBak', title: '中层领导查阅意见', align: 'center', formatter: function (val, row, ix) {
                            return "<b>" + val + "</b>";
                        }
                    },
                    { field: 'TextReadUser', title: '中层查阅人', align: 'center' },
                    { field: 'FileItemID', title: '文件编号', align: 'center',hidden:'true' },
                    {
                        field: 'TextReadTime', title: '中层查阅时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    {
                        field: 'ExamineState', title: '高层领导审核状态', align: 'center', formatter: function (value, row, index) {
                            if (value == "未审核") {
                                return "<a href='javascript:ExamineSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>审核查阅意见</a>";
                            } else {
                                return value;
                            }
                        }
                    },
                    { field: 'ExamineText', title: '高层领导审核意见', align: 'center' },
                    { field: 'ExamineUser', title: '高层审核人', align: 'center' },
                    {
                        field: 'Look', title: '查看栏', align: 'center', formatter: function (value, row, index) {
                            if (row.FileItemID == null) {
                                return "<a href='javascript:checkSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查看日程详细</a><a href='javascript:CheckExamineSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查看审核意见</a>";
                            } else {
                                return "<a href='javascript:checkSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查看日程详细</a><a href='javascript:checkFiles()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查看文件</a><a href='javascript:CheckExamineSchedule()' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>查看审核意见</a>";
                            }
                        }
                    }
                ]],
                toolbar: "#ChooseSerchTypeDIV2,#SearchboxDiv",
                onLoadSuccess: function () {

                }
            });
        }

        //获取日记条数
        function LoadWdinfo() {
            $.post("/EverDayWork/GetNumber", {}, function (NumberInfo) {
                setShowNumber(NumberInfo);
            })
            $("#InfoShowDiv").css("display", "block");
        }
        function setShowNumber(data) {
            $("#ScheduleSum").html(data.scum);
            $("#NoCheckedNum").html(data.nnum);
            $("#CheckedNum").html(data.cnum);
            $("#NoExaminedNum").html(data.exnum);
        }
        //查阅下级日程
        function reviewSchedule() {
            var row = $("#tt").datagrid("getSelected");           
            chengidtext(row.ID,row.TextReadBak)
          
        }
        //查阅下级日常执行方法
        function chengidtext(id, text,index) {
            
            $("#TextReadBak").val(text);
            $("#ReviewScheduleID").val(id);
            $("#tablerows").val(index);
            $("#ReviewScheduleDIV").css("display", "block");
            $('#ReviewScheduleDIV').dialog({
                title: "查阅日程",
                width: 450,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $("#reviewschedulefrom").submit();//提交表单
                    }
                },
                {
                    text: '取消',
                    handler: function () {
                        $('#ReviewScheduleDIV').dialog('close');
                    }
                },
                {
                     text: '阅览',
                 iconCls: 'icon-ok',
                 handler: function () {
                     $("#TextReadBak").val("阅");
                     $("#reviewschedulefrom").submit();//提交表单
                 }
              }]
            });
        }

        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours()< 10 ? "0" +date.getHours():date.getHours();
            var minutes = date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes();
            var seconds = date.getSeconds()<10?"0"+date.getSeconds():date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minutes + ":" + seconds;
        }
        function ChangeDateFormat2(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return  hour + ":" + minutes + ":" + seconds;
        }
        //补充上传文件以后调用的方法
        function afterAddUploadFileEdit(data) {
            if (data.ret == "ok") {
                try {
                    $('#tt').datagrid('reload');
                    $('#AddUploadFileDIV').dialog('close');
                    $("#Upfiletab  input").val("");
                    $("#Upfiletab  textarea").val("");
                }
                catch (e) {

                }

            } else if (data.ret == "no") {
                $.messager.alert("提示", data.msg, "error");
            } else {
                $.messager.alert("提醒", "修改数据错误!!", "error");
            }
        }
        //修改日程类型完成以后调用该方法
        function afterScheduleTypeEdit(data) {
            if (data.ret == "ok") {
                try
                {
                    $('#tt').datagrid('reload');
                    $('#AddScheduleTypeDIV').dialog('close');
                }
                catch(e)
                {

                }

            } else if (data.ret == "no") {
                $.messager.alert("提示",data.msg,"error");
            } else {
                $.messager.alert("提醒", "修改数据错误!!", "error");
            }
        }
        //修改日程完成以后调用的方法
        function afterScheduleEdit(data) {
            $.messager.alert("提示","修改数据成功！");
            $('#tt').datagrid('reload');
            $('#UpdateScheduleDIV').dialog('close');
        }
        //添加日程以后调用
        function afterAddSchedule(data) {
            if (data.ret == "ok") {
                try {
                    $('#tt').datagrid('reload');
                    $('#AddScheduleDIV').dialog('close');
                }
                catch (e) {

                }

            } else if (data.ret == "no") {
                $.messager.alert("提示", data.msg, "error");
            } else {
                $.messager.alert("提醒", "修改数据错误!!", "error");
            }
        }
        //添加文件类型之后调用
        function afterAddFileType(data) {
            if (data.ret == "ok") {
                try {
                    $('#tt').datagrid('reload');
                    $('#AddFileTypeDIV').dialog('close');
                }
                catch (e) {

                }

            } else {
                $.messager.alert("提醒", "修改数据错误!!", "error");
            }
        }
        //查阅下级日程后调用
        function afterReviewSchedule(data) {           
            if (data.ret == "ok") {
                
                if (data.trows.length > 0) {
                    var text = data.text;
                    var treq = parseInt(data.trows )+ 1;
                    $("#ScheduleInfoTab tr:eq(" + treq + ") td:eq(5) ").text(text);
                }
                try {
                    $('#tt').datagrid('reload');
                    $('#ReviewScheduleDIV').dialog('close');
                }
                catch (e) {

                }
              

            } else if (data.ret == "no") {
                $.messager.alert("提示", data.msg, "error");
            } else {
                $('#tt').datagrid('reload');
                $('#ReviewScheduleDIV').dialog('close');
            }
        }
        //数字验证
        function num(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
        //添加日程类型
        function AddScheduleTypeFc() {
            $("#AddScheduleTypeDIV").css("display", "block");
            $('#AddScheduleTypeDIV').dialog({
                title: "添加日程状态",
                width: 450,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        if ($("#ItemText").val().trim().length <= 0)
                        {
                            $.messager.alert("提示", "值不可以为空！");
                            return;
                        }
                        $("#addscheduletypefrom").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#AddScheduleTypeDIV').dialog('close');
                    }
                }]
            });
        }
        //添加文件类型
        function AddFileType() {
            $("#AddFileTypeDIV").css("display", "block");
            $('#AddFileTypeDIV').dialog({
                title: "添加日程状态",
                width: 450,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        if ($("#FileTypeEName").val().trim().length <= 0) {
                            $.messager.alert("提示", "文件扩展名不可以为空！");
                            return;
                        }
                        var reg = /^[.]\w{1,}$/;
                        if (!reg.test($("#FileTypeEName").val())) {
                            $.messager.alert("提示", "文件扩展名不合法！");
                            return;
                        }
                        if ($("#FileTypeCName").val().trim().length <= 0) {
                            if (!confirm("文件类型说明最好备注一下，方便理解！如备注，请点击取消！如不备注，请点击确定！")) {
                                return;
                            }
                        }
                        $("#addfiletypefrom").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#AddFileTypeDIV').dialog('close');
                    }
                }]
            });
        }

        //查看日程详细
        function checkSchedule() {
            var row = $('#tt').datagrid('getSelected');
            $.post("/EverDayWork/GetScheduleInfo", { "id": row.ID }, function (scheduleInfo) {
                $("#Uid").val(scheduleInfo.UserID);
                document.getElementById("Uid").setAttribute('readOnly', true);
                var a = ChangeDateFormat(scheduleInfo.ScheduleTime);
                var b = ChangeDateFormat(scheduleInfo.ScheduleAddTime);
                $("#SCHTime").val(a);
                document.getElementById("SCHTime").setAttribute('readOnly', true);
                $("#SCHAddTime").val(b);
                document.getElementById("SCHAddTime").setAttribute('readOnly', true);
                $("#SCHType").val(scheduleInfo.ScheduleTypeID);
                document.getElementById("SCHType").setAttribute('readOnly', true);
                $("#SCHText").val(scheduleInfo.ScheduleText);
                document.getElementById("SCHText").setAttribute('readOnly', true);
                $("#CheckScheduleInfoDiv").window("open");
            })
        }

        //查看文件
        function checkFiles() {
            var row = $('#tt').datagrid('getSelected');
            if (row.FileItemID != null) {
                $.post("/EverDayWork/checkFile", { "id": row.FileItemID,"schid":"" }, function (fileInfo) {
                    var ay = new Array();
                    ay = fileInfo.split(",");
                    var t = 1;
                    var u = 1;
                    for (var i = 0; i < ay.length; i++) {
                        if (i == 0 || i % 2 == 0) {
                            if(ay[i+1]==undefined){
                                $("#CheckFileTab").append("<tr class='tr5'><td>文件" + (t++) + "备注：</td><td><label>无备注信息</label></td></tr><tr class='tr5'><td>文件" + (u++) + "下载路径：</td><td><label style='color:darkgrey'>无文件相关路径(可能未上传文件)</label></td></tr><tr class='tr5'><td colspan='2'>&nbsp;&nbsp;&nbsp;</td></tr>");
                            }else{
                                $("#CheckFileTab").append("<tr class='tr5'><td>文件" + (t++) + "备注：</td><td><label>" + ay[i] + "</label></td></tr><tr><td colspan='2'><img width='200px' height='200'  src='" + ay[i+1] + "'/></td></tr><tr><td><a href='" + ay[i + 1] + "' target='_blank' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>下载</a></td></tr>");
                            }
                        }
                        else {
                            continue;
                        }
                    }
                    $("#CheckFileDIV").css("display", "block");
                    $('#CheckFileDIV').dialog({
                        title: "查看文件",
                        width: 500,
                        height: 500,
                        collapsible: true,
                        resizable: true,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            handler: function () {
                                $('#CheckFileDIV').dialog('close');
                                $("#CheckFileTab").html("");
                            }
                        }],
                        onClose: function () {
                            $("#CheckFileTab").html("");
                        }
                    });
                });
            } else {
                $.messager.alert("提示", "无文件！！！");
            };
        }

        //查看文件(总结报表用)
        function CheckSchFile(s) {
            var fileID = $(s).next().val();
            if (fileID != "null") {
                $.post("/EverDayWork/checkFile", { "id": fileID }, function (fileInfo) {
                    var ay = new Array();
                    ay = fileInfo.split(",");
                    var t = 1;
                    var u = 1;
                    for (var i = 0; i < ay.length; i++) {
                        if (i == 0 || i % 2 == 0) {
                            if (ay[i + 1] == undefined) {
                                $("#CheckFileTab").append("<tr class='tr5'><td>文件" + (t++) + "备注：</td><td><label>无备注信息</label></td></tr><tr class='tr5'><td>文件" + (u++) + "下载路径：</td><td><label style='color:darkgrey'>无文件相关路径(可能未上传文件)</label></td></tr><tr class='tr5'><td colspan='2'>&nbsp;&nbsp;&nbsp;</td></tr>");
                            } else {
                                $("#CheckFileTab").append("<tr class='tr5'><td>文件" + (t++) + "备注：</td><td><label>" + ay[i] + "</label></td></tr><tr><td colspan='2'><img width='200px' height='200'  src='" + ay[i + 1] + "'/></td></tr><tr><td><a href='" + ay[i + 1] + "' target='_blank' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>下载</a></td></tr>");
                            }
                        }
                        else {
                            continue;
                        }
                    }
                    $("#CheckFileDIV").css("display", "block");
                    $('#CheckFileDIV').dialog({
                        title: "查看文件",
                        width: 500,
                        height: 500,
                        collapsible: true,
                        resizable: true,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            handler: function () {
                                $('#CheckFileDIV').dialog('close');
                                $("#CheckFileTab").html("");
                            }
                        }],
                        onClose: function () {
                            $("#CheckFileTab").html("");
                        }
                    });
                });
            } else {
                $.messager.alert("提示", "无文件！！！");
            };
        }

        //查看审核意见(总结报表用)
        function CheckYiJian(s) {
            var schid = $(s).next().val();//日程id
            
        }



        //查看审核查阅意见
        function CheckExamineSchedule() {
            var row = $('#tt').datagrid('getSelected');
            if (row.ExamineState != "无审核") {
                $.post("/EverDayWork/ExamineSchedule", { "id": row.ID }, function (ExamineInfo) {
                    var ay = new Array();
                    ay = ExamineInfo.split(",");
                    var t = 1;
                    var u = 1;
                    for (var i = 0; i < ay.length; i++) {
                        if (i == 0 || i % 2 == 0) {
                            if (ay[i + 1] == undefined) {

                            } else {
                                $("#CheckExamineTab").append("<tr class='tr5'><td>审核人：</td><td><label>" + ay[i] + "</label></td></tr><tr><td>审核意见：</td><td>" + ay[i + 1] + "</td></tr><tr class='tr5'><td colspan='2'>&nbsp;&nbsp;&nbsp;</td></tr>");
                            }
                        }
                        else {
                            continue;
                        }
                    }
                    $("#CheckExamineDIV").css("display", "block");
                    $('#CheckExamineDIV').dialog({
                        title: "查看审核意见",
                        width: 500,
                        height: 500,
                        collapsible: true,
                        resizable: true,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            handler: function () {
                                $('#CheckExamineDIV').dialog('close');
                                $("#CheckExamineTab").html("");
                            }
                        }],
                        onClose: function () {
                            $("#CheckExamineTab").html("");
                        }
                    });
                });
            } else {
                $.messager.alert("提示", "无相关审核意见！！！");
            };
        }

        //审核此条意见
        function ExamineSchedule() {
            var row = $('#tt').datagrid('getSelected');
            $.post("/EverDayWork/GetCanOrCant", { "id": row.TextReadUser,"state":row.ExamineState,"ExamineUser":row.ExamineUser }, function (canOrCant) {
                if (canOrCant.ret == "no") {
                    $.messager.alert("提示", canOrCant.msg);
                    return;
                }else if(canOrCant.ret == "ok"){
                    $("#schID").val(row.ID);
                    $("#AddExamineScheduleDiv").window('open');
                } else {
                    $.messager.alert("提示","发现未知错误！");
                }
            })
        }

        //时间查询功能
        function DoSerch() {
            var startTime = $("#start").datetimebox("getValue");
            var endTime = $("#end").datetimebox("getValue");
            //var re = /^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
            //if(re.test(startTime)){
            //    if (!re.test(endTime)) {
            //        $.messager.alert("提示", "输入的截止日期格式不正确！");
            //        return;
            //    }
            //} else {
            //    $.messager.alert("提示", "输入的起始日期格式不正确！");
            //    return;
            //}
            var val = $('input:radio[name="SerchType2"]:checked').val();
            if (val == null) {
                $.post("/EverDayWork/FindAll", { "startTime": startTime, "endTime": endTime }, function (serverData) {

                    $("#tt").datagrid("loadData", { rows: serverData.rows, total: serverData.total });
                })
            }
            else if(val == "BM"){
                var BMID = $("#DBMInput2").combobox("getValue");
                var BMUID = $("#DBMUserInput2").combobox("getValue");
                $.post("/EverDayWork/FindAll2", { "startTime": startTime, "endTime": endTime, "BMID": BMID, "BMUID": BMUID }, function (serverData) {

                    $("#tt").datagrid("loadData", { rows: serverData.rows, total: serverData.total });
                })
            }else if(val == "User"){
                var DUID = $("#DUInput2").combobox("getValue");
                $.post("/EverDayWork/FindAll3", { "startTime": startTime, "endTime": endTime, "DUID": DUID }, function (serverData) {

                    $("#tt").datagrid("loadData", { rows: serverData.rows, total: serverData.total });
                })
            }
        }

        //添加审核意见点击确定
        function OkToAddExamineSchedule() {
            if ($("#ExamineText").val().trim().length <= 0) {
                $.messager.alert("提示", "请填写审核意见！");
                return;
            }
            $("#addexaminescheduleform").submit();
        }

        //添加之后调用方法
        function afterAddExamineSchedule() {
            $("#AddExamineScheduleDiv").window('close');
            $(".SmallWindow textarea").val("");
            $('#tt').datagrid('reload');
            $.messager.alert("提醒", "审核成功!!");
        }

     


        //增加上传文件
        function addUploadFiles() {
            var row = $('#tt').datagrid('getSelected');
            var schid = row.ID;
            var fileitemid = row.FileItemID;
            var scheduleid = row.ID;
            $("#AddUploadScheduleID").val(schid);
            $("#FirstFileID").val(fileitemid);
            $("#AddupLoadSchID").val(scheduleid);
            $("#AddUploadFileDIV").css("display", "block");
            $('#AddUploadFileDIV').dialog({
                title: "补充上传文件",
                width: 450,
                height: 450,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        document.getElementById("AddupLoadBeiZhu").value = document.getElementById("AddupLoadBeiZhuArea").value;
                        $("#adduploadfilefrom").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#AddUploadFileDIV').dialog('close');
                    }
                }]
            });
        }


        //补充上传文件返回url
        function addUploadFileClick() {
            $("#adduploadfilefrom").ajaxSubmit({
                success: function (data) {
                    var serverData = data.split(":");
                    if (serverData[0] == "yes") {
                        $("#AddupLoadUrl").val(serverData[1]);//将上传成功的图片地址放在隐藏input中
                        $.messager.alert("提示", "上传文件成功！");
                    }
                    else {
                        $.messager.alert("提示", serverData[1], "error");
                    }
                },
                url: "/EverDayWork/FileUpload",
                type: "post"
            });
        }

        //上传文件返回url
        function uploadFileClick() {
            $("#addschedulefrom").ajaxSubmit({
                success: function (data) {
                    var serverData = data.split(":");
                    if (serverData[0] == "yes") {
                        $("#Url").val(serverData[1]);//将上传成功的文件地址放在隐藏input中
                        $.messager.alert("提示","上传文件成功！");
                    }
                    else {
                        $.messager.alert("提示", serverData[1], "error");
                    }
                },
                url: "/EverDayWork/FileUpload",
                type: "post"
            });
        }
        //添加日程
        function AddScheduleFc() {
            $("#AddScheduleDIV").css("display", "block");
            $('#AddScheduleDIV').dialog({
                title: "添加日程",
                width: 450,
                height: 450,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        document.getElementById("BeiZhu").value = document.getElementById("BeiZhuArea").value;
                        var fileup = document.getElementById("fileupid").value;
                        var fileupurl = document.getElementById("Url").value;
                        
                        var typedata = $("#ScheduleType").combobox("getValue")
                        var timedata = $("#ScheduleTime").datetimebox("getValue");
                        var texts = $("#ScheduleText").val();
                        if (typedata.length <= 0) {
                            $.messager.alert("提示", "日程类型不可为空！")
                            return;
                        }
                        if (timedata.length <= 0) {
                            $.messager.alert("提示", "日期不可为空！")
                            return;
                        }
                        if (texts.length <= 0) {
                            $.messager.alert("提示", "内容不可为空！")
                            return;
                        }
                        if (fileup.trim().length > 0)
                        {
                            if (fileupurl.trim().length <= 0) {
                                $.messager.alert("提示", "选择的文件还未上传，请先点击上传再点击确认！");
                                return;
                            }
                        }
                        $("#addschedulefrom").submit();//提交表单

                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#AddScheduleDIV').dialog('close');
                    }
                } ]
            });
        }
        //修改日程
        function updateSchedule() {
            var row = $('#tt').datagrid('getSelected');
            if(row.TextReadBak != "未查阅"){
                $.messager.alert("提示", "已查阅完日程不能修改！");
                return;
            }
            $("#UpdateID").val(row.ID);
            document.getElementById("UpdateID").setAttribute('readOnly', true);
            $.post("/EverDayWork/getUpdateUserID", { "id": row.ID }, function (data) {
                var schuserid = data.retuid;
                var schtypeid = data.rettpid;
                document.getElementById("UpdateUserID").value = schuserid;
                document.getElementById("UpdateUserID").setAttribute('readOnly', true);
                $("#UpdateScheduleType").combobox("setValue", schtypeid);
            });
            $("#UpdateScheduleTime").datetimebox('setValue', ChangeDateFormat(row.ScheduleTime));
            document.getElementById("UpdateScheduleAddTime").value = ChangeDateFormat(row.ScheduleAddTime);
            document.getElementById("UpdateScheduleAddTime").setAttribute('readOnly', true);
            document.getElementById("UpdateScheduleText").value = row.ScheduleText;
            document.getElementById("UpdateTextReadBak").value = row.TextReadBak;
            document.getElementById("UpdateTextReadBak").setAttribute('readOnly', true);
            document.getElementById("UpdateTextReadUser").setAttribute('readOnly', true);
            document.getElementById("UpdateTextReadTime").setAttribute('readOnly', true);
            document.getElementById("UpdateFileItemID").value = row.FileItemID;
            document.getElementById("UpdateFileItemID").setAttribute('readOnly', true);

            $("#UpdateScheduleDIV").css("display", "block");
            $('#UpdateScheduleDIV').dialog({
                title: "修改日程",
                width: 450,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var re =/^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])\s+(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d$/;
                        if(re.test($("#UpdateScheduleTime").datetimebox("getValue"))){
                           $("#updateschedulefrom").submit();//提交表单
                        }
                        else {
                           $.messager.alert("提示", "<h3>请仔细检查日程时间的格式!</h3></br>日期格式：</br>年-月-日 时:分:秒&nbsp;&nbsp;(YYYY-MM-DD hh:mm:ss)");
                        }
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('#UpdateScheduleDIV').dialog('close');
                    }
                }]
            });
        }


        //删除文件类型
        function delfiletype() {
            //弹窗提示
            $.messager.confirm('提示', '确定要执行删除操作吗?', function (r) {
                if (r) {
                    var rows = $('#tt').datagrid('getSelections');
                    if (rows.length != 1) {
                        $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                        return;
                    }
                    $.post("/EverDayWork/DelFileType", { "id": rows[0].ID }, function (data) {
                        if (data.ret == "ok") {
                            $('#tt').datagrid("reload");
                        }
                        else {
                            $.messager.alert("提示", data.msg);
                        }
                    })
                }else{
                    return;
                }
            });
        }


        //删除日程
            function delSchedule() {
                //弹窗提示
                $.messager.confirm('提示', '确定要执行删除操作吗?', function (r) {
                    if (r) {
                        var rows = $('#tt').datagrid('getSelections');
                        if (rows.length != 1) {
                            $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                            return;
                        }
                        $.post("/EverDayWork/DelSchedule", { "id": rows[0].ID }, function (data) {
                            if (data.ret == "ok") {
                                $('#tt').datagrid("reload");
                            }
                            else {
                                $.messager.alert("提示", data.msg);
                            }
                        })
                    } else {
                        return;
                    }
                });
            }

            //删除日程类型
            function deldata() {
                var rows = $('#tt').datagrid('getSelections');
                if (rows.length != 1) {
                    $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                    return;
                }
                $.messager.confirm('提示', '确定要执行删除操作吗?', function (r) {
                    if (r) {
                        $.post("/EverDayWork/DelType", { "id": rows[0].ID }, function (data) {
                            if (data.ret == "ok") {
                                $('#tt').datagrid("reload");
                            }
                            else {
                                $.messager.alert("提示", data.msg);
                            }
                        })
                    }else{
                        return;
                    }
                });
            }
            //给予意见
            function JiYuYiJianBtn(obj, id) {
                JYid = id == undefined ? wid : id;
                JYbool = obj == 0 ? true : false;
                $("#JiYuYiJianDiv").window("open");
            }
            //已阅
            function YiYueBtn() {
               
            }
            //提交给予意见
            function OkToAddYiJian(obj, ids) {
                JYbool = obj == 2 ? false : JYbool;
                JYid = ids != 0 ? ids : JYid;
                var riqi = $("#RiQiBeiFenText").val();
                var yj = $("#yijianID").val();
                $.post("/EverDayWork/GeiYJBtnFunc", { "id": JYid, "time": riqi, "yesorno": JYbool, "yj": yj }, function (data) {
                                    
                    if (data.ret == "ok") {
                        cancel();
                        GetSeePerson();
                    }else
                    if (data.ret == "no") {
                        $.messager.alert("提示", "操作失败！");
                    }else
                    if (data.ret == "distinctJY") {
                        $.messager.alert("提示", "不可重复提交信息！");
                    }else if (data.ret == "Isdistc") {
                        $.messager.alert("提示", "不可给予自己反馈建议！");
                    } else if (data.ret == "dcyy") {
                        $.messager.alert("提示", "不可重复点击已阅！");
                    } else {
                        $.messager.alert("提示", data.ret);
                    }
                    JYid = 0;
                })
            }
        //获取点击已阅人员
            function GetSeePerson() {
                $(".appedDIV").remove();
                var riqi = $("#RiQiBeiFenText").val();
                $.post("/EverDayWork/YiYueBtnFunc", { "time": riqi, }, function (dat) {
                  
                    if (dat.rtr == undefined)
                    {
                        return;
                    }
                    if (dat.rtr.length > 2)
                    {
                        $("#weritPerson").html("");
                        $("#weritPerson").html(dat.rtr);
                    }
                    if (dat.temp == null) {
                        return;
                    }
                    if (dat.temp.length > 0) {
                        $.each(dat.temp, function (index, val) {
                            if (val["TextID"] >= 0) {
                                var divA = "<div title=\" " + val["YJUserinfoIDname"] + " \" class='easyui-layout appedDIV'   style='height:250px; '>  <div id='p1' data-options=\" region:'west' \"   title='" + val["TextID"] + "' style='width:220px;padding:10px'>";

                                var span = "<span>被反馈人员:" + val["uPjyname"] + "</span></br> <span>人员名称:" + val["YJUserinfoIDname"] + "</span></br><span>时间:" + ChangeDateFormat(val["AddYJtime"]) + "</span></br>" +
                                   "<span>已阅人员: <a style='color:red'>" +( val["thislistname"]==null?"":val["thislistname"]) + "</a></span></br>" +
                                    "<span><a href=\"javascript:OkToAddYiJian(2," + val["ID"] + ")\" class=\"l-btn\" style='margin:0px 5px;padding:2px 8px '>已阅</a></span><span><a href=\"javascript:JiYuYiJianBtn(0," + val["ID"] + ")\" class=\"l-btn\" style='margin:0px 5px;padding:2px 8px '>给予意见</a></span>"

                                var divB = "</div> <div id='p2' data-options=\"region:'center'\" title=\" \" style=\"padding:15px;background:#eee;\">" + val["YJText"] + "</div></div>";

                                $("#MasessAPPED").append(divA + span + divB);
                                $(".appedDIV").layout({
                                });
                            }
                        })
                      
                    }
                    
                });
            }
            
           
            //窗口取消功能
            function cancel() {
                try {
                    $("#AddExamineScheduleDiv").window('close');
                    $("#CheckScheduleInfoDiv").window('close');
                    $("#SeeTextReadBakDiv").window("close");
                    $(".SmallWindow textarea").val("");
                    $(".SmallWindow input").val("");
                }
                catch (e) {
                }
                try {
                    $("#JiYuYiJianDiv").window("close");
                    $("#yijianID").val("");
                    $("#ShenHeYJID").val("");
                    $("#ShenHeYJDiv").window("close");
                }
                catch (e) {
                }
                try { $("#ShenHeYJDiv").window('close'); }
                catch (e) {
                }


            }
    </script>
    <style >
        .cstable {
            padding:2px;
        }
            .cstable tr {

            }
       
    </style>
</head>
<body class="easyui-layout">
    <div id="divBtn" data-options="region:'west',split:true,title:'选项'" class="easyui-panel btnlink " style="width:150px; padding:8px;">
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuSchedule" style="width:98%;margin:10px auto">日程信息</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuDownUser" style="width:98%;margin:10px auto">下级日程信息</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuExamineSchedule" style="width:98%;margin:10px auto">中层审核日程</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuAllScheduleInfo" style="width:98%;margin:10px auto">总结报表</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuScheduleType" style="width:98%;margin:10px auto">日程状态</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuFileType" style="width:98%;margin:10px auto">管理上传文件类型</a>
        <div style="width:100%;height:50%"></div>
        <!----------------显示信息框区域-------------------->
        <div id="InfoShowDiv" style="display:none">
            <table style="font-size:10px" id="allSchNumID">
                <tr><td>下级总日程数：</td><td><b><label id="ScheduleSum"></label></b></td></tr>
                <tr><td>未查阅日程数：</td><td><b><label id="NoCheckedNum"></label></b></td></tr>
                <tr><td>已查阅日程数：</td><td><b><label id="CheckedNum"></label></b></td></tr>
                <tr><td>未审核日程数：</td><td><b><label id="NoExaminedNum"></label></b></td></tr>
            </table>
        </div>
        <div id="BMInfoShowDiv" style="display:none">
            <table style="font-size:10px" id="BuMenSchNumID">
                <tr><td>下级部门总日程数：</td><td><b><label id="BuMenScheduleSum"></label></b></td></tr>
                <tr><td>未查阅日程数：</td><td><b><label id="BuMenNoCheckedNum"></label></b></td></tr>
                <tr><td>已查阅日程数：</td><td><b><label id="BuMenCheckedNum"></label></b></td></tr>
                <tr><td>未审核日程数：</td><td><b><label id="BuMenNoExaminedNum"></label></b></td></tr>
            </table>
        </div>
    </div>
    <div data-options="region:'center',title:'数据报表'" id="dgdiv">

        <div id="TTdiv">
            <table id="tt" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
                <!--插入表格数据-->
            </table>
        </div>
        <!---------------添加日程按钮-------------------->
        <div id="AddScheduleBtnDIV" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" id="AddScheduleBtn" iconCls="icon-add" plain="true">添加日程</a>
            </div>
        </div>
        <!---------------添加日程状态按钮-------------------->
        <div id="AddScheduleTypeBtnDIV" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" id="AddScheduleTypeBtn" iconCls="icon-add" plain="true">添加日程状态</a>
            </div>
        </div>
        <div id="ChooseSerchTypeDIV" style="width:auto;height:30px;float:left">
            <div style="padding:5px;height:25px;float:left;line-height:25px">
                <b>请选择查找类型：</b>
                <label><input type="radio" name="SerchType" id="ByDBMid" />根据下级部门查询</label>
                <label><input type="radio" name="SerchType" id="ByDUid" />根据下级员工</label>
            </div>
            <!---------------下级部门下拉框-------------------->
            <div id="DownBuMenCombox" style="padding:4px;height:25px;float:left;line-height:25px">
                <b>下级部门：</b>
                <input id="DBMInput" class="easyui-combobox" name="DownBuMenName"
                       url="/EverDayWork/GetDownBuMenall"
                       valueField="BMID"
                       textField="Name"
                       panelHeight="auto"
                       style="width:100px" />
                <b>下级部门所有成员</b>
                <input id="DBMUserInput" class="easyui-combobox" name="DownBuMenUserName"
                       valueField="ID"
                       textField="name"
                       panelHeight="auto"
                       style="width:100px" />
            </div>
            <!---------------下级用户下拉框-------------------->
            <div id="DownUserCombox" style="padding:4px;height:25px;float:left;line-height:25px">
                <b>下级部门成员：</b>
                <input id="DUInput" name="DownUserName"
                       class="easyui-combobox"
                       url="/EverDayWork/GetDownUserall"
                       valueField="ID"
                       textField="name"
                       panelHeight="auto"
                       style="width:100px" />
            </div>
        </div>

        <!------------日历显示区窗口-------------->
        <div class="easyui-calendar" id="calendarDiv"></div>
        <div id="pbr" class="easyui-progressbar" style=""></div>
        <!--------添加文件类型按钮-------->
        <div id="AddFileTypeBtnDIV" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" id="AddFileTypeBtn" iconCls="icon-add" plain="true">添加文件扩展类型</a>
            </div>
        </div>
    </div>

    <!---------------补充上传文件--------------------->
    <div id="AddUploadFileDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddUploadFile", "EverDayWork", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddUploadFileEdit" }, new { id = "adduploadfilefrom" }))
        {<table id="Upfiletab">
                <tr>
                    <td colspan="2"><b style="font-size:50px;margin:10px auto">补充上传文件</b></td>
                </tr>
                <tr>
                    <td>文件</td>
                    <td><input type="file" id="AddupLoadFileID" name="fileupname" /><input type="button" id="AddupLoadFileBtn" value="上传" /></td>
                </tr>
                <tr>
                    <td>文件备注</td>
                    <td><textarea id="AddupLoadBeiZhuArea" name="AddupLoadBeiZhuArea" style="width:302px"></textarea></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="AddupLoadUrl" name="Url" /><input type="hidden" id="AddUploadScheduleID" name="AddUploadScheduleName" /><input type="hidden" id="FirstFileID" name="FirstFileName" /></td>
                    <td><input type="hidden" id="AddupLoadBeiZhu" name="BeiZhu" /><input type="hidden" id="AddupLoadSchID" name="SchID" /></td>
                </tr>
            </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>

        }
    </div>

    <!---------------添加日程类型信息--------------------->
    <div id="AddScheduleTypeDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddScheduleType", "EverDayWork", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterScheduleTypeEdit" }, new { id = "addscheduletypefrom" }))
        {<table>
                <tr><td>日程状态</td><td><input type="text" name="ItemText" id="ItemText" /></td></tr>
            </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>

        }
    </div>

    <!---------------添加日程----------------->
    <div id="AddScheduleDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddSchedule", "EverDayWork", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddSchedule" }, new { id = "addschedulefrom" }))
        { 
            <table id="AddScheduleTab" class="cstable">
                <tr><td>日程时间</td><td><input type="text" class="easyui-datetimebox" name="ScheduleTime" id="ScheduleTime" /></td></tr>
                <tr><td>日程内容</td><td><textarea class="easyui-textarea" name="ScheduleText" id="ScheduleText" style="width:302px;height:158px"></textarea></td></tr>
                <tr>
                    <td>日程类型</td>
                    <td>
                        <!--从数据库取值的下拉菜单-->
                        <input class="easyui-combobox" id="ScheduleType"
                               name="ScheduleTypeID"
                               url="/EverDayWork/GetScheduleTypeall"
                               valueField="ID"
                               textField="ItemText"
                               panelHeight="auto"
                               style="width:100px" />
                    </td>
                </tr>
                <tr>
                    <td>文件</td>
                    <td><input type="file" id="fileupid" name="fileupname" /><input type="button" id="uploadFileBtn" value="上传" /></td>
                </tr>
                <tr>
                    <td>文件备注</td>
                    <td><textarea id="BeiZhuArea" name="BeiZhuArea" style="width:302px;height:50px"></textarea></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="Url" name="Url" /></td>
                    <td><input type="hidden" id="BeiZhu" name="BeiZhu" /></td>
                </tr>
            </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>

        }
    </div>

    <!---------------添加文件类型----------------->
    <div id="AddFileTypeDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddFileType", "EverDayWork", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddFileType" }, new { id = "addfiletypefrom" }))
        {<table id="AddFileTypeTab">
                <tr><td>文件扩展名</td><td><input type="text" class="easyui-textbox" name="FileTypeENGName" id="FileTypeEName" /></td></tr>
                <tr><td>文件类型说明</td><td><input type="text" class="easyui-textbox" name="FileTypeCHNName" id="FileTypeCName" /></td></tr>
            </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>

        }
    </div>

    <!-------------查看文件--------------->
    <div id="CheckFileDIV" style="height:100%; width:100%;">
        <table id="CheckFileTab">
            <!--用于遍历写出每一条文件url和备注信息-->
        </table>
        <table>
            <tbody id="Selebody"></tbody>
        </table>
    </div>

    <!-------------查看审核意见--------------->
    <div id="CheckExamineDIV" style="height:100%; width:100%;">
        <table id="CheckExamineTab">
            <!--用于遍历写出每一条审核人和审核意见-->
        </table>
        <table>
            <tbody id="Selebody"></tbody>
        </table>
    </div>

    <!-------------修改日程--------------->
    <div id="UpdateScheduleDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("UpdateSchedule", "EverDayWork", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterScheduleEdit" }, new { id = "updateschedulefrom" }))
        {<table id="UpdateScheduleTab">
                <tr><td>日程编号</td><td><input type="text" name="ID" id="UpdateID" /></td></tr>
                <tr><td>用户编号</td><td><input type="text" name="UserID" id="UpdateUserID" /></td></tr>
                <tr><td>日程时间</td><td><input type="text" class="easyui-datetimebox" name="ScheduleTime" id="UpdateScheduleTime" /></td></tr>
                <tr><td>日程创建时间</td><td><input type="text" name="ScheduleAddTime" id="UpdateScheduleAddTime" /></td></tr>
                <tr><td>日程内容</td><td><textarea class="easyui-textarea" name="ScheduleText" id="UpdateScheduleText" style="width:302px;height:158px"></textarea></td></tr>
                <tr>
                    <td>日程类型</td>
                    <td>
                        <!--从数据库取值的下拉菜单-->
                        <input class="easyui-combobox"
                               id="UpdateScheduleType"
                               name="ScheduleTypeID"
                               url="/EverDayWork/GetScheduleTypeall"
                               valueField="ID"
                               textField="ItemText"
                               panelHeight="auto" style="width:100px" />
                    </td>
                </tr>
                <tr><td>日程审核状态</td><td><input type="text" name="TextReadBak" id="UpdateTextReadBak" /></td></tr>
                <tr><td>日程审核人</td><td><input name="TextReadUser" id="UpdateTextReadUser" /></td></tr>
                <tr><td>日程审核时间</td><td><input type="text" name="TextReadTime" id="UpdateTextReadTime" /></td></tr>
                <tr><td>文件编号</td><td><input type="text" name="FileItemID" id="UpdateFileItemID" /></td></tr>
            </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>
        }
    </div>

    <!--------------查阅下级日程-------------------->
    <div id="ReviewScheduleDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("ReviewSchedule", "EverDayWork", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterReviewSchedule" }, new { id = "reviewschedulefrom" }))
        {<table id="ReviewScheduleTab">
                <tr><td colspan="2"><h1>查阅意见</h1></td></tr>
             
                <tr><td><input type="hidden" id="ReviewScheduleID" name="ReviewScheduleID" /><input type="hidden" id="tablerows" name="tablerows" /></td></tr>
                <tr>
                    <td><h2>请输入您的意见：</h2><textarea name="TextReadBak" id="TextReadBak" style="width:302px;height:158px"></textarea></td>
                </tr>
            </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>
        }
    </div>

    <!-------------------查看日程详细--------------------->
    <div id="CheckScheduleInfoDiv" class="easyui-window" title="日程详细信息" closed="true" closable="false" collapsible="false" minimizable="false" maximizable="false" style="width:402px;height:321px;">
        <form class="SmallWindow" style="padding:10px 20px 10px 40px;">
            <table>
                <tr><td><b>用户名称：</b></td><td colspan="2"><input type="text" id="Uid" /></td></tr>
                <tr><td><b>日程时间：</b></td><td colspan="2"><input type="text" id="SCHTime" /></td></tr>
                <tr><td><b>日程内容：</b></td><td colspan="2"><textarea id="SCHText" style="width:173px;height:80px;resize:none;"></textarea></td></tr>
                <tr><td><b>日程创建时间：</b></td><td colspan="2"><input type="text" id="SCHAddTime" /></td></tr>
                <tr><td><b>日程类型：</b></td><td colspan="2"><input type="text" id="SCHType" /></td></tr>
            </table>
            <div style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="cancel()">确定</a>
            </div>
        </form>
    </div>

    <!-------------------审阅查阅意见--------------------->
    <div id="AddExamineScheduleDiv" class="easyui-window" title="审核下级查阅意见" closed="true" closable="false" collapsible="false" minimizable="false" maximizable="false" style="width:400px;height:250px;">
        @using (Ajax.BeginForm("AddExamineSchedule", "EverDayWork", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddExamineSchedule" }, new { id = "addexaminescheduleform" }))
        {
            <form class="SmallWindow" style="padding:10px 20px 10px 40px;">
                <table>
                    <tr><td><b>意见</b></td></tr>
                    <tr><td><textarea id="ExamineText" name="ExamineText" style="width:377px;height:107px"></textarea></td></tr>
                    <tr><td><input type="hidden" id="schID" name="ScheduleID" /></td></tr>
                </table>
                <div style="padding:5px;text-align:center;">
                    <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="OkToAddExamineSchedule()">确定</a>
                    <a href="#" class="easyui-linkbutton" icon="icon-cancel" onclick="cancel()">取消</a>
                </div>
            </form>
        }
    </div>

    <div id="ChooseSerchTypeDIV2" style="width:auto;float:left;height:30px;display:none">
        <div style="margin:2px;height:25px;float:left;line-height:25px">
            <b>查找类型：</b>
            <label><input type="radio" name="SerchType2" id="ByDBMid2" value="BM" />根据下属部门</label>
            <label><input type="radio" name="SerchType2" id="ByDUid2" value="User" />根据下属员工</label>
        </div>
        <!---------------下级部门下拉框-------------------->
        <div id="DownBuMenCombox2" style="margin:2px;height:25px;float:left;line-height:25px">
            <b>下属部门:</b>
            <input id="DBMInput2" class="easyui-combobox" name="DownBuMenName"
                   url="/EverDayWork/GetDownBuMenall"
                   valueField="BMID"
                   textField="Name"
                   panelHeight="auto"
                   style="width:100px" />
            <b>下属部门成员:</b>
            <input id="DBMUserInput2" class="easyui-combobox" name="DownBuMenUserName"
                   valueField="ID"
                   textField="name"
                   panelHeight="auto"
                   style="width:100px" />
        </div>
        <!---------------下级用户下拉框-------------------->
        <div id="DownUserCombox2" style="margin:2px;height:25px;float:left;line-height:25px">
            <b>下属部门成员:</b>
            <input id="DUInput2" name="DownUserName"
                   class="easyui-combobox"
                   url="/EverDayWork/GetDownUserall"
                   valueField="ID"
                   textField="name"
                   panelHeight="auto"
                   style="width:100px" />
        </div>
    </div>

    <!----------------搜索框--------------------->
    <div id="SearchboxDiv" style="width:auto;height:30px;line-height:30px;float:left">
        <b>&nbsp;&nbsp;&nbsp;&nbsp;</b>
        从：<input type="text" id="start" name="start" class="easyui-datebox" style="height:18px;width:100px;line-height:18px" />
        到：<input type="text" id="end" name="end" class="easyui-datebox" style="height:18px;width:100px;line-height:18px" />
        <input type="button" onclick="DoSerch()" value="查询" />
    </div>

    <!-------------------查看日程查阅详细--------------------->
    <div id="SeeTextReadBakDiv" class="easyui-window" title="日程详细信息" closed="true" collapsible="false" minimizable="false" maximizable="false">
        <form class="SmallWindow" style="padding:10px 20px 10px 40px;">
            <table>
                <tr><td><b>领导查阅意见：</b></td><td><textarea id="TRBText" style="width:173px;height:80px;resize:none;"></textarea></td></tr>
            </table>
            <div style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="cancel()">确定</a>
            </div>
        </form>
    </div>

    <!-------------------日历菜单区域--------------------------->
    <div id="calendarSmallDiv" class="easyui-menu" data-options="onClick:menuHandler" style="width:120px;position:absolute;">

    </div>

    <!-------------------信息汇总窗口区域--------------------------->
    <div id="AllInfoWindowDiv" class="easyui-window" title="信息汇总" closed="true" collapsible="false" minimizable="false" maximizable="false" style="padding:5px;">
        <div class="easyui-accordion" data-options="multiple:true" id="MasessAPPED">
            <div>
                <div id="infoTopText" style="text-align:center">
                    <!--表头-->
                </div>
                <div>
                    <table id="ScheduleInfoTab" border="1" style="margin-right:auto;margin-left:auto;padding:0px,5px;border-collapse:collapse;text-align:center">
                        
                    </table>
                </div>
                <div id="ScheduleTypeNumberDiv">
                    <div id="ZXPerson" style="width:15%;float:right"></div>
                    <div id="SchTypeCount" style="width:85%"></div>
                    <div id="YiYuePersonsID"  style="height:30px;">
                        <b style="font-size:20px">已阅人员：</b><b id="weritPerson"></b>
                    </div>
                </div>
                <div style="text-align:right" id="jybtn">
                    <a href="javascript:OkToAddYiJian(2,0)" class="l-btn" style='margin:0px 5px;padding:2px 8px '>已阅</a>
                    <a href="javascript:JiYuYiJianBtn(0)" class="l-btn" style='margin:0px 5px;padding:2px 8px '>每日总结</a>
                </div>
                <div style="display:none">
                    <input type="text" id="RiQiBeiFenText" />
                    <input type="text" id="ZXpersonID" />
                </div>
            </div>
            <!------------------复核意见区域----------------------->
            <div title="复核意见区" class="easyui-layout" data-options="collapsible:false" style=""></div>
           
        </div>
    </div>


        <!-------------------信息汇总窗口区域--------------------------->
        <div id="JiYuYiJianDiv" class="easyui-window" title="给予意见" closed="true" closable="false" collapsible="false" minimizable="false" maximizable="false" style="width:230px">
            <h3>意见：</h3>&nbsp;<textarea id="yijianID" name="yijianName" style="width:201px;height:100px;resize:none"></textarea>
            <div style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="OkToAddYiJian(0,0)">确定</a>
                <a href="#" class="easyui-linkbutton" icon="icon-cancel" onclick="cancel()">取消</a>
            </div>
        </div>

        <!-------------------查看审核意见--------------------------->
        <div id="ShenHeYJDiv" class="easyui-window" title="审核意见" closed="true" closable="false" collapsible="false" minimizable="false" maximizable="false" style="width:230px">
            <h3>意见：</h3>&nbsp;<textarea id="ShenHeYJID" style="width:201px;height:100px;resize:none"></textarea>
            <div style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="cancel()">确定</a>
            </div>
        </div>



</body>
</html>

