@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>营销报价界面</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" type="text/css" />
   
    <link href="~/bootsarp/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/mobile-calendar-master/src/calendar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/guodu/modernizr.js">
    <link rel="stylesheet" href="~/Content/guodu/style.css" media="screen" type="text/css" />

    <link href="~/bootsarp/css/bootstrap-switch.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/bootsarp/js/bootstrap.min.js"></script>
    <script src="~/Content/guodu/modernizr.js"></script>
    <script src="~/bootsarp/js/bootstrap-switch.min.js"></script>
    <style>
        .font { font-size:10px
        }
        tr {font-size:10px;text-align:center
        }
        thead tr {
            font-size:12px;text-align:center
        }
    </style>
    <script>
        var Aconunt;
        var MaxPage;
        var Rows = 10;
        var khid;
        var editID;
        var Shifouhanshui;
        var PiaoJiu;
        var Shkhidselect;
        var state_=false;
        $(function () {
            //默认绑定省
            ProviceBind();
            //绑定事件
            $("#Province").change(function () {
                CityBind();
            })
            $("#City").change(function () {
                VillageBind();
            })
            $("#CPBJ_div2").css("display", "none");
            $("#vvv").css("display", "none");

            $("tr").click(function () {
                var id_ = $(this).attr("id");
                $("#wellinput").val(id_);
            })
            //添加客户信息
            $("#addKH").click(function () {
                
                var KHname = $("#KHname");
                var KHperson = $("#KHperson");
                var KHzhiwu = $("#KHzhiwu");
                var KHphoto = $("#KHphoto");
                var KHfaren = $("#KHfaren");
                var KHSGAdrss = $("#KHSGAdrss");
                var BeiZhu = $("#BeiZhu");
                var ay = new Array();
                ay[0] = KHname;
                ay[1] = KHperson;
                ay[2] = KHzhiwu;
                ay[3] = KHphoto;
                ay[4] = KHfaren;
                ay[5] = KHSGAdrss;
                ay[6] = BeiZhu;
                if (ay[0].val().trim().length <= 0)
                {
                    $("#alertShow").text(ay[0].attr("placeholder") + "不可为空");
                    $('#Hiddenalert').click();
                    ay[i].focusin();
                    return;
                }
                //for (var i = 0; i < ay.length; i++) {
                //    if (ay[i].val().trim().length <= 0 && ay[i].attr("placeholder") != "法人" && ay[i].attr("placeholder") != "施工地址" && ay[i].attr("placeholder") != "备注") {
                //        $("#alertShow").text(ay[i].attr("placeholder") + "不可为空");
                //        $('#Hiddenalert').click();
                //        ay[i].focusin();
                //        return;
                //    }
                //}
                
                $.ajax({
                    url: "/YXBJ/AddYXB_KH_list",
                    data: { KHname: ay[0].val(), KHperson: ay[1].val(), KHzhiwu: ay[2].val(), KHphoto: ay[3].val(), KHfaren: ay[4].val(), KHSGAdrss: ay[5].val(), BeiZhu:ay[6].val() ,sta:state_},
                    type: "POST",
                    dataType: 'json',
                    beforeSend: function () {
                        //  $("#addKH").css("disabled", "disabled")
                    },
                    success: function (serverData) {
                        if (serverData == "OK") {
                            alertshow("添加成功");
                        }
                        else if (serverData == "Isdistict") {
                            alertshow("法人不可重复");
                        }
                        else if (serverData == "errer") {
                            alertshow("客户名称不可重复,如果是借用资质请选择借用资质！");
                        }
                        else {
                            alertshow("系统错误联系管理员"+serverData);
                        };
                    },
                    complete: function () {
                        //  $("#addKH").css("disabled", "")
                    },
                    error: function (er) {
                        alertshow(er);
                    }
                });
                loaddata();
            })
            loaddata();
            $("body").delegate('#Pageul li', 'click', function () {
                //alert($(this).text().trim()); //弹出点击的li标签的value值
                if ($(this).text().trim() == "首页") {
                    loaddata('1', Rows);
                }
                else if ($(this).text().trim() == "末页") {
                    loaddata(MaxPage, Rows);
                }
                else {
                    loaddata($(this).text(), Rows)
                }

            });
            $("body").delegate('#BaojiaP li', 'click', function () {
                //alert($(this).text().trim()); //弹出点击的li标签的value值
                if ($(this).text().trim() == "首页") {
                    loadBaojiadata('1');
                }
                else if ($(this).text().trim() == "末页") {
                    loadBaojiadata(MaxPage);
                }
                else {
                    loadBaojiadata($(this).text());
                }

            });
            $("body").delegate('#add_abaojia', 'click', function () {
                // $("#resrc").click();
                $("#resrc").show();
                $("#Loading").show();
                $.post("/YXBJ/GetKhList", {}, function (serverData) {
                    $("#khidselect option").remove();
                    for (var i = 0; i < serverData.rows.length; i++) {
                        var mse = serverData.rows[i].ID == Shkhidselect ? "selected='selected'" : "";
                        $("#khidselect").append("<option value='" + serverData.rows[i].ID + "' " + mse + ">" + serverData.rows[i].KHname + "</option>");
                    }
                });
                //获取含税列表  票据列表
                $.post("/YXBJ/GetHashui", {}, function (sData) {
                    //含税列表
                    $("#OrHanSui option").remove();
                    $.each(sData.tem, function (i, items) {
                        var mse = items.ID == Shifouhanshui ? "selected='selected'" : "";
                        $("#OrHanSui").append("<option value='" + items.ID + "' " + mse + " >" + items.MyTexts + "</option>");
                    })
                    //票据列表
                    $("#PiaoJiu option").remove();
                    $.each(sData.tem2, function (i, items) {
                        var mse = items.ID == PiaoJiu ? "selected='selected'" : "";
                        $("#PiaoJiu").append("<option value='" + items.ID + "' " + mse + " >" + items.MyTexts + "</option>");
                    })

                });
                $("#Loading").hide();
            });
            $("body").delegate('.editdiv', 'click', function () {
                var cpdiv = $("#CPBJ_div1").css("display");
                var cpdiv1 = $("#CPBJ_div2").css("display");
                if (cpdiv == "block") {
                    if ($("#OrHanSui").val() == "")
                    {
                        alertshow("数据未加载成功稍后提交！");
                        return;
                    }
                    //进行报价头写入数据
                    var ghtime = document.getElementById("GhTime").value;
                    var stoptime = document.getElementById("stopTime").value;
                    var addess_1 = $("#Province").val();
                    var addess_2 = $("#City").val();
                    var addess_3 = $("#Village").val();
                    if (addess_1 =="-1") {
                        alertshow("没有选中省份！");
                        return;
                    }
                    if (addess_2 == "-1") {
                        alertshow("没有选中城市！");
                        return;
                    }
                    if (addess_3 == "-1") {
                        alertshow("没有选中区县！");
                        return;
                    }
                    if (ghtime.trim().length <= 0) {
                        alertshow("开始供货时间不可为空！")
                        document.getElementById("GhTime").focus();
                        return;
                    }
                    if (stoptime.trim().length <= 0) {
                        alertshow("结束供货时间不可为空！")
                        document.getElementById("stopTime").focus();
                        return;
                    }
                    if ($("#KHComname").val().trim().length <= 0)
                    {
                        alertshow("项目名称不可为空！")
                        document.getElementById("KHComname").focus();
                        return;
                    }
                    $("#Loading").show();
                    $.post("/YXBJ/AddBaoJiaoTOP", {
                        "editID": editID,
                        "GhTime": ghtime,
                        "khidselect": $("#khidselect").val(),
                        "JiShuYaoQiu": $("#JiShuYaoQiu").val(),
                        "DaiBanYunShu": $("#DaiBanYunShu").val(),
                        "JieShuanFanShi": $("#JieShuanFanShi").val(),
                        "HeTongQianDing": $("#HeTongQianDing").val(),
                        "KHComname": $("#KHComname").val(),
                        "Province": addess_1,
                        "City": addess_2,
                        "Village": addess_3,
                        "HanShuiID": $("#OrHanSui").val(),
                        "PiaojiuID": $("#PiaoJiu").val(),
                        "stoptime": stoptime
                    }, function (serverData) {
                        if (serverData.ret == "ok") {
                            editID = serverData.ID;
                            alertshow(serverData.msg);
                            $("#CPBJ_div1").css("display", cpdiv == "block" ? "none" : "");
                            $("#CPBJ_div2").css("display", cpdiv1 == "block" ? "none" : "");

                        }
                        else if (serverData.ret == "load") {
                            $("#CPBJ_div1").css("display", cpdiv == "block" ? "none" : "");
                            $("#CPBJ_div2").css("display", cpdiv1 == "block" ? "none" : "");
                        }
                        else {
                            alertshow(serverData.msg);
                        };

                    });
                    //获取列表
                    $.post("/YXBJ/GetysbBaojia", {
                        "BaoJiaTop_id": editID,
                    }, function (sdta) {

                        if (sdta.ret == "ok") {
                            loadkis(sdta)
                        }
                    });
                    $("#Loading").hide();
                }
                else {
                    $("#CPBJ_div1").css("display", cpdiv == "block" ? "none" : "");
                    $("#CPBJ_div2").css("display", cpdiv1 == "block" ? "none" : "");
                }
            })
            $("body").delegate('.resrc', 'click', function () {
                editID = null;
                document.getElementById("GhTime").value = "";
                $("#JiShuYaoQiu").val("");
                $("#DaiBanYunShu").val("");
                $("#JieShuanFanShi").val("");
                $("#HeTongQianDing").val("");
                $("#KHComname").val("");
                $("#OrHanSui").val("");
                $("#khidselect").val("");
                $("#PiaoJiu").val("");

                //Province
                //City
                //Village
                //Kh_List_id
                $("#Addess").val("");
                $("#CPname").val("");
                $("#CPXingHao").val("");
                $("#CPShuLiang").val("");
                $("#CPDengji").val("");
                $("#Tbvlo tr:not(:first)").empty();
                ProviceBind();

                $("#City").html("");
                var Citystr = "<option value='-1'>==请选择城市===</option>";
                $("#City").append(Citystr);
                $("#Village").html("");
                var TiStr = "<option  value='-1'>==请选择区域===</option>";
                $("#Village").append(TiStr);
            });
            $("body").delegate('#save_sumbit', 'click', function () {
                var dd = $("#khidselect").val();
                var cc = $("#GhTime").val();
            });
            //创建报价名称、型号、数量
            $("body").delegate('#AddBaojiaoOne', 'click', function () {
                //数据验证
                if (editID > 0) {

                    if ($("#CPname").val()== "-1") {
                        alertshow("产品名称不可为空！")
                        document.getElementById("CPname").focus();
                        return;
                    }
                    if ($("#CPXingHao").val() == "-1") {
                        alertshow("产品型号不可为空！")
                        document.getElementById("CPXingHao").focus();
                        return;
                    }
                    if ($("#CPDengji").val() == "-1") {
                        alertshow("产品等级不可为空！")
                        document.getElementById("CPDengji").focus();
                        return;
                    }
                    if ($("#CPShuLiang").val().trim().length <= 0) {
                        alertshow("产品数量不可为空！")
                        document.getElementById("CPShuLiang").focus();
                        return;
                    }
                    if (isNaN($("#CPShuLiang").val())) {
                        alertshow("产品数量必须是数字！")
                        document.getElementById("CPShuLiang").focus();
                        return;
                    }
                    $("#Loading").show();
                    $.post("/YXBJ/AddBaoJiaoOne", {
                        "editID": editID,
                        "CPname": $("#CPname").val(),
                        "CPXingHao": $("#CPXingHao").val(),
                        "CPShuLiang": $("#CPShuLiang").val(),
                        "CPDengji": $("#CPDengji").val(),
                        "Reamk": $("#Reamk").val()
                    }, function (serverData) {
                        if (serverData.ret == "ok") {
                            loadkis(serverData)
                        }
                    })
                    $("#Loading").hide();
                }
            })
            $("body").delegate('#Tbvlo tr td a', 'click', function () {
                var nam = $(this).attr("name");
                $("#Loading").show();
                $.post("/YXBJ/deletebaojia", {
                    "editID": editID,
                    "delID": $(this).attr("id")
                }, function (serverData) {
                    if (serverData.ret == "ok") {
                        loadkis(serverData)
                    }
                })
                $("#Loading").hide();
            })
            //查看报价数据
            $("body").delegate('#TbToplist tr td a', 'click', function () {
                $("#Loading").show();
                if (this.name == "Seetop")
                {
                    $.post("/YXBJ/GetBaoJiaMoney", {
                        "khid": $(this).attr("id")
                    }, function (serverData) {
                        if (serverData.ret == "ok") {
                            $("#TbBaoJiaList tr:not(:first)").empty();
                            for (var i = 0; i < serverData.rows.length; i++) {
                                var trHTML = "<tr><td>" + serverData.rows[i].CPname + "</td><td>" + serverData.rows[i].CPXingHao + "</td><td>" + serverData.rows[i].CPShuLiang + "</td><td class='font'>" + ChangeDateFormat(serverData.rows[i].addTime) + "</td><tr>"
                                $("#TbBaoJiaList").append(trHTML);
                                trHTML = "<tr><td>产品等级：" + serverData.rows[i].Cpdengji + "</td><td colspan='3' >备注：" + serverData.rows[i].Remark + "</td></tr>";
                                $("#TbBaoJiaList").append(trHTML);
                                trHTML = "<tr><td>报价金额:</td><td>产品:" + serverData.rows[i].Money + "</td><td>运费:" + serverData.rows[i].YunFei + "</td><td>合计:" + serverData.rows[i].sumMM + "</td><tr>"
                                $("#TbBaoJiaList").append(trHTML);

                            }
                            $('#BaoJiaListMod').modal('show');
                        }
                    })
                }
                else if (this.name == "eidttop") {

                    $.post("/YXBJ/EditBaoJiaTop", {
                        "khid": $(this).attr("id")
                    }, function (sdata) {
                        if (sdata.ret == "ok") {
                            $("#XskhxxClose").click();
                            $("#add_abaojia").click();
                            $("#resrc").hide();
                            editID = sdata.temp[0].BaoJiaID;
                            $("#JiShuYaoQiu").val(sdata.temp[0].JiShuYaoQiu);
                            $("#DaiBanYunShu").val(sdata.temp[0].DaiBanYunShu);
                            $("#JieShuanFanShi").val(sdata.temp[0].JieShuanFanShi);
                            $("#HeTongQianDing").val(sdata.temp[0].HeTongQianDing);
                            $("#KHComname").val(sdata.temp[0].KHComname);
                            Shifouhanshui = sdata.temp[0].HanShuiID;
                            PiaoJiu = sdata.temp[0].PiaoJuID;
                            Shkhidselect = sdata.temp[0].Kh_List_id;
                            $("#GhTime").val(ChangeDateFormat(sdata.temp[0].GhTime));
                            $("#stopTime").val(ChangeDateFormat(sdata.temp[0].stoptime));
                            $("#Province").val(sdata.Province)

                            var provice = sdata.Province;
                            $("#City").html("");
                            var str = "<option value='-1'>==请选择城市===</option>";
                            $.post("/YXBJ/GetAddress", { "parentiD": provice, "MyColums": "City" }, function (serverData) {
                                //从服务器获取数据进行绑定
                                $.each(serverData, function (i, item) {
                                    var Sstr = item.ID == sdata.City ? "selected='selected'" : "";
                                    str += "<option  value='" + item.ID + "' " + Sstr + "  >" + item.MyTexts + "</option>";
                                })
                                //将数据添加到省份这个下拉框里面
                                $("#City").append(str);
                            })

                            provice = sdata.City;
                            $("#Village").html("");
                            var str = "<option  value='-1'>==请选择区域===</option>";
                            //将市的ID拿到数据库进行查询，查询出他的下级进行绑定

                            $.post("/YXBJ/GetAddress", { "parentiD": provice, "MyColums": "Village" }, function (serverData) {
                                //从服务器获取数据进行绑定
                                $.each(serverData, function (i, item) {
                                    var Sstr = item.ID == sdata.Village ? "selected='selected'" : "";
                                    str += "<option value='" + item.ID + "' " + Sstr + ">" + item.MyTexts + "</option>";
                                })
                                //将数据添加到省份这个下拉框里面
                                $("#Village").append(str);
                            })

                        }
                        //else if (sdata.ret == "no")
                        //{
                        //    alertshow("数据已报价不可修改！");
                        //}
                        else if (sdata.ret == "NoData")
                        {
                            $("#XskhxxClose").click();
                            $("#add_abaojia").click();
                            $("#resrc").hide();
                        }
                    })
                }
                $("#Loading").hide();
            })
            //显示客户信息
            $("body").delegate('#tb tr td a', 'click', function () {
                khid = $(this).attr("id");
                var mode = $(this).attr("name")
                if (mode == "edit") { }
                else {
                    loadBaojiadata(1);
                }
                
            })
            function loadkis(serverData) {
                $("#Loading").show();
                $("#Tbvlo tr:not(:first)").empty();
                for (var i = 0; i < serverData.rows.length; i++) {
                    var trHTML = "<tr><td>" + serverData.rows[i].ID + "</td><td>" + serverData.rows[i].CPname + "</td><td>" + serverData.rows[i].CPXingHao + "</td><td>" + serverData.rows[i].CPShuLiang + "</td><td>" + ChangeDateFormat(serverData.rows[i].addTime) + "</td><td ><a class='btn  btn-info btn-sm' role='button'  id='" + serverData.rows[i].ID + "' name='" + serverData.rows[i].CPzt + "' >删除</a></td><tr>"
                    $("#Tbvlo").append(trHTML);
                    var trdhtml = "<tr><td></td><td>产品等级：</td><td style='text-align:left'>" + serverData.rows[i].CPdanjiu + "</td><td colspan='3'  style='text-align:left'>产品备注：" + serverData.rows[i].Remark + "</td></tr>";
                    $("#Tbvlo").append(trdhtml);
                }
                $("#Loading").hide();
            }
              

                $('[name="status"]').bootstrapSwitch({
                    onText: "借用资质",
                    offText: "未借用资质",
                onColor:"success",
                offColor:"info",
                size: "normal",
                onSwitchChange:function(event,state){                
                    state_ = state;               
                          }              
                })
        })
      
        function ProviceBind(obj) {
            $("#Loading").show();
            //清空下拉数据
            $("#Province").html("");
            var str = "<option value='-1'>==请选择省份===</option>";
            $.post("/YXBJ/GetAddress", { "parentiD": 0, "MyColums": "Province" }, function (serverData) {               
               //从服务器获取数据进行绑定                    
                $.each(serverData, function (i, item) {
                    var Sstr = obj == undefined ? "" : obj == item.MyTexts ? "selected='selected'" : "";
                   str += "<option "+Sstr+" value=" + item.ID + " >" + item.MyTexts + "</option>";
               })
               //将数据添加到省份这个下拉框里面
               $("#Province").append(str);
                
            })
            $("#Loading").hide();
        }
        function CityBind() {
            $("#Loading").show();
            var provice = $("#Province").val();
            //判断省份这个下拉框选中的值是否为空
            if (provice == "") {
                return;
            }
            $("#City").html("");
            var str = "<option value='-1'>==请选择城市===</option>";
            $.post("/YXBJ/GetAddress", { "parentiD": provice, "MyColums": "City" }, function (serverData) {
                //从服务器获取数据进行绑定                    
                $.each(serverData, function (i, item) {
                    str += "<option  value=" + item.ID + " >" + item.MyTexts + "</option>";
                })
                //将数据添加到省份这个下拉框里面
                $("#City").append(str);
            })
            $("#Loading").hide();
        }
        function VillageBind() {
           
            var provice = $("#City").val();           
            //判断市这个下拉框选中的值是否为空
            if (provice == "") {
                return;
            }
           
            $("#Village").html("");
            var str = "<option  value='-1'>==请选择区域===</option>";
            //将市的ID拿到数据库进行查询，查询出他的下级进行绑定
            $("#Loading").show();
            $.post("/YXBJ/GetAddress", { "parentiD": provice, "MyColums": "Village" }, function (serverData) {
                //从服务器获取数据进行绑定                    
                $.each(serverData, function (i, item) {
                  
                    str += "<option value=" + item.ID + ">" + item.MyTexts + "</option>";
                })
                //将数据添加到省份这个下拉框里面
                $("#Village").append(str);
            })
            $("#Loading").hide();
        }
        function alertshow(text) {
            $("#alertShow").text(text);
            $('#Hiddenalert').click();
        }
        function loadBaojiadata(artPage) {
            $("#Loading").show();
            $.post("/YXBJ/GetKhDataId", {
                "khid": khid,
                "page": artPage,
                "rows": Rows
            }, function (serverData) {
                if (serverData.ret == "ok") {
                    $("#TbToplist tr:not(:first)").empty();
                    $('#BaojiaP').children().filter('li').remove(); //动态删除
                    
                    for (var i = 0; i < serverData.rows.length; i++) {
                        var trHTML = "<tr><td  class='font'>" + ChangeDateFormat(serverData.rows[i].AddTime) + "</td><td>" + serverData.rows[i].KHComname + "</td><td>" + serverData.rows[i].Seaddess + "</td></tr>";
                        $("#TbToplist").append(trHTML);
                        trHTML = "<tr><td>是否含税:" + serverData.rows[i].HanSui + "</td><td>票据：" + serverData.rows[i].MyText + " </td><td><a  class='btn  btn-info btn-sm' role='button'  name='Seetop' href='#' id='" + serverData.rows[i].ID + "' >查看</a> &nbsp&nbsp&nbsp&nbsp      <a  class='btn  btn-info btn-sm' role='button' href='#' name='eidttop' id='" + serverData.rows[i].ID + "' >修改</a></td><tr>";
                        $("#TbToplist").append(trHTML);
                    }
                    Aconunt = serverData.total;
                    MaxPage = Math.ceil(Aconunt / Rows);

                    for (var s = 0; s < 7; s++) {
                        var hm;
                        if (s == 0) {
                            hm = "<li id='f'><a href='#' >首页</a> </li>";
                        } else if (s == 6) {
                            hm = "<li><a href='#' >末页</a> </li>";
                        }
                        else {
                            var sx = s;
                            if (artPage > 3) {
                                sx = (artPage - 2) + (s - 1);
                            }
                            if (sx <= MaxPage) {
                                hm = "<li><a href='#'> " + sx + " </a> </li>";
                            }
                            else {
                                hm = "";
                            }
                        }
                        $("#BaojiaP").append(hm);


                    }

                    $('#selectMOD').modal('show');
                }
            })
            $("#Loading").hide();
        }
        function loaddata(artPage) {
            $("#tb tr:not(:first)").empty();
            $('#Pageul').children().filter('li').remove(); //动态删除
            $.post("/YXBJ/GetList", { "page": artPage, "rows": Rows }, function (serverData) {
                for (var i = 0; i < serverData.rows.length; i++) {
                    var trHTML = "<tr  class='font'><td>" + serverData.rows[i].KHname + "</td><td>" + serverData.rows[i].KHfaren + "</td><td>" + ChangeDateFormat(serverData.rows[i].AddTime) + "</td><td><a  class='btn  btn-info btn-sm' role='button' href='#'  id='" + serverData.rows[i].ID + "' name=''>查看</a>&nbsp&nbsp<a  class='btn  btn-info btn-sm' role='button' href='#'  id='" + serverData.rows[i].ID + "' name='edit'>修改</a></td></tr>"
                    $("#tb").append(trHTML);
                }
                Aconunt = serverData.total;
                MaxPage = Math.ceil(Aconunt / Rows);
                artPage = artPage == null ? 0 : artPage.length <= 0 ? 0 : artPage;
                for (var s = 0; s < 7; s++) {
                    var hm;
                    if (s == 0) {
                        hm = "<li id='f' class='previous'><a href='#'  ><span aria-hidden='true'>首页</a> </li>";
                    } else if (s == 6) {
                        hm = "<li class='next'><a href='#' > <span aria-hidden='true'>末页</a> </li>";
                    }
                    else {
                        var sx = s;
                        if (artPage > 3) {
                            sx = (artPage - 2) + (s - 1);
                        }
                        if (sx <= MaxPage) {
                            hm = "<li><a href='#'> " + sx + " </a> </li>";
                        }
                        else {
                            hm = "";
                        }
                    }
                    $("#Pageul").append(hm);


                }
            });

            //读取产品名称与型号的SELECT CPname
            $("#CPname").html("");
            $("#CPXingHao").html("");
            $("#CPDengji").html("");
            var strName = "<option  value='-1'>==请选择产品名称===</option>";
            var strXingh = "<option  value='-1'>==请选择产品型号===</option>";
            var strcpdj = "<option  value='-1'>==请选择产品等级===</option>";
            $.post("/YXBJ/GetChanPinList", {}, function (TempD) {
                if (TempD.ret == "ok") {       
                    $.each(TempD.tempDengji, function (i, item) {
                        strcpdj += "<option value=" + item.ID + ">" + item.MyText + "</option>";
                    })
                }
                else {
                    alertshow("读取产品名称与型号失败！~请联系管理员！~")
                }      
                //$("#CPXingHao").append(strXingh);
                $("#CPDengji").append(strcpdj);
            })
            //获取产品名称
            $.post("/YXBJ/GetChanPinName", {}, function (data) {
                 $.each(data, function (i, item) {
                      strName += "<option value=" + item.ID + ">" + item.MyText + "</option>";
                  })                
                $("#CPname").append(strName);
            })
            $("#Loading").hide();
          
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            if (cellval == null)
            {
                return "";
            }
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        //添加完成以后调用该方法
        function tips(data) {
            try {
                if (data.result == "false") {
                    alertshow(data.ex);
                }
                else {
                    alertshow("写入成功")
                }
            } catch (e) {
                alertshow("异常错误")
            }
        }

        //下拉选中产品名称触发事件
     
        function Onchanges() {
            $("#Loading").show();
            var cpnameid = $("#CPname").val();
            $.post("/YXBJ/GetCpname_xinghao", { "cpid": cpnameid }, function (data) {
               
                    $("#CPXingHao").html("");
                    var strXingh = "<option  value='-1'>==请选择产品型号===</option>";
                    //从服务器获取数据进行绑定                    
                    $.each(data, function (i, item) {
                        strXingh += "<option value=" + item.ID + ">" + item.MyText + "</option>";
                    })
                   $("#CPXingHao").append(strXingh);
                
            })
            $("#Loading").hide();
        }
    </script>
</head>
<body>
    <div class="loader" id="Loading">努力加载中！</div>

    <div>
        <!-- Nav tabs -->

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    操作 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target=".list">添加客户</a></li>
                </ul>
            </li>
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">信息列表</a></li>
            <li role="presentation"><a href="#addList" aria-controls="addList" role="tab" id="add_abaojia" data-toggle="tab">添加报价</a></li>
            @*<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">报价信息</a></li>*@
        </ul>
        <!-- Tab panes -->
        <div class="tab-content ">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <input class="input-group" id="wellinput"  />
                    </div>
                </div>
                <table id="tb" class="table  table-hover">
                    <thead>
                        <tr><td>客户名称</td><td>法人</td><td>时间</td><td>操作</td></tr>
                    </thead>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pager" id="Pageul"></ul>
                </nav>
            </div>
            <div id="addList" role="tabpanel" class="tab-pane">
                
                    <div class="" id="CPBJ_div1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">产品报价</h4>
                        </div>
                        <div id="addDiv">
                            <div class="modal-body">
                                <div class="form-group ">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">报价是否含税</span>
                                        <select class="form-control OrHanSui" id="OrHanSui" name="OrHanSui" aria-describedby="basic-addon1"></select>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">票据</span>
                                        <select class="form-control PiaoJiu" id="PiaoJiu" name="PiaoJiu" aria-describedby="basic-addon1"></select>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-startime">开始供货期</span>
                                        <input type="text"  aria-describedby="basic-startime" class="calendars form-control" format="dd/MM/yyyy" placeholder="开始供货期" id="GhTime" name="GhTime">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-stoptime">结束供货期</span>
                                        <input type="text"  aria-describedby="basic-stoptime"  class="calendars form-control" format="dd/MM/yyyy" placeholder="结束供货期" id="stopTime" name="stopTime">
                                    </div>
                                    <select class="form-control Province" name="Province" id="Province">
                                        <option value="-1">==请选择省份===</option>
                                    </select>
                                    <select class="form-control" name="City" id="City">
                                        <option value="-1">==请选择城市===</option>
                                    </select>
                                    <select class="form-control" name="Village" id="Village">
                                        <option value="-1">==请选择区县===</option>
                                    </select>
                                    <select class="form-control" id="khidselect" name="Kh_List_id"></select>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="ba2">工程名称</span>
                                        <input placeholder="工程项目名称" class="form-control" type="text" name="KHComname" id="KHComname"  aria-describedby="ba2" />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="ba3">技术要求</span>
                                        <input placeholder="技术要求" class="form-control" type="text" name="JiShuYaoQiu" id="JiShuYaoQiu"  aria-describedby="ba3" />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="ba4">运输方式</span>
                                        <input placeholder="运输方式" class="form-control" type="text" name="DaiBanYunShu" id="DaiBanYunShu" aria-describedby="ba4" />
                                    </div>
                                    <div class="input-group">
                                       <span class="input-group-addon" id="ba5">结算方式</span>
                                       <input placeholder="结算方式" class="form-control" type="text" name="JieShuanFanShi" id="JieShuanFanShi" aria-describedby="ba5" />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="ba6">合同签订</span>
                                       <input placeholder="合同签订" class="form-control" type="text" name="HeTongQianDing" id="HeTongQianDing" aria-describedby="ba6" />
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary resrc" id="resrc">新增报价</button>
                            <button type="button" class="btn btn-primary editdiv" id="addcpbj_1">下一步</button>
                        </div>
                    </div><!-- /.modal-content -->


                    <div class="" id="CPBJ_div2">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">产品报价</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group ">
                                <select class="form-control" name="CPname" id="CPname" onchange="Onchanges()">
                                    <option value="-1">==请选择产品名称===</option>
                                </select>
                                <select class="form-control" name="CPXingHao" id="CPXingHao">
                                    <option value="-1">==请选择产品型号===</option>
                                </select>
                                <select class="form-control" name="CPDengji" id="CPDengji">
                                    <option value="-1">==产品等级===</option>
                                </select>
                                <input placeholder="产品数量" class="form-control" type="text" name="" id="CPShuLiang" />
                                <input placeholder="产品备注" class="form-control" type="text" name="" id="Reamk" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary editdiv">上一步</button>
                            <button type="button" class="btn btn-primary" id="AddBaojiaoOne">添加报价</button>
                        </div>

                        <table class="table table-striped table-hover table-condensed" id="Tbvlo">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td >产品名称</td>
                                    <td>产品型号</td>
                                    <td>产品数量</td>
                                    <td>创建时间</td>
                                    <td >操作</td>
                                </tr>
                            </thead> 
                        </table>
                    </div><!-- /.modal-content -->
           
            </div>

            <div class="modal fade bs-example-modal-sm select" id="selectMOD" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">显示客户信息</h4>
                        </div>
                        <div class="modal-body" style="margin:0px; padding:0px">
                            <table id="TbToplist" class="table table-striped table-hover">
                                <thead>
                                    <tr><td>创建时间</td><td>项目名称</td><td>地点</td></tr>
                                </thead>

                            </table>
                            <nav aria-label="">
                                <ul class="pager" id="BaojiaP"></ul>
                            </nav>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="XskhxxClose" data-dismiss="modal">关闭</button>
                        </div>

                    </div><!-- /.modal-content -->

                </div><!-- /.modal-dialog -->
            </div>
            <div class="modal fade bs-example-modal-sm select" id="BaoJiaListMod" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">报价信息</h4>
                        </div>
                        <div class="modal-body" style="margin:0px; padding:0px">
                            <table class="table table-striped table-hover table-condensed" id="TbBaoJiaList">
                                <thead>
                                    <tr>
                                        <td>产品名称</td>
                                        <td>产品型号</td>
                                        <td>产品数量</td>
                                        <td>创建时间</td>
                                    </tr>
                                </thead>

                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>

                    </div><!-- /.modal-content -->

                </div><!-- /.modal-dialog -->
            </div>


            <div class="modal fade bs-example-modal-sm list" tabindex="1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">添加客户</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group ">
                                <input placeholder="客户名称" class="form-control " type="text" name="KHname" id="KHname" />                               
                                <input name="status" type="checkbox" data-size="small"> 
                                <input placeholder="客户联系人" class="form-control" type="text" name="KHperson" id="KHperson" />
                                <input placeholder="联系人职务" class="form-control" type="text" name="KHzhiwu" id="KHzhiwu" />
                                <input placeholder="联系人电话" class="form-control" type="text" name="KHphoto" id="KHphoto" />
                                <input placeholder="法人" class="form-control" type="text" name="KHfaren" id="KHfaren" />
                                <input placeholder="施工地址" class="form-control" type="text" name="KHSGAdrss" id="KHSGAdrss" />
                                <input placeholder="备注" class="form-control" type="text" name="BeiZhu" id="BeiZhu" />

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="addKH">确定</button>
                        </div>

                    </div><!-- /.modal-content -->

                </div><!-- /.modal-dialog -->
            </div>



            <div class="modal fade bs-example-modal-sm Tbb" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document" style="padding-top:100px; width:200px; margin-right:auto; margin-left:auto;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">提示</h4>
                        </div>
                        <div class="modal-body" id="alertShow">
                            提示小心
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".Tbb" style="visibility:hidden" id="Hiddenalert"></button>

    <script src="~/mobile-calendar-master/lib/sea.js"></script>
    <script>
        seajs.use('/mobile-calendar-master/src/calendar');
    </script>
</body>
</html>