@{
    ViewBag.Title = "衍水集团";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Content/Images/login/hft.ico" type="image/x-icon" />  
    <title>衍水集团</title>  
</head>
<body style="overflow: hidden; ">
    <div id="layout1">
        <div position="center" title="标题" class="body" >
            <div id="winlinks">
                <ul></ul>
            </div>
        </div>

        <div position="top" style="background-image:url('/Content/images/bg3.png')">
            <img src="/Content/Images/login/hft.ico" style="float:left; height:45px;"  />
            <span class="txt">衍水集团移动信息平台</span>
            <span id="xx"></span>
            <span style="float:right;font-size:14px;margin-top:15px;margin-right:20px">欢迎 @ViewData["userName"] 登录 &nbsp;&nbsp;
            <a href="/Login/Logout">退出</a> </span>
        </div>
  
    </div>
</body>

</html>

@section scripts{
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="~/Content/lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" />
    <script src="~/Content/lib/ligerUI/js/ligerui.min.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {

                $("#layout1").ligerLayout({
                    allowTopResize: false,
                    topHeight: 45
                });

                var chat = $.connection.chatHub;
                chat.client.sendMessage = function (message) {
                    tip_show(message)
                };

            //后端SendLogin调用后，产生的loginUser回调
                chat.client.loginUser = function (userlist) {
                    reloadUser(userlist);
                };

            //hub连接开启
                $.connection.hub.start().done(function () {

                    var username = "@ViewBag.id";
                    //发送上线信息
                    chat.server.sendLogin(username);
                    //点击按钮，发送消息
                    $('#send').click(function () {
                        var friend = $('#username').val();
                        //调用后端函数，发送指定消息
                        work.server.sendByGroup(username, "消息");
                    });
                });

                var reloadUser = function (userlist) {
                    for (i = 0; i < userlist.length; i++) {                      
                        //tipshow(userlist[i]);
                    }
                }

        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        function tip_show(msg) {
            $.ligerDialog.tip({ title: '提示信息', content: msg + "<br/> 提醒时间: " + getNowFormatDate(), width: 200, height: 300, size: 21 });
        }
        var manager;
        function tipshow(msg) {           
            if (manager != undefined)
            { manager.close(); }
            manager = $.ligerDialog.waitting(msg+"<br/> 提醒时间: " + getNowFormatDate()); setTimeout(function (){ manager.close(); }, 9999);
        }
        $(document).click(function () {
            if (manager != undefined)
            { manager.close(); }
        });
    </script>
    <style type="text/css">
        .l-case-title {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        body, html {
            width: 100%;
            height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        #winlinks {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 100%;
        }

            #winlinks ul {
                position: relative;
            }

            #winlinks li {
                width: 70px;
                cursor: pointer;
                height: 80px;
                position: absolute;
                z-index: 101;
                list-style: none;
                text-align: center;
            }

                #winlinks li img {
                    width: 36px;
                    height: 36px;
                }

                #winlinks li span {
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
                    border-radius: 10px 10px 10px 10px;
                    display: block;
                    font-size: 12px;
                    margin-top: 1px;
                    color: White;
                    line-height: 18px;
                    text-align: center;
                }

                #winlinks li.l-over div.bg {
                    display: block;
                }

                #winlinks li div.bg {
                    display: none;
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    z-index: 0;
                    width: 75px;
                    height: 64px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    background: #000;
                    opacity: 0.1;
                    filter: alpha(opacity=10);
                }

        .l-taskbar-task-icon {
            top: 3px;
            left: 6px;
            background-image: none;
        }

        .l-taskbar-task-content {
            margin-left: 30px;
        }

        .l-taskbar-task-icon img {
            width: 22px;
            height: 22px;
        }

        .txt {
            font-size: 20px;
            color: blue;
            font-weight: bolder;
            float: left;
            margin-top: 15px;
            margin-left: 30px;
        }

        .body {
            background: url(/Content/lib/images/applebg.jpg)no-repeat;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            position: absolute;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/lib/images/applebg.jpg',sizingMethod='scale');
        }

        .l-dialog-content {
            overflow-y: hidden;
        }
    </style>
    <script type="text/javascript">

    var LINKWIDTH = 90, LINKHEIGHT = 90, TASKBARHEIGHT = 43;
    var winlinksul = $("#winlinks ul");

    function f_open(url, title, icon) {

        var win = $.ligerDialog.open(
        {
            height: $(window).height() / 1.5, width: $(window).width() / 1.2, url: url, showMax: true, showToggle: false, showMin: true, isResize: true, modal: true, title: title, slide: true, buttons: [
              {
                  text: '确定', onclick: function (item, Dialog, index) {
                      win.hide();
                  }
              }
            ]
        });
        win.max();
        var task = jQuery.ligerui.win.tasks[win.id];
        if (task) {
            $(".l-taskbar-task-icon:first", task).html('<img src="' + icon + '" />');
        }
        return win;
    }
    var links = [
    ];

    function onResize() {
        var linksHeight = $(window).height() - TASKBARHEIGHT-70;
        var winlinks = $("#winlinks");
        winlinks.height(linksHeight);
        var colMaxNumber = parseInt(linksHeight / LINKHEIGHT);//一列最多显示几个快捷方式
        for (var i = 0, l = links.length; i < l; i++) {
            var link = links[i];
            var jlink = $("li[linkindex=" + i + "]", winlinks);
            var top = (i % colMaxNumber) * LINKHEIGHT, left = parseInt(i / colMaxNumber) * LINKWIDTH;
            if (isNaN(top) || isNaN(left)) continue;
            jlink.css({ top: top, left: left });
        }

    }
    function linksInit() {
        for (var i = 0, l = links.length; i < l; i++) {
            var link = links[i];
            var jlink;
            var jlink = $("<li></li>");
            jlink.attr("linkindex", i);
            jlink.attr("id", "L"+i);
            jlink.append("<img src='" + link.icon + "' />");
            jlink.append("<span>" + link.title + "</span>");
            jlink.append("<div class='bg'></div>");
            jlink.hover(function () {
                $(this).addClass("l-over");
            }, function () {
                $(this).removeClass("l-over");
            }).click(function () {
                var linkindex = $(this).attr("linkindex");
                var link = links[linkindex];
                f_open(link.url, link.title, link.icon);
            });
            jlink.appendTo(winlinksul);
        }

    }

    $(window).resize(onResize);
    $.ligerui.win.removeTaskbar = function () { }; //不允许移除
    $.ligerui.win.createTaskbar(); //页面加载时创建任务栏
    //校验用户的权限
    $.getJSON("/Home/GetMenus", {}, function (data) {
        links = data;
        linksInit();
        onResize();
    })
    var tip_height = $(window).height() - TASKBARHEIGHT - 70;
    var all_height = $(window).height();
    var haa = all_height - 300;

    var tip;
    var edittus = -1;
    var qx = "@ViewBag.qx";
        if (qx == 999) {
            $.post("/Home/GetBaojidan", { "edittus": edittus }, function (serverData) {
                if (serverData.ret == "ok") {
                    $.ligerDialog.tip({ title: '提示信息1', content: '您有{' + serverData.count + "}条信息没报价！ <br/> 提醒时间: " + getNowFormatDate(), width: 200, height: 300, size: 21, index: -1 });
                    edittus = serverData.tus_c
                }
            });
        }
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                + " " + date.getHours() + seperator2 + date.getMinutes()
                + seperator2 + date.getSeconds();
        return currentdate;
    }


    $(function () {
        var manager;

        function tus() {
            $.post("/Home/GetBaojidan", { "edittus": edittus }, function (serverData) {
                if (serverData.ret == "ok") {
                    if (manager != undefined)
                    { manager.close();}
                    manager = $.ligerDialog.waitting('您有{' + serverData.count + "}条信息没报价！ <br/> 提醒时间: " + getNowFormatDate()); setTimeout(function () { manager.close(); }, 999999999);
                    edittus = serverData.tus_c
                }
            });
        }
        
        if (qx == 999) {
            window.setInterval(tus, 6000);
        }      
        $(document).click(function () {
            if (manager != undefined)
            { manager.close(); }
        });

    })
    //$.ligerTip({
    //    content: "倒计时:10",
    //    width: 200,
    //    height: 200,
    //    x:$(window).width()- $(window).width()/2,
    //    y: $(window).height() - $(window).height() / 2,
    //    callback: function (t) {
    //        var i = 10; //10秒倒计时
    //        calctime(t, i);
    //    }
    //});

    //function calctime(t, i) //这个函数用了递归来实现倒计时
    //{
    //    i--;
    //    (i >= 0)
    //? setTimeout(function () {
    //    $(".l-verify-tip-content", t).text("倒计时:" + i.toString());
    //    calctime(t, i);
    //}, 1000)
    //: $(t).remove();
    //}
    </script>

}