@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>生产制造</title>

    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>

    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript">
        $.fn.extend({

            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;

                height = height < minHeight ? minHeight : height;

                width = width < minWidth ? minWidth : width;

                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });
        var browser = {
            versions: function () {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息
                    trident: u.indexOf('Trident') > -1, //IE内核
                    presto: u.indexOf('Presto') > -1, //opera内核
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                    iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1, //是否iPad
                    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        }
        var editIndex = undefined;
        var delflg=0,win=0;
        function endEditing() {//该方法用于关闭上一个焦点的editing状态
            if (editIndex == undefined) {
                return true
            }
            if ($('#tt').datagrid('validateRow', editIndex)) {
                $('#tt').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        //提交数据
        function submitForm(index, row, changes) {
            //  alert( row.resultId+"--"+changes.finalResult)daliyResultRate;
            var resultId = row.ID;//信息ID
            if (resultId == "") {
                $.messager.alert('提醒', '错误没有选中修改信息');
                $("#tt").datagrid('reload');
                return;
            }

            //  var finalRate = row.BaoJiaMoney;//期末比例
            var finalRusult = changes.BaoJiaMoney;//期末成绩
            var r = /^-?[1-9]/;//判断输入的是正整数
            if (!r.test(finalRusult)) {
                $.messager.alert('提醒', '请输入正整数！');
                return;
            }
            $.ajax({
                type: "post",
                async: false,
                url: "/MasterBaojia/editMoney",
                data: {
                    "resultId": resultId,
                    "finalRusult": finalRusult
                },
                success: function (data) {
                    if (data.ret == true) {
                        $("#tt").datagrid('reload');
                    }
                }
            })
        }
        $(function () {
            //datagrid数据表格ID
            var datagridId = 'tt';

            GetDate()
            $(".layout-button-left").click();
            loadData_qian()
            // 当窗口大小发生变化时，调整DataGrid的大小
            $(window).resize(function () {
                $('#' + datagridId).resizeDataGrid(0,0, 200, 500);
            });
            $("#editDiv").css("display", "none");
            //报价列表
            $("#Sousuo").click(function () {
                loadData_qian()

            })
            $("#Qingkong").click(function(){
                Qingkong();
            })
            $(".panel-tool a").click(function () {
                //$('#tt').resizeDataGrid(5, 15, 200, 500);
            })
          
        });
        function loadData_qian()
        {

            var UpTime = $('#Stime').combobox('getValue');

            if (UpTime.length <= 0) {
                $.messager.alert("提示", "开始时间不可为空！")
                return;
            }

            var DwTime = $('#Otime').combobox('getValue');
            if (DwTime.length <= 0) {
                $.messager.alert("提示", "结束时间不可为空！")
                return;
            }

            var Jhname = $('#Jhname').combobox('getValue');

            var addUser = $('#addUser').combobox('getValue');
            var SHuser = $('#SHuser').combobox('getValue');
            var CPtext = $('#CPtext').combobox('getValue');
            var shzt = $("#shzt").combobox('getValue');

            var pars = {
                UpTime: UpTime, DwTime: DwTime, Jhname: Jhname, addUser: addUser, SHuser: SHuser, CPtext: CPtext, shzt: shzt
            };
            loadData(pars);
        }
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/SczzAdmin/getdata',
                title: '未报价信息',
                width: $("#dgdiv").width(),
                height: $("#dgdiv").height()-30,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数

                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                      { field: 'TextName', title: '单据表头' },
                      { field: 'ImageInt', title: '图纸编号', align: 'center' },
                      { field: 'DjAddUser', title: '单据创建人', align: 'center' },

                   {field: 'AddTopTime', title: '创建时间',
                   formatter: function (value, row, index) {
                    if (value != null)
                    { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                    else
                    { return value }
                   }
                    },
                    { field: 'Jhpzr', title: '计划批准人', align: 'center' },
                    {
                        field: 'JhpzrEtime', title: '批准人审核', align: 'center',
                        formatter: function (value, row, index) {
                            if (value != null)
                            { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                            else
                            { return value }
                        }
                    },
                    { field: 'Jhtcr', title: '计划提出人', align: 'center' },
                    {
                        field: 'JhtcrEtime', title: '提出人审核', align: 'center',
                        formatter: function (value, row, index) {
                            if (value != null)
                            { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                            else
                            { return value }
                        }
                    },
                    { field: 'Jgcj', title: '加工车间', align: 'center' },
                    {
                        field: 'JgcjEtime', title: '车间审核', align: 'center',
                        formatter: function (value, row, index) {
                            if (value != null)
                            { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                            else
                            { return value }
                        }
                    },
                    { field: 'Jhzdr', title: '计划制定人', align: 'center' },
                    {
                        field: 'JhzdrEtime', title: '审核时间', align: 'center',
                        formatter: function (value, row, index) {
                            if (value != null)
                            { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                            else
                            { return value }
                        }
                    },
                    {
                        field: 'Zt', title: '信息状态', align: 'center', formatter: function selz(value)
                        {
                            if (value == 0)
                            {
                                return "申请中";
                            } else if (value == 1)
                            {
                              return "审核中";
                            } else if (value == 2) {
                                return "已完结";
                            }
                        }
                    }, {
                        field: 'Bak', title: '备注'
                    }, {
                        field: 'Operator', title: '操作',
                        formatter: function (value, row, index) {
                            var str = "<a href='javascript:void(0)' ids='" + row.ID +
                                "' class=' deletes' >查看</a>";

                            return str;
                        }
                    }

                ]],
                onLoadSuccess: function () {
                    $(".deletes").click(function () {
                       ;
                        var tid = $(this).attr("ids");
                        $.post("/SczzAdmin/GetOne", { "id": tid }, function (data) {
                           
                            $("#TextTop").html("单号(" + data.temp[0].ID + ")&nbsp"+data.temp[0].TextName );
                            $("#tabAddTime").html(ChangeDateFormat(data.temp[0].AddTopTime));
                            $("#spanjhtcr").html(data.temp[0].Jhtcr == null ? "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" : data.temp[0].Jhtcr);
                            $("#spanjhzdr").html(data.temp[0].Jhzdr == null ? "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" : data.temp[0].Jhzdr);
                            $("#spanjhpzr").html(data.temp[0].Jhpzr == null ? "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" : data.temp[0].Jhpzr);
                            $("#spanjgcj").html(data.temp[0].Jgcj == null ? "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" : data.temp[0].Jgcj);
                            $("#tabless").html("");
                            
                            $.each(data.chanpin, function (i, item) {
                               
                                var str = "  <tr><td>" + (i+1) + "</td><td>" + item.Cpname +
                                    "</td><td>" + item.ImageInt + "</td><td>" + item.SczzItem + "</td><td>" + item.CpShuliang +
                                    "</td><td>" +(item.OverTime==null?"": ChangeDateFormat(item.OverTime))+ "</td><td>" + item.Bak + "</td></tr>";
                                $("#tabless").append(str);
                            })
                            var widthdiv_ = $("#dgdiv").width();
                            var heightdiv_ = $("#dgdiv").height();
                            if (browser.versions.mobile == true || browser.versions.ios == true || browser.versions.android == true) {
                            }
                            else {
                                widthdiv_ = $("#dgdiv").width()/2;
                                heightdiv_ = $("#dgdiv").height()/2;
                            }
                            $("#editDiv").css("display", "block");
                            $('#editDiv').dialog({
                                title: "编辑用户信息",
                                width: widthdiv_,
                                height: heightdiv_,
                                collapsible: true,
                                resizable: true,
                                modal: true,
                                buttons: [{
                                    text: '打印',
                                    iconCls: 'icon-print',
                                    handler: function () {
                                        $("#print").jqprint();
                                    }
                                }, {
                                    text: '关闭',
                                    handler: function () {
                                        $('#editDiv').dialog('close');
                                    }
                                }]
                            });
                        })
                    });
                }
            });
        }

        function Chazuo(obj,bol)
        {
            var Moneystr = bol ? "BaoJiaMoney" : "CpMoney";

            $.post("/MasterBaoJia/GetWinHeTongData", { "id": obj }, function (serverData) {
                if (serverData.ret == "ok") {
                    $("#WinID").val(obj);
                    $("#editDiv").css("display", "block");
                    $("#XiangMuName").val(serverData.XiangMuName);
                    $("#Selebody").html("");
                    $("#Bak").val(serverData.bak);
                    $.each(serverData.temp, function (key, val) {
                        var $tdName = $("<tr><td  colspan='3'>产品名称:【" + val["CPname"] + "】&nbsp产品型号:【" + val["CpXingHao"] + "】&nbsp 产品数量：【" + val["CPShuLiang"] + "】&nbsp报价金额：【" + val[Moneystr] + "】</td>");
                        var $td_input = $("<tr><td>成交金额</td><td><input type='text' onkeyup='num(this)' name='EidtMoney" + val["ID"] + "' value=\'" + val[Moneystr] + "\'/></td></tr>");
                        $("#Selebody").append($tdName);
                        $("#Selebody").append($td_input);
                    })
                    $('#editDiv').dialog({
                        title: "信息处理",
                        width: 450,
                        height: 400,
                        collapsible: true,
                        resizable: true,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            iconCls: 'icon-ok',
                            handler: function () {
                                if (bol)
                                {
                                    var ms = false;
                                    $("#Selebody input[type='text']").each(function () {
                                        if ($(this).val().trim().length<=0)
                                        {
                                            $.messager.alert("提示", "成交金额不可为空！");
                                            ms=true
                                        }
                                    });
                                    if(ms)
                                    {
                                        return;
                                    }
                                    $("#bollForm").submit();//提交表单
                                }
                                else
                                {

                                    $('#editDiv').dialog('close');
                                }
                            }
                        }, {
                            text: '取消',
                            handler: function () {
                                $('#editDiv').dialog('close');
                            }
                        }]
                    });
                }
                else {
                    alert(serverData.ret)
                }
            });

        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        function bool_click()
        {
            $.post("/ActionInfo/btnbool", { "id": "" }, function (serverData) {
                if (serverData == "True") {
                    $("#ZTtext").val("开启");
                    $("#btnbool").val("关闭");
                }
                else {
                    $("#ZTtext").val("关闭");
                    $("#btnbool").val("开启");
                }
            });
        }
        //修改完成以后调用该方法
        function afterEdit(data) {
            if (data.ret == "ok") {
                $('#editDiv').dialog('close');
                $('#tt').datagrid('reload');
            } else {
                $.messager.alert("提醒", "修改数据错误!!", "error");
            }
        }
        //数字验证
        function num(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
        //获取当前时间
        function GetDate()
        {
            var myDate = new Date();
            var year = myDate.getFullYear();
            //获取当前月
            var month = myDate.getMonth() + 1;

            var new_date = new Date(year, month, 1);                //取当年当月中的第一天


            var date_count = (new Date(new_date.getTime() - 1000 * 60 * 60 * 24)).getDate();//获取当月的天数

            var last_date = new Date(new_date.getTime() - 1000 * 60 * 60 * 24);//获得当月最后一天的日期

            var year = new_date.getFullYear();
            //获取当前月
            var month = new_date.getMonth();
            //获取当前日
            var date = new_date.getDate();
            var now = year + '-' + p(month) + "-" + p(date);

            $('#Stime').datebox('setValue', now);
            year = last_date.getFullYear();
            //获取当前月
            month = last_date.getMonth() +1;
            //获取当前日
            date = last_date.getDate();
            now = year + '-' + p(month) + "-" + p(date);
            $('#Otime').datebox('setValue', now);

        }
        function p(s) {
            return s < 10 ? '0' + s : s;
        }
        function Qingkong() {

            $('#Jhname').combobox('clear');
            $('#addUser').combobox('clear');
            $('#SHuser').combobox('clear');
            $('#CPtext').combobox('clear');

            $('#shzt').combobox('clear');

            //var addUser = $('#addUser').combobox('getValue');
            //var SHuser = $('#SHuser').combobox('getValue');
            //var CPtext = $('#CPtext').combobox('getValue');
        }
    </script>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
        }

        .btnlink a {
            width: 90%;
            margin-top: 3px;
        }

        .tab {
            margin-left: auto;
            margin-right: auto;
            width:80%;
            text-align:center;
        }
      
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'west',split:true,title:'选项'" id="CkHide" class="easyui-panel btnlink" style="width:120px; padding:8px">
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" id="DJselect">查询单据</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="">ViewData</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="">ViewData</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="">ViewData</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="">ViewData</a>
    </div>
    <div data-options="region:'center',title:'数据报表'" id="dgdiv">

        <table id="tt" class="easyui-datagrid" style="width: 700px; " title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"
               data-options="toolbar:'#tb'">
            <thead data-options="frozen:true ">
                <tr>
                    <th data-options="field:'ck',checkbox: true, align: 'left', width: 30"></th>
                    <th data-options="field:'ID', width: 40">编号</th>                    
                </tr>
            </thead>
        </table>

    </div>
    <div id="tb" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            &nbsp;&nbsp; &nbsp;&nbsp;
            提出时间: <input class="easyui-datebox" id="Stime" value="2017-01-01" style="width:120px">-TO-<input class="easyui-datebox" id="Otime" style="width:120px" value="2017-12-01">
            &nbsp;&nbsp; &nbsp;&nbsp;
            计划名称查询
            <input class="easyui-combobox" id="Jhname"
                   name="Jhname"
                   url="/SczzAdmin/SczzTopName"
                   valueField="ID"
                   textField="MyTexts"
                   panelHeight="auto" style="" />&nbsp;&nbsp; &nbsp;&nbsp;
            创建人查询:
            <input class="easyui-combobox" id="addUser"
                   name="addUser"
                   url="/SczzAdmin/AddUser"
                   valueField="ID"
                   textField="MyTexts"
                   panelHeight="auto" style="width:100px" /> &nbsp;&nbsp; &nbsp;&nbsp;
            审核人查询:
            <input class="easyui-combobox" id="SHuser"
                   name="SHuser"
                   url="/SczzAdmin/ShenHePerson"
                   valueField="ID"
                   textField="MyTexts"
                   panelHeight="auto" style="width:100px" /> &nbsp;&nbsp; &nbsp;&nbsp;
            产品材质: <input class="easyui-combobox"
                         id="CPtext"
                         name="CPtext"
                         url="/SczzAdmin/ChanPinCZ"
                         valueField="ID"
                         textField="MyTexts"
                         panelHeight="auto" style="width:auto" /> &nbsp;&nbsp; &nbsp;&nbsp;
            信息状态：<select class="easyui-combobox" id="shzt" name="shzt">
                <option value="-1">状态</option>
                <option value="0">申请中</option>
                <option value="1">审核中</option>
                <option value="2">已完成</option>
            </select>

            &nbsp;&nbsp; &nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" id="Qingkong" iconCls="icon-search">清空</a>
            &nbsp;&nbsp; &nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" id="Sousuo" iconCls="icon-search">搜索</a>
        </div>
    </div>

    <!---------------修改用户信息--------------------->
    <div id="editDiv" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("WinChuL1i", "MasterBaoJia1", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "bollForm" }))
        {
            <div id="print" style="width:100%">
                <table class="tab" align="center">
                    <tr style="font-size:25px;height:35px"><td colspan="7" id="TextTop">辽宁衍水集团水工机械制造有限责任公司生产计划单（厂内）</td></tr>
                    <tr style="height:25px"><td></td></tr>
                    <tr style="font-size:15px; height:35px"><td colspan="6"></td><td colspan="1" style="text-align:right">下发时间：<span id="tabAddTime">2017-10-31</span></td></tr>
                    <tr style="height:15px"><td></td></tr>
                </table>
                <table style="BORDER-COLLAPSE: collapse; width:80%; text-align:center" borderColor="#000000" align="center" cellSpacing="0" bgColor="#ffffff" border="1">
                    <thead><tr><td>序号</td><td>名称</td><td>图纸编号</td><td>材质</td><td>数量</td><td>完工时间</td><td style="width:35%">备注</td></tr></thead>
                    <tbody id="tabless">
                        
                        <tr><td>1</td><td>名称</td><td>图纸编号</td><td>材质</td><td>数量</td><td>完工时间</td><td>备注</td></tr>
                        <tr><td>2</td><td>名称</td><td>图纸编号</td><td>材质</td><td>数量</td><td>完工时间</td><td>备注</td></tr>
                        <tr><td>3</td><td>名称</td><td>图纸编号</td><td>材质</td><td>数量</td><td>完工时间</td><td>备注</td></tr>
                        <tr><td>4</td><td>名称</td><td>图纸编号</td><td>材质</td><td>数量</td><td>完工时间</td><td>备注</td></tr>
                    </tbody>

                </table>
                <table class="tab" align="center" style="width:80%">
                    <tr style="height:55px"><td></td></tr>
                    <tr >
                        <td></td>
                        <td style="text-align:right">计划提出人：<span id="spanjhtcr"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计划制定人：<span id="spanjhzdr"></span></td>
                    </tr>
                    <tr style="height:10px"><td></td></tr>
                    <tr>
                        <td></td>
                        <td style="text-align:right">计划批准人：<span id="spanjhpzr"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="width:35px"></span>加工车间：<span id="spanjgcj"></span></td>
                    </tr>
                </table>
            </div>
            
           
        }
    </div>
</body>
</html>
