@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>机修制造生产统计表</title>

    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>

    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script src="~/Scripts/DatePicker.js"></script>
    <script type="text/javascript">
        $.fn.extend({

            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;

                height = height < minHeight ? minHeight : height;

                width = width < minWidth ? minWidth : width;

                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });
        var browser = {
            versions: function () {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息
                    trident: u.indexOf('Trident') > -1, //IE内核
                    presto: u.indexOf('Presto') > -1, //opera内核
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                    iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1, //是否iPad
                    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        }
        var editIndex = undefined;
        var delflg=0,win=0;
        function endEditing() {//该方法用于关闭上一个焦点的editing状态
            if (editIndex == undefined) {
                return true
            }
            if ($('#tt').datagrid('validateRow', editIndex)) {
                $('#tt').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        //提交数据
        function submitForm(index, row, changes) {
            //  alert( row.resultId+"--"+changes.finalResult)daliyResultRate;
            var resultId = row.ID;//信息ID
            if (resultId == "") {
                $.messager.alert('提醒', '错误没有选中修改信息');
                $("#tt").datagrid('reload');
                return;
            }

            //  var finalRate = row.BaoJiaMoney;//期末比例
            var finalRusult = changes.BaoJiaMoney;//期末成绩
            var r = /^-?[1-9]/;//判断输入的是正整数
            if (!r.test(finalRusult)) {
                $.messager.alert('提醒', '请输入正整数！');
                return;
            }
            $.ajax({
                type: "post",
                async: false,
                url: "/MasterBaojia/editMoney",
                data: {
                    "resultId": resultId,
                    "finalRusult": finalRusult
                },
                success: function (data) {
                    if (data.ret == true) {
                        $("#tt").datagrid('reload');
                    }
                }
            })
        }
        $(function () {
            //datagrid数据表格ID
            var datagridId = 'tt';

            GetDate()
            // $(".layout-button-left").click();
            //loadData_qian()
            // 当窗口大小发生变化时，调整DataGrid的大小
            $(window).resize(function () {
                $('#' + datagridId).resizeDataGrid(0,0, 200, 500);
            });
            loadData();
            $("#InfoExcelBtnDiv").hide();
            $("#AddPersonInfoBtnDiv").hide();
            $("#Ygedit").click(function () {
                cleanDatagrid();
                stlYgtab();
                $("#InfoExcelBtnDiv").hide();
                $("#adddatasDiv").hide()
                $("#AddPersonInfoBtnDiv").show()
            })
            $("#InfoExcel").click(function () {
                cleanDatagrid();
                loadInfoExcel();
                $("#InfoExcelType").combobox("setValue", "");
                $("#InfoExcelMsg").combobox("setValue", "");
                $("#excelYMD").datebox("setValue", "");
                $("#excelYM").val( "");
                $("#adddatasDiv").hide()
                $("#AddPersonInfoBtnDiv").hide()
                $("#InfoExcelBtnDiv").show()
            })
            $("#Qingkong").click(function(){
                Qingkong();
            })
            $("#adddatas").click(function () {
                $("#AddOneid").val(0)
                AdddataInfo()
            })
            $("#adddatas2").click(function () {
                $("#AddTwoid").val(0)
                AdddataInfoJG()
            })
            $("#sltdata").click(function () {
                cleanDatagrid();
                loadData();
                $("#InfoExcelBtnDiv").hide();
                $("#adddatasDiv").show()
                $("#AddPersonInfoBtnDiv").hide()
            })
            $("#AddPersonInfoBtn").click(function () {
                AddPersonInfo();
            })
            $('#sltczz').combobox({
                onChange: function (newValue, oldValue) {
                    if (newValue == "") {
                        return;
                    }
                    $.post("/Sltjxzz/GetPersonInfo", { "id": newValue }, function (rt) {
                        $("#itGongzhong").val(rt.ret.Job_Name)
                        $("#itwage").val(rt.ret.Wage_slt)
                        $("#ithours").val(rt.ret.HoursWage)
                        })
                }
            });
            $('#sltczzJG').combobox({
                onChange: function (newValue, oldValue) {
                    if (newValue == "") {
                        return;
                    }
                    $.post("/Sltjxzz/GetPersonInfo", { "id": newValue }, function (rt) {
                        $("#itGongzhongJG").val(rt.ret.Job_Name)
                        $("#itwageJG").val(rt.ret.Wage_slt)
                        $("#ithoursJG").val(rt.ret.HoursWage)
                    })
                }
            });
            $('#InfoExcelType').combobox({
                onChange: function (newValue, oldValue) {
                    if (newValue != 9) {
                        if (newValue == 12) {
                            $("#InfoExcelMsg").combobox("setValue", "");
                        }
                        $("#yearMonth").show();
                        $("#yearMonthDay").hide();
                        $("#excelYMD").datebox("setValue", "");
                    } else {
                        $("#yearMonth").hide();
                        $("#yearMonthDay").show();
                        $("#excelYM").val( "");
                    }
                   $("#InfoExcelMsg").combobox("reload", "/SltJxzz/GetInfoExcelMsg?bloID=" + newValue);
                }
            });
            $("#PersonGroupYorN").click(function () {
                $("#PersonGroupYorN").val() == "false" ? $("#PersonGroupYorN").val("true") : $("#PersonGroupYorN").val("false");
                if ($("#PersonGroupYorN").val() == "true") {
                    $("#GroupPersons").val("");
                    $("#GroupPersonsID").val("");
                    $("#AddIntoGroup").show();
                    $("#GroupPersonsLabel").show();
                } else {
                    $("#GroupPersons").val("");
                    $("#GroupPersonsID").val("");
                    $("#AddIntoGroup").hide();
                    $("#GroupPersonsLabel").hide();
                }
            })
            $("#AddIntoGroup").click(function () {
                var sltczz = $("#sltczzJG").combobox("getValue");
                if (sltczz.trim().length <= 0) {
                    $.messager.alert("提示", "请选择操作者！");
                    return;
                } else {
                    var sltczzStr = $("#sltczzJG").combobox("getText");
                    $("#GroupPersons").val($("#GroupPersons").val()+sltczzStr + "-");
                    $("#GroupPersonsID").val($("#GroupPersonsID").val() + sltczz + ",");
                }
            })
            $("#InfoExcelBtnDiv").hide();
            //选择人员后显示工资 工种及工时
            //$("#UserIDForAddPerson").combobox({
            //    onSelect: function () {
            //        alert(1)
            //        var BMID = $("#UserIDForAddPerson").combobox("getValue");
            //        $.post("/sltxzz/GetPersonInfo", { "id": BMID }, function (rt) {
            //            alert(rt);
            //        })
            //        //<input id="itGongzhong" type="text" readonly /> 
            //        //    <td><input id="itwage" type="text" readonly /> </td>
            //        //    <td><input id="ithours" type="text" readonly /> </td>

            //    }
            //})
        });
        function toDownloadExcel() {
            var colCount = ($("#tt").datagrid("options").columns)[0].length;
            var addTotal = "";
            if ($("#tt").datagrid("options").title == "个人日统计表") {
                addTotal = "<table><tr><td colspan='4'>监察部签字:</td><td colspan='4'>车间主任签字:</td><td colspan='4'>检查员:</td><td colspan='4'>统计员:</td><td colspan='4'>制表人:</td></tr></table>";
            }
            else if ($("#tt").datagrid("options").title == "个人月统计表") {
                var rows = $('#tt').datagrid('getRows')//获取当前的数据行
                var totalIint = 0;
                var totalSlt_kg = 0;
                var totalSlt_hege = 0;
                var totalSlt_hegeNo = 0;
                var totalSlt_Feipin = 0;
                var totalThisHaveTime = 0;
                var totalHaveTime = 0;
                var totalWage_slt = 0;
                var totalHoursWage = 0;
                var totalWorkHours = 0;
                var totalSumHoursWage = 0;
                var totalRestYesOrNo = 0;
                for (var i = 0; i < rows.length; i++) {
                    totalIint += rows[i]['Iint'];
                    totalSlt_kg += rows[i]['Slt_kg'];
                    totalSlt_hege += rows[i]['Slt_hege'];
                    totalSlt_hegeNo += rows[i]['Slt_hegeNo'];
                    totalSlt_Feipin += rows[i]['Slt_Feipin'];
                    totalThisHaveTime += rows[i]['ThisHaveTime'];
                    totalHaveTime += rows[i]['HaveTime'];
                    totalWage_slt += rows[i]['Wage_slt'];
                    totalHoursWage += rows[i]['HoursWage'];
                    totalWorkHours += rows[i]['WorkHours'];
                    totalSumHoursWage += rows[i]['SumHoursWage'];
                    totalRestYesOrNo += rows[i]['RestYesOrNo'];
                }
                addTotal = "<table><tr style='border:1px solid black'><td colspan='2' style='text-align:center;'>合计</td>"
                    + "<td style='text-align:center '>" + totalIint + "</td><td style='text-align:center '>" + totalSlt_kg + "</td>"
                    + "<td style='text-align:center '>" + totalThisHaveTime + "</td><td style='text-align:center '>" + totalHaveTime + "</td>"
                    + "<td style='text-align:center '>" + totalWage_slt + "</td><td style='text-align:center '>" + totalHoursWage + "</td>"
                    + "<td style='text-align:center '>" + totalWorkHours + "</td><td style='text-align:center '>" + totalSumHoursWage + "</td>"
                    + "<td style='text-align:center '>" + totalRestYesOrNo + "</td><td style='text-align:center '>" + totalSlt_hege + "</td>"
                    + "<td style='text-align:center '>" + totalSlt_hegeNo + "</td><td style='text-align:center '>" + totalSlt_Feipin + "</td><td></td><td></td></tr>"
                    + "<tr><td colspan='3'>监察部签字:</td><td colspan='3'>车间主任签字:</td><td colspan='3'>检查员:</td><td colspan='3'>统计员:</td><td colspan='3'>制表人:</td></tr>"
                + "<tr><td colspan='15' style='font-weight:bold'>注：次月5日前监察部召集相关人员对上个月工作进行综合评价，评分分五个等级：优、良、合格、较差、差。</td></tr></table>";
            }
            else if ($("#tt").datagrid("options").title == "车间月统计表") {
                var rows = $('#tt').datagrid('getRows')//获取当前的数据行
                var totalWorkHours = 0;
                var totalSumMoney = 0;
                for (var i = 0; i < rows.length; i++) {
                    totalWorkHours += rows[i]['WorkHours'];
                    totalSumMoney += rows[i]['SumMoney'];
                }
                addTotal = "<table><tr style='border:1px solid black'><td colspan='6' style='text-align:center;'>合计</td><td style='text-align:center '>" + totalWorkHours + "</td><td style='text-align:center '>" + totalSumMoney + "</td></tr>"
                    + "<tr><td colspan='2'>监察部签字:</td><td colspan='2'>车间主任签字:</td><td colspan='2'>检查员:</td><td colspan='2'>统计员:</td><td colspan='2'>制表人:</td></tr></table>";
            }
            else if ($("#tt").datagrid("options").title == "公司月统计表") {
                var rows = $('#tt').datagrid('getRows')//获取当前的数据行
                var totalSumHours = 0;
                var totalSumMoney = 0;
                for (var i = 0; i < rows.length; i++) {
                    totalSumHours += rows[i]['SumHours'];
                    totalSumMoney += rows[i]['SumMoney'];
                }
                addTotal = "<table><tr style='border:1px solid black'><td style='text-align:center;'>合计</td><td style='text-align:center '>" + totalSumHours + "</td><td style='text-align:center '>" + totalSumMoney + "</td><td></td></tr>"
                    + "<tr><td>主管副总签字:</td><td>加工部门领导签字:</td><td>制表:</td></tr></table>";
            }
            else if ($("#tt").datagrid("options").title == "轨枕设备月统计表") {
                var rows = $('#tt').datagrid('getRows')//获取当前的数据行
                var totalSumHours = 0;
                var totalSumMoney = 0;
                for (var i = 0; i < rows.length; i++) {
                    totalSumHours += rows[i]['SumHours'];
                    totalSumMoney += rows[i]['SumMoney'];
                }
                addTotal = "<table><tr style='border:1px solid black'><td style='text-align:center;'>合计</td><td style='text-align:center '>" + totalSumHours + "</td><td style='text-align:center '>" + totalSumMoney + "</td></tr>"
                    + "<tr><td>主管副总签字:</td><td>机械制造领导签字:</td><td>用工部门领导签字:</td><td>制表:王莉雁</td></tr></table>";
            }
            var htmlData = $(".datagrid-view2").html();
            var tableHead = "<html><meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\" />" +
        "<style type='text/css'>tbody tr td{text-align:center;border:solid .5pt Black;} </style>" +
        "<body><table >";
            var Theard = "<thead><tr><td colspan='"+colCount+"' style=' font-family:黑体; font-size:25px;text-align:center '>" + $("#InfoExcelMsg").combobox("getText") + $("#InfoExcelType").combobox("getText") + "</td></tr></thead>";
            $("#OFtable").val(tableHead + Theard + htmlData + addTotal+"</table></body></html>"); //获取并拼接代码
            $("#ExcelForm").submit();
        }
        function fixGetValue(obj) {
            return obj ? obj : "";
        }
        function toExcelInfo() {
            var typeID = $('#InfoExcelType').combobox("getValue");
            var msgID = $('#InfoExcelMsg').combobox("getValue");
            if (typeID != 12) {
                if (msgID.trim().length <= 0) {
                    $.messager, alert("请选择部门列表后再进行统计");
                    return;
                }
            }
            if (typeID != 9) {
                var serchTime = $('#excelYM').val();
                if (serchTime.trim().length <= 0) {
                    $.messager, alert("请选择统计月份后再进行统计");
                    return;
                }
            } else {
                var serchTime = $('#excelYMD').datebox("getValue");
                if (serchTime.trim().length <= 0) {
                    $.messager, alert("请选择统计日期后再进行统计");
                    return;
                }
            }
            cleanDatagrid();
            switch (parseInt(typeID)) {
                case 9:
                    showPersonDayExcel();
                    break;
                case 10:
                    showPersonMonthExcel();
                    break;
                case 11:
                    showCheJianMonthExcel();
                    break;
                case 12:
                    showCompanyMonthExcel();
                    break;
                case 13:
                    showGZCJMonthExcel();
                    break;
            }
            $('#tt').datagrid('reload');
        }
        //显示个人日统计表
        function showPersonDayExcel() {
            var serchTime = $("#excelYMD").datebox("getValue");
            var bmID = $("#InfoExcelMsg").combobox("getValue");
            $("#tt").datagrid({
                queryParams: { bolID: 9, excelDate: serchTime, bmID: bmID },
                title:"个人日统计表",
                columns: [[
                            {
                                field: 'Wtime', title: '单据时间',
                                formatter: function (value, row, index) {
                                    if (value != null)
                                    { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                                    else
                                    { return value }
                                }
                            }, 
                    { field: 'UPslt_ID', title: '操作者', align: 'center' },
                      { field: 'Job_Name', title: '工种', align: 'center' },
                      { field: 'Seb_number_ID', title: '设备编号', align: 'center' },
                      { field: 'UpBumen_id', title: '用工部门', align: 'center' },
                      { field: 'ImgNumber', title: '零件图号', align: 'center' },
                      { field: 'ImgName_ID', title: '零件名称', align: 'center' },
                      { field: 'Iint', title: '数量', align: 'center' },
                      { field: 'Slt_kg', title: '重量', align: 'center' },
                      {
                          field: 'StupTime', title: '计划开始日期', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null)
                              { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                              else
                              { return value }
                          }
                      },
                      { field: 'ThisHaveTime', title: '计划工时', align: 'center' },
                      { field: 'HaveTime', title: '实际工时', align: 'center' },
                      { field: 'Slt_BFB', title: '完工程度', align: 'center' },
                      {
                          field: 'OverTime', title: '实际完成日期', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null)
                              { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                              else
                              { return value }
                          }
                      },
                      { field: 'Wage_slt', title: '工资', align: 'center' },
                      { field: 'HoursWage', title: '加工单价', align: 'center' },
                      { field: 'WorkHours', title: '工作时间', align: 'center' },
                      { field: 'SumHoursWage', title: '合计金额', align: 'center' },
                      {
                          field: 'RestYesOrNo', title: '是否休息', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null) {
                                  switch (parseInt(value)) {
                                      case -1:
                                          return "未休息";
                                          break;
                                      case 0:
                                          return "半天休";
                                          break;
                                      case 1:
                                          return "全天休";
                                          break;
                                  }
                              }
                              else { return value }
                          }
                      },
                      { field: 'Slt_hege', title: '合格数量', align: 'center' },
                      { field: 'Slt_hegeNo', title: '不合格数量', align: 'center' },
                      { field: 'Slt_Feipin', title: '废品数量', align: 'center' },
                      { field: 'AllPinJia', title: '综合评价', align: 'center' },
                      { field: 'BAK', title: '备注', align: 'center' }]]});
        }
         //显示个人月统计表
        function showPersonMonthExcel() {
            var bmID = $("#InfoExcelMsg").combobox("getValue");
            var serchTime = $("#excelYM").val();
            $("#tt").datagrid("options").queryParams = { bolID: 10, monthExcel: serchTime, bmID: bmID };
            $("#tt").datagrid("options").title = "个人月统计表";
            $("#tt").datagrid({columns : [[
                   { field: 'UPslt_ID', title: '操作者', align: 'center' },
                     { field: 'Job_Name', title: '工种', align: 'center' },
                     { field: 'Iint', title: '数量', align: 'center' },
                     { field: 'Slt_kg', title: '重量', align: 'center' },
                     { field: 'ThisHaveTime', title: '计划工时', align: 'center' },
                     { field: 'HaveTime', title: '实际工时', align: 'center' },
                     { field: 'Wage_slt', title: '工资', align: 'center' },
                     { field: 'HoursWage', title: '加工单价', align: 'center' },
                     { field: 'WorkHours', title: '工作时间', align: 'center' },
                     { field: 'SumHoursWage', title: '合计金额', align: 'center' },
                     { field: 'RestYesOrNo', title: '休息几天', align: 'center' },
                     { field: 'Slt_hege', title: '合格数量', align: 'center' },
                     { field: 'Slt_hegeNo', title: '不合格数量', align: 'center' },
                     { field: 'Slt_Feipin', title: '废品数量', align: 'center' },
                     { field: 'AllPinJia', title: '综合评价', align: 'center' },
                     { field: 'BAK', title: '备注', align: 'center' }]]});
        }
        //显示车间月统计表
        function showCheJianMonthExcel() {
            var serchTime = $("#excelYM").val();
            var bmID = $("#InfoExcelMsg").combobox("getValue");
            $("#tt").datagrid("options").queryParams = { bolID: 11, monthExcel: serchTime, bmID: bmID };
            $("#tt").datagrid("options").title = "车间月统计表";
            $("#tt").datagrid({columns : [[
                      {
                          field: 'WorkTime', title: '日期', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null)
                              { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                              else
                              { return value }
                          }
                      },
                      { field: 'PersonName', title: '姓名', align: 'center' },
                      { field: 'WorkType', title: '工种', align: 'center' },
                      { field: 'HoursWage', title: '加工单价', align: 'center' },
                      { field: 'UpBumen', title: '用工部门', align: 'center' },
                      { field: 'WorkInfo', title: '工作内容', align: 'center' },
                      { field: 'WorkHours', title: '工作时间/小时', align: 'center' },
                      { field: 'SumMoney', title: '金额(元)', align: 'center' }, ]]});
        }
        //显示公司月统计表
        function showCompanyMonthExcel() {
            var serchTime = $("#excelYM").val();
            $("#tt").datagrid("options").queryParams = { bolID: 12, monthExcel: serchTime };
            $("#tt").datagrid("options").title = "公司月统计表";
            $("#tt").datagrid({columns : [[
                      { field: 'UpBumen', title: '用工部门', align: 'center' },
                      { field: 'SumHours', title: '工作时间/小时', align: 'center' },
                      { field: 'SumMoney', title: '金额合计', align: 'center' },
                      { field: 'BmLeaderQZ', title: '备注', align: 'center' }]]});
        }
        //显示轨枕设备月统计表
        function showGZCJMonthExcel() {
            var serchTime = $("#excelYM").val();
            var bmID = $("#InfoExcelMsg").combobox("getValue");
            $("#tt").datagrid("options").queryParams = { bolID: 13, monthExcel: serchTime,bmID:bmID};
            $("#tt").datagrid("options").title = "轨枕设备月统计表";
            $("#tt").datagrid({columns : [[
                      { field: 'UpBumen', title: '工作项目', align: 'center' },
                      { field: 'SumHours', title: '工时', align: 'center' },
                      { field: 'SumMoney', title: '金额', align: 'center' }]]});
        }
        //添加人员信息
        function AddPersonInfo() {
            $("#AddPersonInfoDIV").css("display", "block");
            $('#AddPersonInfoDIV').dialog({
                title: "添加员工信息",
                width: 450,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var UserID = $("#UserIDForAddPerson").combobox("getValue");
                        if (UserID.trim().length <= 0) {
                            $.messager.alert("提示", "请选择员工！");
                            return;
                        }
                        if ($("#Job_Name").val().trim().length <= 0) {
                            $.messager.alert("提示", "请填写工种！");
                            return;
                        }
                        if ($("#HoursWage").val().trim().length <= 0) {
                            $.messager.alert("提示", "请填写时薪！");
                            return;
                        }
                        if ($("#Wage_slt").val().trim().length <= 0) {
                            $.messager.alert("提示", "请填写Wage_slt！");
                            return;
                        }
                        $("#addpersoninfofrom").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#AddPersonInfoDIV').dialog('close');
                    }
                }]
            });
        }
        //添加机加车间日报表
        function AdddataInfo() {
            ResetJJForm();
            $("#adddiv").css("display", "block");
            $('#adddiv').dialog({
                title: "添加信息",
                width:$(this).width()*0.8,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var Wtime = $("#Wtime").datebox("getValue");
                        if (Wtime.trim().length <= 0) {
                            $.messager.alert("提示", "请填写报表时间！");
                            return;
                        }
                        var ImgName_IDV = $("#ImgName_IDSel").combobox("getValue");
                        if (ImgName_IDV == undefined) {
                            var ImgName_ID = $("#ImgName_IDSel").combobox("getText");
                            if (ImgName_ID.trim().length <= 0) {
                                $.messager.alert("提示", "请填写零件名称！");
                                return;
                            }
                            $("#ImgName_ID").val(ImgName_ID);
                        } else {
                            $("#ImgName_ID").val(ImgName_IDV);
                        }
                        var UpBuemid = $("#UpBumen_id").combobox("getValue");
                        if (UpBuemid.trim().length <= 0) {
                            $.messager.alert("提示", "请选择部门名称！");
                            return;
                        }
                        if ($("#WorkHours").val().trim().length <= 0) {
                            $.messager.alert("提示", "请填写工作时间！");
                            return;
                        }
                        var str_1 = $("#str_1").combobox("getValue");
                        if (str_1.trim().length <= 0) {
                            $.messager.alert("提示", "请选择设备编号！");
                            return;
                        }
                        var sltczz = $("#sltczz").combobox("getValue");
                        if (sltczz.trim().length <= 0) {
                            $.messager.alert("提示", "请选择操作者！");
                            return;
                        }
                        $("#bollForm").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#adddiv').dialog('close');
                    }
                }]
            });
        }
        //添加结构车间日报表
        function AdddataInfoJG(someInt) {
            ResetJGForm();
            $("#adddivJG").css("display", "block");
            if (someInt == 1) {
                $("#PersonGroupYorNText").hide();
            } else {
                $("#PersonGroupYorNText").show();
            }
            $('#adddivJG').dialog({
                title: "添加信息",
                width: $(this).width() * 0.8,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                closable:false,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var Wtime = $("#WtimeJG").datebox("getValue");
                        if (Wtime.trim().length <= 0) {
                            $.messager.alert("提示", "请填写报表时间！");
                            return;
                        }
                        var ImgName_IDV = $("#ImgName_IDJGSel").combobox("getValue");
                        if (ImgName_IDV == undefined) {
                            var ImgName_ID = $("#ImgName_IDJGSel").combobox("getText");
                            if (ImgName_ID.trim().length <= 0) {
                                $.messager.alert("提示", "请填写零件名称！");
                                return;
                            }
                            $("#ImgName_IDJG").val(ImgName_ID);
                        } else {
                            $("#ImgName_IDJG").val(ImgName_IDV);
                        }
                        var UpBuemid = $("#UpBumen_idJG").combobox("getValue");
                        if (UpBuemid.trim().length <= 0) {
                            $.messager.alert("提示", "请选择部门名称！");
                            return;
                        }
                        if ($("#WorkHoursJG").val().trim().length <= 0) {
                            $.messager.alert("提示", "请填写工作时间！");
                            return;
                        }
                        var sltczz = $("#sltczzJG").combobox("getValue");
                        if (sltczz.trim().length <= 0) {
                            $.messager.alert("提示", "请选择操作者！");
                            return;
                        }
                        if ($("#PersonGroupYorN").val() == "true") {
                            if ($("#GroupPersonsID").val().trim().length <= 0) {
                                $.messager.alert("提示", "请选择操作者并添加进组！");
                                return;
                            }
                        }
                        $("#bollFormJG").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        hiddenInput();
                        $('#adddivJG').dialog('close');
                    }
                }]
            });
        }
        //隐藏分组问题文本框
        function hiddenInput() {
            if ($("#PersonGroupYorN").val() == "true") {
                $("input[name='PersonGroupYorN']").removeAttr('checked');
                $("#PersonGroupYorN").val("false");
                $("#GroupPersons").val("");
                $("#GroupPersonsID").val("");
                $("#AddIntoGroup").hide();
                $("#GroupPersonsLabel").hide();
            }
        }
        function afterAddPersonInfo(data) {
            if (data.ret == "ok") {
                try {
                    $('#tt').datagrid('reload');
                    $('#AddPersonInfoDIV').dialog('close');
                    $("#PersonInfoID").val("");
                }
                catch (e) {
                }
            }  else {
                $.messager.alert("提醒", "操作错误!!", "error");
            }
        }
        function editPersonData() {
            var row = $('#tt').datagrid('getSelected');
            $.post("/SltJxzz/GetPersonInfo", { "id": row.ID }, function (ret) {
                $("#UserIDForAddPerson").combobox("setValue", ret.ret.UserID);
                $("#Job_Name").val(ret.ret.Job_Name);
                $("#HoursWage").val(ret.ret.HoursWage);
                $("#Wage_slt").val(ret.ret.Wage_slt);
                $("#PersonInfoID").val(ret.ret.ID);
            })
            AddPersonInfo();
        }
        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }
        function loadData_qian()
        {

            var UpTime = $('#Stime').combobox('getValue');

            if (UpTime.length <= 0) {
                $.messager.alert("提示", "开始时间不可为空！")
                return;
            }

            var DwTime = $('#Otime').combobox('getValue');
            if (DwTime.length <= 0) {
                $.messager.alert("提示", "结束时间不可为空！")
                return;
            }

            var Jhname = $('#Jhname').combobox('getValue');

            var addUser = $('#addUser').combobox('getValue');
            var SHuser = $('#SHuser').combobox('getValue');
            var CPtext = $('#CPtext').combobox('getValue');
            var shzt = $("#shzt").combobox('getValue');

            var pars = {
                
            };
            loadData(pars);
        }
        function stlYgtab(pars) {
            $('#tt').datagrid({
                url: '/sltjxzz/sltperson',
                title: '员工信息管理',
                width: $("#dgdiv").width(),
                height: $("#dgdiv").height() - 30,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'BuMen', title: '所属部门', align: 'center' },
                    { field: 'Name', title: '姓名', align: 'center' },
                    { field: 'Job_Name', title: '工种', align: 'center'},
                    { field: 'HoursWage', title: '时薪', align: 'center' },
                   { field: 'Wage_slt', title: '工资', align: 'center' },
                   {
                       field: 'AddTime', title: '创建时间', align: 'center',
                       formatter: function (value, row, index) {
                           if (value != null)
                           { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                           else
                           { return value }
                       }
                   },  {
                       field: 'Operator', title: '操作', align: 'center',
                        formatter: function (value, row, index) {
                            var str = "<a href='javascript:editPersonData()' class='l-btn' style='margin:0px 5px;padding:2px 8px '" +
                                "' class=' deletes' >修改</a>" + "<a href='javascript:delPersonData()' class='l-btn' style='margin:0px 5px;padding:2px 8px '" +
                                "' class=' deletes' >删除</a>";

                            return str;
                        }
                    }

                ]],
                toolbar: "#AddPersonInfoBtnDiv",
                onLoadSuccess: function () {
                }
            });
        }
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/Sltjxzz/Getdata',
                title: '信息统计表',
                width: $("#dgdiv").width(),
                height: $("#dgdiv").height() - 30,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                     { field: 'SuoShuCJ', title: '所属部门', align: 'center' },
                    {
                        field: 'Wtime', title: '单据时间',
                        formatter: function (value, row, index) {
                            if (value != null)
                            { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                            else
                            { return value }
                        }
                    }, {
                        field: 'StupTime', title: '计划开始日期', align: 'center',
                        formatter: function (value, row, index) {
                            if (value != null)
                            { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                            else
                            { return value }
                        }
                    },
                    { field: 'UPslt_ID', title: '操作者', align: 'center' },
                      { field: 'Job_Name', title: '工种', align: 'center' },
                      { field: 'UpBumen_id', title: '用工部门', align: 'center' },
                      { field: 'ImgNumber', title: '零件图号', align: 'center' },
                      { field: 'ImgName_ID', title: '零件名称', align: 'center' },
                      { field: 'Iint', title: '数量', align: 'center' },
                      { field: 'Slt_kg', title: '重量', align: 'center' },
                      { field: 'ThisHaveTime', title: '计划工时', align: 'center' },
                      { field: 'HaveTime', title: '实际工时', align: 'center' },
                      { field: 'Slt_BFB', title: '完工程度', align: 'center' },
                      {
                          field: 'OverTime', title: '实际完成日期', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null)
                              { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                              else
                              { return value }
                          }
                      },
                      { field: 'Slt_hege', title: '合格数量', align: 'center' },
                      { field: 'Slt_hegeNo', title: '不合格数量', align: 'center' },
                      { field: 'Slt_Feipin', title: '废品数量', align: 'center' },
                      { field: 'Seb_number_ID', title: '设备编号', align: 'center' },
                      { field: 'Wage_slt', title: '工资', align: 'center' },
                      { field: 'HoursWage', title: '加工单价', align: 'center' },
                      { field: 'WorkHours', title: '工作时间', align: 'center' },
                      { field: 'SumHoursWage', title: '合计金额', align: 'center' },
                      {
                          field: 'RestYesOrNo', title: '是否休息', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null) {
                                  switch (parseInt(value)) {
                                      case -1:
                                          return "未休息";
                                          break;
                                      case 0:
                                          return "半天休";
                                          break;
                                      case 1:
                                          return "全天休";
                                          break;
                                  }
                              }
                              else { return value }
                          }
                      },
                      { field: 'AllPinJia', title: '综合评价', align: 'center' },
                      { field: 'BAK', title: '备注', align: 'center' },
                      {
                          field: 'Addtime', title: '创建时间',
                          formatter: function (value, row, index) {
                              if (value != null)
                              { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                              else
                              { return value }
                          }
                      },
                     {
                         field: 'Operator', title: '操作',
                         formatter: function (value, row, index) {
                             var str = "<a class='l-btn' href='javascript:editDayExcel()' class=' editDayExcel'  style='margin:0px 5px;padding:2px 8px'>修改</a><a class='l-btn' href='javascript:delDayExcel()' class=' delDayExcel'  style='margin:0px 5px;padding:2px 8px'>删除</a>";
                             return str;
                         }
                     }
                ]],
                toolbar: "#adddatasDiv",
                onLoadSuccess: function () {
                }
            });
        }
        function loadInfoExcel(pars) {
            $("#yearMonth").hide();
            $('#tt').datagrid({
                url: '/Sltjxzz/GetStatisticsInfo',
                title: '单据汇总报表',
                width: $("#dgdiv").width(),
                height: $("#dgdiv").height() - 30,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数,
                columns: [[
                            {
                                field: 'Wtime', title: '单据时间',
                                formatter: function (value, row, index) {
                                    if (value != null)
                                    { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                                    else
                                    { return value }
                                }
                            }, {
                                field: 'StupTime', title: '计划开始日期', align: 'center',
                                formatter: function (value, row, index) {
                                    if (value != null)
                                    { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                                    else
                                    { return value }
                                }
                            },
                    { field: 'UPslt_ID', title: '操作者', align: 'center' },
                      { field: 'Job_Name', title: '工种', align: 'center' },
                      { field: 'UpBumen_id', title: '用工部门', align: 'center' },
                      { field: 'ImgNumber', title: '零件图号', align: 'center' },
                      { field: 'ImgName_ID', title: '零件名称', align: 'center' },
                      { field: 'Iint', title: '数量', align: 'center' },
                      { field: 'Slt_kg', title: '重量', align: 'center' },
                      { field: 'ThisHaveTime', title: '计划工时', align: 'center' },
                      { field: 'HaveTime', title: '实际工时', align: 'center' },
                      { field: 'Slt_BFB', title: '完工程度', align: 'center' },
                      {
                          field: 'OverTime', title: '实际完成日期', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null)
                              { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                              else
                              { return value }
                          }
                      },
                      { field: 'Slt_hege', title: '合格数量', align: 'center' },
                      { field: 'Slt_hegeno', title: '不合格数量', align: 'center' },
                      { field: 'Slt_Feipin', title: '废品数量', align: 'center' },
                      { field: 'Seb_number_ID', title: '设备编号', align: 'center' },
                      { field: 'Wage_slt', title: '工资', align: 'center' },
                      { field: 'HoursWage', title: '加工单价', align: 'center' },
                      { field: 'WorkHours', title: '工作时间', align: 'center' },
                      { field: 'SumHoursWage', title: '合计金额', align: 'center' },
                      {
                          field: 'RestYesOrNo', title: '是否休息', align: 'center',
                          formatter: function (value, row, index) {
                              if (value != null) {
                                  switch (parseInt(value)) {
                                      case -1:
                                          return "未休息";
                                          break;
                                      case 0:
                                          return "半天休";
                                          break;
                                      case 1:
                                          return "全天休";
                                          break;
                                  }
                              }
                              else { return value }
                          }
                      },
                      { field: 'AllPinJia', title: '综合评价', align: 'center' },
                      { field: 'BAK', title: '备注', align: 'center' },
                      {
                          field: 'Addtime', title: '创建时间',
                          formatter: function (value, row, index) {
                              if (value != null)
                              { return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d"); }
                              else
                              { return value }
                          }
                      }]],
                toolbar: "#InfoExcelBtnDiv",
                onLoadSuccess: function () {
                }
            });
        }
        //修改日报表
        function editDayExcel() {
            var rows = $("#tt").datagrid("getSelected");
            if (rows.Seb_number_ID != null) {
                ResetJJForm();
                $.post("/SltJxzz/GetEditInfo", { "id": rows.ID, "state": 0 }, function (serverData) {
                    $("#AddOneid").val(serverData.ID)
                    $("#Wtime").datebox("setValue", ChangeDateFormat(serverData.Wtime))
                    $("#ImgName_IDSel").combobox("setValue", serverData.ImgName_ID)
                    $("#ImgNumber").val(serverData.ImgNumber)
                    $("#Iint").val(serverData.Iint)
                    $("#Slt_kg").val(serverData.Slt_kg)
                    $("#Slt_hege").val(serverData.Slt_hege)
                    $("#Slt_hegeno").val(serverData.Slt_hegeNo)
                    $("#Slt_Feipin").val(serverData.Slt_Feipin)
                    $("#UpBumen_id").combobox("setValue", serverData.UpBumen_id)
                    $("#FinishBFB").val(serverData.Slt_BFB)
                    $("#JiHuanStartTime").datebox("setValue", serverData.StupTime == null ? serverData.StupTime : ChangeDateFormat(serverData.StupTime))
                    $("#ShiJiFinishTime").datebox("setValue",serverData.OverTime==null?serverData.OverTime:ChangeDateFormat(serverData.OverTime))
                    $("#ThisHaveTime").val(serverData.ThisHaveTime)
                    $("#HaveTime").val(serverData.HaveTime)
                    $("#WorkHours").val(serverData.WorkHours)
                    $("#str_1").combobox("setValue", serverData.Seb_number_ID)
                   $("#sltczz").combobox("setValue", serverData.UPslt_ID)
                   $("#RestYesOrNo").combobox("setValue", serverData.RestYesOrNo)
                })
                AdddataInfo();
            } else {
                ResetJGForm();
                $.post("/SltJxzz/GetEditInfo", { "id": rows.ID, "state": 1 }, function (serverData) {
                    $("#AddTwoid").val(serverData.ID)
                    $("#WtimeJG").datebox("setValue", ChangeDateFormat(serverData.Wtime))
                    $("#ImgName_IDJGSel").combobox("setValue", serverData.ImgName_ID)
                    $("#ImgNumberJG").val(serverData.ImgNumber)
                    $("#IintJG").val(serverData.Iint)
                    $("#Slt_kgJG").val(serverData.Slt_kg)
                    $("#Slt_hegeJG").val(serverData.Slt_hege)
                    $("#Slt_hegenoJG").val(serverData.Slt_hegeNo)
                    $("#FinishBFBJG").val(serverData.Slt_BFB)
                    $("#Slt_FeipinJG").val(serverData.Slt_Feipin)
                    $("#UpBumen_idJG").combobox("setValue", serverData.UpBumen_id)
                    $("#JiHuanStartTimeJG").datebox("setValue", serverData.StupTime == null ? serverData.StupTime : ChangeDateFormat(serverData.StupTime))
                    $("#ShiJiFinishTimeJG").datebox("setValue", serverData.OverTime == null ? serverData.OverTime : ChangeDateFormat(serverData.OverTime))
                    $("#ThisHaveTimeJG").val(serverData.ThisHaveTime)
                    $("#HaveTimeJG").val(serverData.HaveTime)
                    $("#WorkHoursJG").val(serverData.WorkHours)
                    $("#sltczzJG").combobox("setValue", serverData.UPslt_ID)
                    $("#RestYesOrNoJG").combobox("setValue", serverData.RestYesOrNo)
                })
                AdddataInfoJG(1);
            }
        }
        //删除日报表
        function delDayExcel() {
            var rows = $('#tt').datagrid('getSelected');
            $.messager.confirm('提示', '确定要执行删除操作吗?', function (r) {
                if (r) {
                    var state = 0;
                    if (rows.Seb_number_ID != null) {
                        state=1
                    }
                    $.post("/SltJxzz/delDayExcel", { "id": rows.ID,"state":state }, function (data) {
                        if (data.ret == "ok") {
                            $('#tt').datagrid("reload");
                        }
                        else {
                            $.messager.alert("提示", data.msg);
                        }
                    })
                } else {
                    return;
                }
            });
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        //修改完成以后调用该方法
        function afterEdit(data) {
                $('#adddiv').dialog('close');
                $('#tt').datagrid('reload');
                if (data.state == true) {
                    $("#ImgName_IDSel").combobox("reload", "/SltJxzz/GetImgName_ID");
                }
        }
        function afterEditAddJG(data) {
                $('#adddivJG').dialog('close');
                $('#tt').datagrid('reload');
                if (data.state == true) {
                    $("#ImgName_IDJGSel").combobox("reload", "/SltJxzz/GetImgName_ID");
                }
                hiddenInput();
        }
        //数字验证
        function num(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
        //获取当前时间
        function GetDate()
        {
            var myDate = new Date();
            var year = myDate.getFullYear();
            //获取当前月
            var month = myDate.getMonth() + 1;

            var new_date = new Date(year, month, 1);                //取当年当月中的第一天


            var date_count = (new Date(new_date.getTime() - 1000 * 60 * 60 * 24)).getDate();//获取当月的天数

            var last_date = new Date(new_date.getTime() - 1000 * 60 * 60 * 24);//获得当月最后一天的日期

            var year = new_date.getFullYear();
            //获取当前月
            var month = new_date.getMonth();
            //获取当前日
            var date = new_date.getDate();
            var now = year + '-' + p(month) + "-" + p(date);

            $('#Stime').datebox('setValue', now);
            year = last_date.getFullYear();
            //获取当前月
            month = last_date.getMonth() +1;
            //获取当前日
            date = last_date.getDate();
            now = year + '-' + p(month) + "-" + p(date);
            $('#Otime').datebox('setValue', now);

        }
        function p(s) {
            return s < 10 ? '0' + s : s;
        }
        function Qingkong() {

            $('#Jhname').combobox('clear');
            $('#addUser').combobox('clear');
            $('#SHuser').combobox('clear');
            $('#CPtext').combobox('clear');

            $('#shzt').combobox('clear');

            //var addUser = $('#addUser').combobox('getValue');
            //var SHuser = $('#SHuser').combobox('getValue');
            //var CPtext = $('#CPtext').combobox('getValue');
        }
        //清空机加日报表单
        function ResetJJForm() {
            $("#AddOneid").val("")
            $("#Wtime").datebox("setValue", "")
            $("#ImgName_IDSel").combobox("setValue", "")
            $("#ImgNumber").val("")
            $("#Iint").val("")
            $("#Slt_kg").val("")
            $("#Slt_hege").val("")
            $("#Slt_hegeno").val("")
            $("#Slt_Feipin").val("")
            $("#UpBumen_id").combobox("setValue", "")
            $("#FinishBFB").val("")
            $("#JiHuanStartTime").datebox("setValue", "")
            $("#ShiJiFinishTime").datebox("setValue", "")
            $("#ThisHaveTime").val("")
            $("#HaveTime").val("")
            $("#WorkHours").val("10")
            $("#str_1").combobox("setValue", "")
            $("#sltczz").combobox("setValue", "")
            $("#RestYesOrNo").combobox("setValue", -1)
            $("#itGongzhong").val("")
            $("#itwage").val("")
            $("#ithours").val("")
        }
        //清空结构日报表单
        function ResetJGForm() {
            $("#AddTwoid").val("")
            $("#WtimeJG").datebox("setValue", "")
            $("#ImgName_IDJGSel").combobox("setValue", "")
            $("#ImgNumberJG").val("")
            $("#IintJG").val("")
            $("#Slt_kgJG").val("")
            $("#Slt_hegeJG").val("")
            $("#Slt_hegenoJG").val("")
            $("#Slt_FeipinJG").val("")
            $("#UpBumen_idJG").combobox("setValue", "")
            $("#FinishBFBJG").val("")
            $("#JiHuanStartTimeJG").datebox("setValue", "")
            $("#ShiJiFinishTimeJG").datebox("setValue", "")
            $("#ThisHaveTimeJG").val("")
            $("#HaveTimeJG").val("")
            $("#WorkHoursJG").val("10")
            $("#sltczzJG").combobox("setValue", "")
            $("#RestYesOrNoJG").combobox("setValue", -1)
            $("#itGongzhongJG").val("")
            $("#itwageJG").val("")
            $("#ithoursJG").val("")
        }
    </script>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
        }

        .btnlink a {
            width: 90%;
            margin-top: 3px;
        }

        .tab {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            text-align: center;
        }
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'west',split:true,title:'选项'" id="CkHide" class="easyui-panel btnlink" style="width:120px; padding:8px">
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" id="sltdata">查询单据</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="Ygedit">员工信息</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="InfoExcel">单据汇总报表</a>
    </div>
    <div data-options="region:'center',title:'数据报表'" id="dgdiv">

        <table id="tt" class="easyui-datagrid" style="width: 700px; " title="标题" iconcls="icon-edit"
              >
            <thead data-options="frozen:true ">
                <tr>
                    <th data-options="field:'ck',checkbox: true, align: 'left', width: 30"></th>
                    <th data-options="field:'ID', width: 40">编号</th>
                </tr>
            </thead>
        </table>

    </div> 
    <!-------添加员工信息按钮-------->
    <div id="AddPersonInfoBtnDiv" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="#" class="easyui-linkbutton" id="AddPersonInfoBtn" iconCls="icon-add" plain="true">添加员工信息</a>
        </div>
    </div>
    <!-------添加数据-------->
    <div id="adddatasDiv" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="#" class="easyui-linkbutton" id="adddatas" iconCls="icon-add" plain="true">新增机加车间日报表</a>
            <a href="#" class="easyui-linkbutton" id="adddatas2" iconCls="icon-add" plain="true">新增结构车间日报表</a>
        </div>
    </div>
    <!-------信息汇总区域按钮-------->
    <div id="InfoExcelBtnDiv" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            统计表类别：<input class="easyui-combobox" id="InfoExcelType"
                   url="/SltJxzz/GetInfoExcelType"
                   valueField="ID"
                   textField="str"
                   panelHeight="auto"
                   style="width:100px" />
            部门列表：<input class="easyui-combobox" id="InfoExcelMsg"
                   valueField="ID"
                   textField="Name"
                   panelHeight="200px"
                   style="width:100px" />
            <label id="yearMonthDay">统计日期：<input  type="text" class="easyui-datebox" id="excelYMD"></label>
            <label id="yearMonth">统计月份：<input onclick="setmonth(this)"  id="excelYM"/></label>
            <input type="button" value="统计" onclick="toExcelInfo()"/>
            <input type="button" value="导出Excel" onclick="toDownloadExcel()" />
            <form id="ExcelForm" action="/SltJxzz/GetExcelTable" method="post">
                <input id="Action" name="Action" type="hidden" value="outexcel" />
                <input id="OFtable" name="OFtable" type="hidden" />
            </form>
</div>
    </div>
    <!---------------添加/修改员工信息----------------->
    <div id="AddPersonInfoDIV" style="height:100%; width:100%;display:none">
        @using (Ajax.BeginForm("AddeditSltPer", "SltJxzz", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddPersonInfo" }, new { id = "addpersoninfofrom" }))
        {<table id="AddPersonInfoTab">
            <tr style="display:none"><td>编号</td><td><input type="text" class="easyui-textbox" name="ID" id="PersonInfoID" /></td></tr>
            <tr><td>员工</td>
                    <td>
                        <!--从数据库取值的下拉菜单-->
                        <input class="easyui-combobox" id="UserIDForAddPerson"
                               name="UserID"
                               url="/SltJxzz/GetYuanGongList"
                               valueField="ID"
                               textField="Name"
                               panelHeight="200px"
                               style="width:100px" />
                    </td>
            </tr>
            <tr><td>工种</td><td><input type="text" class="easyui-textbox" name="Job_Name" id="Job_Name" /></td></tr>
             <tr><td>时薪</td><td><input type="text" class="easyui-textbox" name="HoursWage" id="HoursWage" /></td></tr>
             <tr><td>工资</td><td><input type="text" class="easyui-textbox" name="Wage_slt" id="Wage_slt" /></td></tr>
        </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>
        }
    </div>
    <!---------------机加车间日报表界面信息--------------------->
    <div id="adddiv" style="height:100%; width:100%;display:none">
        @using (Ajax.BeginForm("addDayBb", "Sltjxzz", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "bollForm" }))
        {
            <input name="ID" id="AddOneid" type="hidden" value="0" />
            <table style="text-align:center">
                <tr>
                    <td>报表时间</td>
                    <td>
                        <input class="easyui-datebox" name="Wtime" id="Wtime"/>
                    </td>
                </tr>
                <tr>
                    <td>操作者</td>
                    <td>
                        <input class="easyui-combobox " id="sltczz"
                               name="UPslt_ID"
                               url="/SltJxzz/GetPersonListJJ"
                               valueField="ID"
                               textField="Name"
                               panelHeight="200px" style="width:100px" />
                    </td>
                    <td>工种</td>
                    <td>
                        <input id="itGongzhong" name="itGongzhong" type="text" readonly />
                    </td>
                    <td>设备编号</td>
                    <td>
                        @{
                            <select id="str_1" class="easyui-combobox" name="Seb_number_ID" style="width:80px;">
                                @{foreach (Seb_Number Item in ViewBag.ljname)
                                    {
                                        <option value="@Item.ID">@Item.Ttext</option>
                                    }
                                }
                            </select>
                        }
                    </td>
                    <td>用工部门</td>
                    <td>
                        <input class="easyui-combobox " id="UpBumen_id"
                               name="UpBumen_id"
                               url="/BillPrint/GetBumen"
                               valueField="ID"
                               textField="MyTexts"
                               panelHeight="200px" style="width:100px" />
                    </td>
                </tr>
                <tr>
                    <td>零件图号</td>
                    <td>
                        <input id="ImgNumber" type="text" name="ImgNumber" />
                    </td>
                    <td>零件名称</td>
                    <td>
                        <input class="easyui-combobox" id="ImgName_IDSel"
                               name="ImgName_IDSel"
                               url="/SltJxzz/GetImgName_ID"
                               valueField="ID"
                               textField="Name"
                               panelHeight="200px"
                               style="width:300px" />
                    </td>
                    <td><input name="ImgName_ID" id="ImgName_ID" type="hidden" /></td>
                </tr>
                <tr>
                    <td>数量</td>
                    <td><input id="Iint" type="text" name="Iint" onkeyup="num(this)" /> </td>
                    <td>重量</td>
                    <td><input id="Slt_kg" type="text" name="Slt_kg" onkeyup="num(this)" /> </td>
                    <td>计划开始时间</td>
                    <td>
                        <input id="JiHuanStartTime" type="text" name="StupTime" class="easyui-datebox" />
                    </td>
                </tr>
                <tr>
                    <td>计划工时</td>
                    <td>
                        <input id="ThisHaveTime" type="text" name="ThisHaveTime" onkeyup="num(this)" />
                    </td>
                    <td>实际工时</td>
                    <td><input id="HaveTime" type="text" name="HaveTime" onkeyup="num(this)" /> </td>
                    <td>完工程度</td>
                    <td><input id="FinishBFB" type="text" name="Slt_BFB" onkeyup="num(this)" /> </td>
                    <td>实际完成日期</td>
                    <td><input id="ShiJiFinishTime" type="text" name="OverTime" class="easyui-datebox" /></td>
                </tr>
                <tr>
                    <td>工资</td>
                    <td><input id="itwage" type="text" name="itwage" readonly /> </td>
                    <td>加工单价</td>
                    <td><input id="ithours" type="text" name="ithours" readonly /> </td>
                    <td>工作时间</td>
                    <td><input id="WorkHours" type="text" name="WorkHours" onkeyup="num(this)"  /> </td>
                </tr>
                <tr>
                    <td>是否休息</td>
                    <td><select class="easyui-combobox"  name="RestYesOrNo" id="RestYesOrNo" >
                            <option value="-1"  selected>未休息</option>
                            <option value="0">半天休</option>
                            <option value="1">全天休</option>                        
                        </select> </td>
                </tr>
                <tr>
                    <td>合格数量</td>
                    <td>
                        <input id="Slt_hege" type="text" name="Slt_hege" onkeyup="num(this)" />
                    </td>
                    <td>不合格数量</td>
                    <td><input id="Slt_hegeno" type="text" name="Slt_hegeNo" onkeyup="num(this)" /> </td>
                    <td>废品数量</td>
                    <td><input id="Slt_Feipin" type="text" name="Slt_Feipin" onkeyup="num(this)" /> </td>
                </tr>
            </table> 
        }
    </div>
    <!---------------结构车间日报表界面信息--------------------->
    <div id="adddivJG" style="height:100%; width:100%;display:none">
        @using (Ajax.BeginForm("addDayBbJG", "Sltjxzz", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEditAddJG" }, new { id = "bollFormJG" }))
        {
            <input name="ID" id="AddTwoid" type="hidden" value="0" />
            <table style="text-align:center">
                <tr>
                    <td>报表时间</td>
                    <td>
                        <input class="easyui-datebox" name="Wtime" id="WtimeJG"/>
                    </td>
                </tr>
                <tr>
                    <td>操作者</td>
                    <td><label id="PersonGroupYorNText"><input type="checkbox" id="PersonGroupYorN" name="PersonGroupYorN" value="false">添加操作者组</label></td>
                    <td>
                        <input class="easyui-combobox " id="sltczzJG"
                               name="UPslt_ID"
                               url="/SltJxzz/GetPersonListJG"
                               valueField="ID"
                               textField="Name"
                               panelHeight="200px" style="width:100px" /><input type="button" id="AddIntoGroup" value="添加进组" hidden="hidden"/>
                    </td>
                    <td>
                        <label id="GroupPersonsLabel"  hidden="hidden">组内成员 <textarea id="GroupPersons" readonly style="width:173px;height:80px;resize:none;"></textarea></label>
                        <input name="GroupPersonsID" id="GroupPersonsID" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <td>工种</td>
                    <td>
                        <input id="itGongzhongJG" name="itGongzhong" type="text" readonly />
                    </td>
                    <td>用工部门</td>
                    <td>
                        <input class="easyui-combobox " id="UpBumen_idJG"
                               name="UpBumen_id"
                               url="/BillPrint/GetBumen"
                               valueField="ID"
                               textField="MyTexts"
                               panelHeight="200px" style="width:100px" />
                    </td>
                </tr>
                <tr>
                    <td>零件图号</td>
                    <td>
                        <input id="ImgNumberJG" type="text" name="ImgNumber" />
                    </td>
                    <td>零件名称</td><td>
                                     <input class="easyui-combobox" id="ImgName_IDJGSel"
                                            name="ImgName_IDJGSel"
                                            url="/SltJxzz/GetImgName_ID"
                                            valueField="ID"
                                            textField="Name"
                                            panelHeight="200px"
                                            style="width:300px" />
                    </td><td><input name="ImgName_ID" id="ImgName_IDJG" type="hidden" /></td>
                </tr>
                <tr>
                    <td>数量</td>
                    <td><input id="IintJG" type="text" name="Iint" onkeyup="num(this)" /> </td>
                    <td>重量</td>
                    <td><input id="Slt_kgJG" type="text" name="Slt_kg" onkeyup="num(this)" /> </td>
                    <td>计划开始时间</td>
                    <td>
                        <input id="JiHuanStartTimeJG" type="text" name="StupTime" class="easyui-datebox" />
                    </td>
                </tr>
                <tr>
                    <td>计划工时</td>
                    <td>
                        <input id="ThisHaveTimeJG" type="text" name="ThisHaveTime" onkeyup="num(this)" />
                    </td>
                    <td>实际工时</td>
                    <td><input id="HaveTimeJG" type="text" name="HaveTime" onkeyup="num(this)" /> </td>
                    <td>完工程度</td>
                    <td><input id="FinishBFBJG" type="text" name="Slt_BFB" onkeyup="num(this)" /> </td>
                    <td>实际完成日期</td>
                    <td><input id="ShiJiFinishTimeJG" type="text" name="OverTime" class="easyui-datebox" /></td>    
                </tr>
                <tr>
                    <td>工资</td>
                    <td><input id="itwageJG" type="text" name="itwage"  readonly /> </td>
                    <td>加工单价</td>
                    <td><input id="ithoursJG" type="text" name="ithours"  readonly /> </td>
                    <td>工作时间</td>
                    <td><input id="WorkHoursJG" type="text" name="WorkHours" onkeyup="num(this)" /> </td>
                </tr>
                <tr>
                    <td>是否休息</td>
                    <td><select class="easyui-combobox"  name="RestYesOrNo" id="RestYesOrNoJG" >
                        <option value="-1">未休息</option>                        
                        <option value="0">半天休</option>
                        <option value="1">全天休</option>                      
                        </select> </td>
                </tr>
                <tr>
                    <td>合格数量</td>
                    <td>
                        <input id="Slt_hegeJG" type="text" name="Slt_hege" onkeyup="num(this)" />
                    </td>
                    <td>不合格数量</td>
                    <td><input id="Slt_hegenoJG" type="text" name="Slt_hegeNo" onkeyup="num(this)" /> </td>
                    <td>废品数量</td>
                    <td><input id="Slt_FeipinJG" type="text" name="Slt_Feipin" onkeyup="num(this)" /> </td>
                </tr>
            </table> 
        }
    </div>
</body>
</html>
