@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>产品报价列表</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/Print.css" rel="stylesheet" type="text/css"  media="print"/>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript">
        $.fn.extend({
            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });
        $(function () {
            $("#NewBill").hide();
            $("#NewBaoXiaoBill").hide();
            $("#NewZPT").hide();
            
            //初始化欠款dialg显示信息
            $("#Qiankuandiv").dialog({
                title: "欠款报销明细表",
                width: $(document).width() / 1.5,
                height: $(document).height() / 1.2,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '取消',
                    handler: function () {
                        $('#Qiankuandiv').dialog('close');
                    }
                }]
            });
            $("#Qiankuandiv").dialog("close");
            // 当窗口大小发生变化时，调整DataGrid的大小
            $(window).resize(function () {
                $('#tt').resizeDataGrid(0, 0, 200, 500);
            });
            $("#AddBxBill").css("display", "none");
            $("#AddZPT").css("display", "none");
            $("#AddJieKuanBill").css("display", "none");
            $("#PrintDIV").css("display", "none");
            $("#PrintZPT").css("display", "none");
            $("#AddBxBillData").css("display", "none");
            $("#BxBillShow").css("display", "none");             
            $("#addta").css("display", "none");
            $("#BtnJkd").click(function () {
                loadData();
            })
            $("#BaoXiaoName").combobox({
                onSelect: function () {
                    $("#BaoXiaoMoeny").val("");
                    $("#DanJiuInt").val(0);
                    var bxlr = $("#BaoXiaoName").combobox("getText");
                    var num = Number(bxlr);
                    if (!isNaN(num)) {
                        $("#BaoXiaoMoeny").val("");
                    } else {
                        var jkid = $("#BaoXiaoName").combobox("getValue");
                        $.post("/BillPrint/GetJieKuanMoney", { "id": jkid }, function (data) {
                        if (data.ret == "ok") {
                            $("#BaoXiaoMoeny").val(data.jkmoney);
                        } else if(data.ret == "no"){
                            $("#BaoXiaoMoeny").val("");
                        }
                    });
                    }
                }
            })
            $("#BuMenid").combobox({
                onChange: function () {
                    $("#Jkperson").combobox("setValue", "");
                    $("#Jkdanwei").combobox("setValue", "");
                    var BMID = $("#BuMenid").combobox("getValue");
                    $("#Jkperson").combobox("reload", "/BillPrint/GetJKPerson?BMID=" + BMID);
                    $("#Jkdanwei").combobox("reload", "/BillPrint/GetBuMenAllSKDW?BMID=" + BMID);
                }
            })
            $("#Jkdanwei").combobox({
                onChange: function () {
                    $("#FaHuoBak").combobox("setValue", "");
                    var skdw = $("#Jkdanwei").combobox("getValue");
                    $("#FaHuoBak").combobox("reload", "/BillPrint/GetAllFaHuoBak?SKDW=" + skdw);
                }
            });
            $("#FaHuoBak").combobox({
                onChange: function () {
                    $("#CardNumberID").combobox("setValue", "");
                    var fhb = $("#FaHuoBak").combobox("getValue");
                    $("#CardNumberID").combobox("reload", "/BillPrint/GetAllFaHuoBakCardNumber?FHB=" + fhb);
                }
            });
            //打印月预览总汇
            $("#PrintMonth").click(function () {
                $("#PrintDIV").jqprint();
            })    
            $("#NewBill").click(function () {
               
                $("#AddJieKuanBill").css("display", "block");
                $('#AddJieKuanBill').dialog({
                    title: "添加用户信息",
                    width: 600,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            var date = $("#BillTimeID").datebox("getValue");
                            var bm = $("#BuMenid").combobox("getValue");
                            var jkp = $("#Jkperson").combobox("getText");
                            var jkdw = $("#Jkdanwei").combobox("getText");
                            var jkmid = $("#JieKuanMoneyID").val();
                            var fhb = $("#FaHuoBak").combobox("getText");
                            var cnid = $("#CardNumberID").combobox("getText");
                            if(date == null || date == ""){
                                $.messager.alert("提示", "请选择借款时间！");
                                return;
                            }
                            if (bm == null || bm == "") {
                                $.messager.alert("提示", "请选择借款人部门！");
                                return;
                            }
                            if (jkdw == null || jkdw == "") {
                                $.messager.alert("提示", "请选择收款单位或手动输入！");
                                return;
                            }
                            if (jkmid == null || jkmid == "") {
                                $.messager.alert("提示", "请输入借款金额！");
                                return;
                            }
                            if (fhb == null || fhb == "") {
                                $.messager.alert("提示", "请选择开户行或手动输入！");
                                return;
                            }
                            if (cnid == null || cnid == "") {
                                $.messager.alert("提示", "请选择卡号或手动输入！");
                                return;
                            }
                            $("#Jkdanwei1").val(jkdw);
                            $("#FaHuoBak1").val(fhb);
                            $("#CardNumberID1").val(cnid);
                            $("#JKBillFrom").submit();//提交表单                            
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $(".JKtable input").val("");
                            $("#Jkdanwei").combobox("setValue", "");
                            $("#FaHuoBak").combobox("setValue", "");
                            $("#CardNumberID").combobox("setValue", "");
                            $("#Jkperson").combobox("setValue", "");
                            $("#BuMenid").combobox("setValue", "");
                            $('#AddJieKuanBill').dialog('close');
                        }
                    }]
                });
            })
            $("#BtnBaoXiao").click(function () {
                LoadBaoXiao();
            })
            $("#Zhipiaotong").click(function () {
                $('#tt').datagrid('loadData', { total: 0, rows: [] });
                LoadZhipiaotong();
            })
            $("#NewBaoXiaoBill").click(function () {
            
                $("#AddBxBill").css("display", "block");
                $('#AddBxBill').dialog({
                    title: "新建报销单据",
                    width: 600,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            if ($("#BxTime").datebox("getValue").length<=0)
                            {
                                $.messager.alert("提示", "报销时间不可为空！")
                                return;
                            }
                            
                            if ($("#BxDw").val().trim().length <= 0) {
                                $.messager.alert("提示", "报销单位不可为空！")
                                return;
                            }
                            $("#BXBillFrom").submit();//提交表单     
                            $('#AddBxBill').dialog('close');
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#AddBxBill').dialog('close');
                        }
                    }]
                });
            })
            $("#NewZPT").click(function () {
                $("#ZPTID").val("0")
                $("#AddZPT").css("display", "block");
                $('#AddZPT').dialog({
                    title: "新建收款收据",
                    width: 600,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            
                            $("#ZPTFrom").submit();//提交表单     
                            $('#AddZPT').dialog('close');
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#AddZPT').dialog('close');
                        }
                    }]
                });
            })
            loadData();
            
        });
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/BillPrint/GETjiekuandata',
                title: '借款单数据',
                width: $("#dgdiv").width() - 2,
                height: $("#dgdiv").height() - 2,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime 
                    { field: 'Bumen', title: '部门' },                    
                    { field: 'SkdwName', title: '收款单位全称（姓名）' },
                    { field: 'JieKuanYuanYin', title: '借款原因' },
                    { field: 'JieKuanPerson', title: '借款人' },
                    {
                        field: 'JieKuanMoney', title: '借款金额',formatter:function (value, row, index) {
                         
                        return value == null ? 0 : formatCurrency(value.toFixed(2));
                        }
                    },
                    { field: 'OpenHang', title: '开户行' },
                    { field: 'CardNumber', title: '账号(卡号)' },
                    { field: 'Bak', title: '备注' }, 
                     { field: 'Del', title: '状态' },
                     { field: 'BillTime', title: '借款日期' ,formatter: function (value, row, index) {
                         var str = ChangeDateFormat(value);
                         return str;
                     }},
                     {
                         field: 'AddTime', title: '创建时间', formatter: function (value, row, index) {
                             var str = ChangeDateFormatHours_Minute(value);
                             return str;
                         }
                     },
                     {
                         field: "Print", title: "打印预览", formatter: function (value, row, index) {
                             return "<a href='javascript:DigPrint()' class='l-btn' style='padding:2px 5px;'>打印预览</a>";
                         }
                     },
                     {
                         field: "Zuofei", title: "作废", formatter: function (value, row, index) {
                           return "<a href='javascript:jkdzf()' class='l-btn' style='padding:2px 5px;'>作废</a>";
                     }
        }

                ]],
                onLoadSuccess: function () {
                    $("#NewBill").show();
                    $("#NewBaoXiaoBill").hide();
                    $("#NewZPT").hide();

                }
            });
        }
        function LoadBaoXiao(pars) {
            $('#tt').datagrid({
                url: '/BillPrint/GETBaoXiaodata',
                title: '报销单据封面',
                width: $("#dgdiv").width() - 2,
                height: $("#dgdiv").height() - 2,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime 
                    { field: 'BaoxianDanwei', title: '报销单位' },
                    {
                        field: 'IntTime', title: '单据时间', formatter: function (value, row, index) {
                            var str = ChangeDateFormat(value);
                            return str;
                        }
                    },
                     {
                         field: 'Addtime', title: '创建单据时间', formatter: function (value, row, index) {
                             var str = ChangeDateFormatHours_Minute(value);
                             return str;
                         }
                     },                                  
                    { field: 'Icount', title: '单据下信息数量' },
                     { field: 'Del', title: '状态' },                     
                     {
                         field: "ddc", title: "添加内容", formatter: function (value, row, index) {
                             return "<a href='javascript:DigBaoXiaoshow()' class='l-btn' style='padding:2px 5px;'>添加内容</a>";
                         }
                     },
                     {
                         field: "ddz", title: "作废", formatter: function (value, row, index) {
                             return "<a href='javascript:bxpzdel()' class='l-btn' style='padding:2px 5px;'>作废</a>";
                         }
                     }

                ]],
                onLoadSuccess: function () {
                    $("#NewBaoXiaoBill").show();
                    $("#NewZPT").hide();
                    $("#NewBill").hide();
                }
            });
        }
        function LoadZhipiaotong(pars) {
            $('#tt').datagrid({
                url: '/BillPrint/GetZhipiaotong',
                title: '收款收据',
                width: $("#dgdiv").width() - 2,
                height: $("#dgdiv").height() - 2,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime 
                     {
                         field: 'NewTime', title: '收款日期', formatter: function (value, row, index) {
                             var str = ChangeDateFormat(value);
                             return str;
                         }
                     },
                    { field: 'ComName', title: '收款单位（交款人）' },                   
                     {
                         field: 'AddTime', title: '创建单据时间', formatter: function (value, row, index) {
                             var str = ChangeDateFormatHours_Minute(value);
                             return str;
                         }
                     },
                    { field: 'Money', title: '金额' },
                     { field: 'Fangshi', title: '结算方式' },
                       { field: 'Skbak', title: '收款事由' },
                       { field: 'Bumen', title: '部门' },
                       {
                           field: "Print", title: "打印预览", formatter: function (value, row, index) {
                               return "<a href='javascript:ZPTPrint()' class='l-btn' style='padding:2px 5px;'>打印预览</a>";
                           }
                       },
                     {
                         field: "ddz", title: "作废", formatter: function (value, row, index) {
                             return "<a href='javascript:bxpzdel()' class='l-btn' style='padding:2px 5px;'>作废</a>";
                         }
                     }

                ]],
                onLoadSuccess: function () {
                    $("#NewZPT").show();
                    $("#NewBaoXiaoBill").hide();
                    $("#NewBill").hide();
                }
            });
        }
        function afterEdit(data) {
            if (data.ret == "ok") {
                try {
                    $('#tt').datagrid('reload');
                    $('#AddJieKuanBill').dialog('close');
                    $('#AddBxBill').dialog('close');
                }
                catch (e) { }
                try {
                    $('#tt').datagrid('reload');
                    $('#AddBxBill').dialog('close');
                }
                catch (e) { }
                try {
                    $('#BillShow').datagrid('reload');
                }
                catch (e) {}
            } else  {
                $.messager.alert("提示", data.msg, "error");
            } 
        }
        function formatCurrency(num) {
            num = num.toString().replace(/\$|\,/g, '');
            if (isNaN(num))
                num = "0";
            sign = (num == (num = Math.abs(num)));
            num = Math.floor(num * 100 + 0.50000000001);
            cents = num % 100;
            num = Math.floor(num / 100).toString();
            if (cents < 10)
                cents = "0" + cents;
            for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3) ; i++)
                num = num.substring(0, num.length - (4 * i + 3)) + ',' +
                num.substring(num.length - (4 * i + 3));
            return (((sign) ? '' : '-') + num + '.' + cents);
        }
        //借款单打印数据传输
        function DigPrint() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            writ();
            $("#SSBM").text(rows[0].Bumen);
            $("#JEperson").text(rows[0].JieKuanPerson);
            $("#SkdwName").text(rows[0].SkdwName);
            var strM = "￥" + rows[0].JieKuanMoney;
            var Moneyd = rows[0].JieKuanMoney;
            Moneyd = formatCurrency(Moneyd.toFixed(2))
            $("#Money").text("￥" + Moneyd);
            $("#BigMoney").text("ⓧ" + Arabia_to_Chinese(strM));
            $("#KHH").text(rows[0].OpenHang);

            var carnum = rows[0].CardNumber;
            carnum = carnum.replace(/(\d{4})/g, '$1 ').replace(/\s*$/, ' ');
            $("#CardNumber").text(carnum);
            $("#JKyy").text(rows[0].JieKuanYuanYin);
            $("#baktd").text(rows[0].Bak);
            var Dtime = ChangeDateFormat(rows[0].BillTime).split("-");
            $("#Wyear").text(Dtime[0])
            $("#Wmonth").text(Dtime[1])
            $("#Wdata").text(Dtime[2])

            $("#Ptble tr>td:nth-child(2)").css("text-align", "left")
            $("#PrintDIV").css("display", "block");           
            $('#PrintDIV').dialog({
                title: "打印预览",
                width: $(document).width()/1.5,
                height: $(document).height() / 1.5,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '打印',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $("#Ptble tr>td:nth-child(1)").text("");
                        $("#Ptble tr:eq(0) td:eq(2) ").text("");
                        $("#Ptble tr:eq(2) td:eq(2) ").text("");
                        $("#Ptble tr:eq(3) td:eq(2) ").text("");
                        $("#bannar1").text("");
                        $("#bannar2").text("");
                        
                        $("#JKDprint").jqprint();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#PrintDIV').dialog('close');
                    }
                }]
            });
           
        }
        //收款收据打印数据传输
        function ZPTPrint() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            clenr()
            $("#td_skdw").text(rows[0].ComName);
            $("#td_jsfs").text(rows[0].Fangshi);
            $("#td_sksy").text(rows[0].Skbak);
            $("#td_bm").text(rows[0].Bumen);

          
            var strM = rows[0].Money + "";          
            var spm = strM.split('.');
            if (spm.length > 1) {
                var dismall = spm[1].split('');
                $("#m_1").text(dismall[0]);
                $("#m_0").text(dismall[1]);
                
            }
            if (spm.length >= 1) {
                var bigmall = spm[0].split('');
                $("#t_" + bigmall.length).text("￥");
                $.each(bigmall, function (index, val) {  
                    $("#t_" +( (bigmall.length-1) - index)).text(val);
                })
            }
            if ($("#m_1").text().length <= 0) {
                $("#m_1").text("0");
            }
            if ($("#m_0").text().length <= 0) {
                $("#m_0").text("0");
            }
            var Moneyd = rows[0].Money;
            Moneyd = formatCurrency(Moneyd.toFixed(2))
            $("#td_dsmoney").text(Arabia_to_Chinese(strM));
            var Dtime = ChangeDateFormat(rows[0].NewTime).split("-");
            $("#zptyear").text(Dtime[0])
            $("#zptmonth").text(Dtime[1])
            $("#zptdata").text(Dtime[2])
            //$("#Ptble tr>td:nth-child(2)").css("text-align", "left")
            $("#PrintZPT").css("display", "block");
            $('#PrintZPT').dialog({
                title: "打印预览",
                width: $(document).width() / 1.5,
                height: $(document).height() / 1.5,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '打印',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $("#Zpttble tr>td:nth-child(1)").text("");

                        $("#Zpttble tr:eq(0) td:eq(2) ").text("");

                        $("#Zpttble tr:eq(2) td:eq(2) ").text("");
                        $("#Zpttble tr:eq(2) td:eq(3) ").text("");
                        
                        $("#Zpttble tr:eq(3) td:eq(1) ").text("");
                        $("#Zpttble tr:eq(3) td:eq(3) ").text("");
                        $("#Zpttble tr:eq(3) td:eq(4) ").text("");
                       // $("#JKDprint").jqprint();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#PrintZPT').dialog('close');
                    }
                }]
            });

        }
        function DigBaoXiaoshow() {
            $(".combo-text").css("width", 400);
            $("#BxBillShow").css("display", "block");
            $('#BxBillShow').dialog({
                title: "显示列表数据",
                width: $(document).width() / 1.5,
                height: $(document).height() / 1.2,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '关闭',
                    handler: function () {
                        $("#DanJiuInt").val("");
                        $("#BaoXiaoMoney").val("");
                        $("#BaoXiaoName").combobox("setValue","");
                        $('#BxBillShow').dialog('close');
                    }
                }],
                onClose: function () {
                    $("#DanJiuInt").val("");
                    $("#BaoXiaoMoney").val("");
                    $("#BaoXiaoName").combobox("setValue", "");
                }
            });
        
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            $("#BaoXianID").val(rows[0].ID);
            var pars = {BillId:rows[0].ID};
            $('#BillShow').datagrid({
                url: '/BillPrint/GETBaoXiaolist',
                title: '报销单据封面',
                height: $("#BxBillShow").height() - $("#addta").height(),
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'BxBillID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime 
                    { field: 'BaoXiaoName', title: '报销内容' },
                    { field: 'DanJiuInt', title: '单据张数' },
                    {
                        field: 'BaoXiaoMoeny', title: '报销金额', formatter: function (value, row, index) {
                            
                            return value==null?0: formatCurrency(value.toFixed(2));
                        }
                    },
                    {
                        field: 'AddTime', title: '创建时间', formatter: function (value, row, index) {
                            var str =value==null?"": ChangeDateFormat(value);
                            return str;
                        }
                    },
                     { field: 'Del', title: '状态' },
                     {
                         field: "ddz", title: "作废", formatter: function (value, row, index) {
                             return "<a href='javascript:Delbxpzbill()' class='l-btn' style='padding:2px 5px;'>作废</a>";
                         }
                     }

                ]],
                toolbar: "#addta",
                onLoadSuccess: function () {                    
                }
            });
           
        }
        function Delbxpzbill() {
            var rows = $('#BillShow').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            $.post("/BillPrint/DelBxlistbill",{"DelID":rows[0].ID}, function (data) {
                if (data.ret == "ok") {
                    $.messager.alert("提示", data.msg);
                    $("#BillShow").datagrid("reload");
                }
                else {
                    $.messager.alert("提示", data.msg);
                }
            })
        }
        function Remc() {
            $("#BxDanwei").text('');
            $("#W1year").text('');
            $("#W1month").text('');
            $("#W1data").text('');

            for (var b = 1; b < 6;b++) {

                for (var i = 0; i < 4; i++) {
                    $("#BxTAB tr:eq("+b+") td:eq(" + i + ") ").text("");
                }
            }
           
        }
        function DigBaoXiaoPrint() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            //情况之前的信息
            Remc();
            $("#BxDanwei").text(rows[0].BaoxianDanwei);
            var Dtime = ChangeDateFormat(rows[0].IntTime).split("-");
            $("#W1year").text(Dtime[0]);
            $("#W1month").text(Dtime[1]);
            $("#W1data").text(Dtime[2]);
            var Allrow = $("#BillShow").datagrid("getRows")
           
            var Djzs = 0;
            var Money = 0;
            $.each(Allrow, function (e, ine) {
                e++;
                $("#BxTAB tr:eq(" + e + ") td:eq(0) ").text(ine.BaoXiaoName);
                //style = "text-align:":10px
                $("#BxTAB tr:eq(" + e + ") td:eq(0) ").css("text-align", "left")
                $("#BxTAB tr:eq(" + e + ") td:eq(0) ").css("padding-left", "10px")
                $("#BxTAB tr:eq(" + e + ") td:eq(1) ").text(ine.DanJiuInt);
                var Moneyd = ine.BaoXiaoMoeny;
                Moneyd = formatCurrency(Moneyd.toFixed(2));
                $("#BxTAB tr:eq(" + e + ") td:eq(2) ").text(Moneyd);
                $("#BxTAB tr:eq(" + e + ") td:eq(2) ").css("text-align", "right")
                Djzs = Djzs + ine.DanJiuInt;
                Money = Money + ine.BaoXiaoMoeny;
            })          
            $("#BxTAB tr:eq(6) td:eq(1) ").text(Djzs);
            
            $("#BxTAB tr:eq(6) td:eq(2) ").text("￥" +formatCurrency(Money.toFixed(2) ));
            var EditMoney = Arabia_to_Chinese("￥" + formatCurrency(Money.toFixed(2)));
            $("#BigBXMoney").text("ⓧ" + EditMoney);
            $("#BxTAB tr:eq(6) td:eq(2) ").css("text-align", "right")

            $("#AddBxBillData").css("display", "block");
            $('#AddBxBillData').dialog({
                title: "打印预览",
                width: $(document).width() / 1.5,
                height: $(document).height() / 1.2,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '打印',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $("#BxTAB tr:eq(0) td:eq(0) ").text("");
                        $("#BxTAB tr:eq(0) td:eq(1) ").text("");
                        $("#BxTAB tr:eq(0) td:eq(2) ").text("");
                        $("#BxTAB tr:eq(0) td:eq(3) ").text("");
                        $("#clerSpbxdw").text("");
                        $("#SumTD").text("");
                        
                        $("#PrintBxPZ").jqprint();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#AddBxBillData').dialog('close');
                    }
                }]
            });
        }
        function writ() {
            $("#Ptble tr:eq(0) td:eq(2) ").text("收款单位全称（姓名）");
            $("#Ptble tr:eq(2) td:eq(2) ").text("开户行");
            $("#Ptble tr:eq(3) td:eq(2) ").text("账号（卡号）");           
            var ei = 0
            $("#Ptble tr>td:nth-child(1)").each(function (e, i) {
                switch (ei) {
                    case 0: $(this).text("所属部门");
                        break;
                    case 1: $(this).text("借款人");
                        break;
                    case 2: $(this).text("借款金额（大写）");
                        break;
                    case 3: $(this).text("借款金额（小写）");
                        break;
                    case 4: $(this).text("借款原因");
                        break;
                    case 5: $(this).text("备注");
                        break;
                }
                ei++;
            })
        }
        function clenr() {
            $("#t_0").text("");
            $("#t_1").text("");
            $("#t_2").text("");
            $("#t_3").text("");
            $("#t_4").text("");
            $("#t_5").text("");
            $("#t_6").text("");
            $("#t_7").text("");
            $("#m_0").text("");
            $("#m_1").text("");
            $("#td_skdw").text("");
            $("#td_jsfs").text("");
            $("#td_sksy").text("");
            $("#td_bm").text("");
            $("#td_dsmoney").text("");
        }
        function addbxlist() {
            if ($('#BaoXiaoName').combobox("getText") == "")
            {
                $.messager.alert("", "报销内容不可为空");
                return;
            }
            if ($('#DanJiuInt').val().trim().length <= 0) {
                $.messager.alert("", "单据张数不可为空");
                return;
            }
            if ($('#BaoXiaoMoeny').val().length <= 0) {
                $.messager.alert("", "报销金额不可为空");
                return;
            }
            $("#BaoXiaoHidden").val($("#BaoXiaoName").combobox("getText"));
            $('#BXLaFrom').submit();
        }
        //借款单作废
        function jkdzf() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            $.messager.confirm('提醒', '是否作废借款单！', function (r) {
                if (r) {
                    $.post("/BillPrint/DELJiekuan", { "id": rows[0].ID }, function (data) {
                        if (data.ret == "ok")
                        {
                            $("#tt").datagrid("reload");
                            $.messager.alert("提醒", data.msg, "error");
                            
                        }
                    })
                }
            }); 
        }
        //报销凭证作废
        function bxpzdel() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            $.messager.confirm('提醒', '是否作废报销凭证！', function (r) {
                if (r) {
                    $.post("/BillPrint/AddOrEditBxBill", { "ID": rows[0].ID }, function (data) {
                        if (data.ret == "ok") {
                            $("#tt").datagrid("reload");
                            $.messager.alert("提醒", data.msg, "error");

                        }
                    })
                }
            });
        }
        function addDJI() {
            var a = parseInt($("#DanJiuInt").val());
            a += 1;
            $("#DanJiuInt").val(a);
        }
        function plusDJI() {
            var a = parseInt($("#DanJiuInt").val());
            if(a != 0){
                a -= 1;
            } else {
            }
            $("#DanJiuInt").val(a);
        }
        //欠款报销明细表
        function qkbxtable() {
            var pars = {};
            $("#Qiankuandiv").dialog("open");
            $("#QKtt").datagrid({
                url: '/BillPrint/JieKuanBaoXiaoTable',
                title: '欠款报销明细表',
                height: $("#Qiankuandiv").height() - 40,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数                
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime 
                    { field: 'kename', title: '客户名称' },
                    { field: 'jkID', title: '借款单ID' },
                     { field: 'bxID', title: '报销单ID' },
                    {
                        field: 'jktime', title: '借款时间', formatter: function (val, row, index) {
                            return val == null ? "" : ChangeDateFormat(val);
                        }
                    },
                     {
                         field: 'bxtime', title: '报销时间', formatter: function (val, row, index) {
                             return val == null ? "" : ChangeDateFormat(val);
                         }
                     },
                    { field: 'jkperson', title: '借款人员' },                    
                    { field: 'bxperson', title: '报销人员' },
                     { field: 'jkmoney', title: '借款金额', align:"center", formatter: function (val, row, index) {
                         return val.toFixed(2);
                     }
                     },
                    {
                        field: 'bxmoney', title: '报销金额', align: "center", formatter: function (val, row, index) {
                            return val.toFixed(2);
                        }
                    },
                    {
                        field: 'xxm', title: '剩余欠款', align: "center", formatter: function (val, row, index) {
                            var str = row.jkmoney - row.bxmoney;
                           
                            if (str < 0)
                            { str = "<font style='color:red;'>" + str.toFixed(2) + "</font>"; }
                           else
                            {
                                str= formatCurrency(str);
                            }
                            return str;
                        }
                    },
                 ]],
                onLoadSuccess: function () {
                }
            });
        }
    </script>
    <style>
        html, body {
            height: 80%;
            margin: 0px;
            padding: 0px;
        }

        .btnlink a {
            width: 90%;
            margin-top: 3px;
        }

        thead {
            font-size: 16px;
            font-weight: bold;
            
        }
        .JKtable {
            padding:10px;
        }
        .JKtable input {
            width:100%;
            height:150%;
        }
        .Ptable {
            BORDER-COLLAPSE: collapse; width:840px; font-size:14px;text-align:center;
        }
        .Ptable tr td {
            height:60px;
        }
        .Pbxtable {
             BORDER-COLLAPSE: collapse; width:670px; font-size:14px;text-align:center;
        }
         .Pbxtable tr td {
            height:45px;
        }
        .BxpzTop {
            width:670px;
            height:10px;
        }
         .zpttable {
            BORDER-COLLAPSE: collapse; width:700px; font-size:10px;text-align:center;
        }
        .zpttable tr td {
            height:15px;
        }
        .inheght tr td {
           font-size:10px;
        }
        
    </style>
</head>
<body class="easyui-layout">
    <div>
        <div id="AddJieKuanBill" style="height:100%; width:100%;">
            @using (Ajax.BeginForm("AddOrEditJiekuan", "BillPrint", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "JKBillFrom" }))
            {
                <input type="hidden" id="JieKuanID" name="ID" />
                <table class="JKtable">
                <thead>
                    <tr><td>借款时间</td><td><input type="text" class="easyui-datebox" name="BillTime" id="BillTimeID" /></td></tr>
                    <tr>
                        <td>所属部门</td>
                        <td>
                            <input class="easyui-combobox " id="BuMenid"
                                   name="BuMenid"
                                   url="/BillPrint/GetBumen"
                                   valueField="ID"
                                   textField="MyTexts"
                                   panelHeight="auto" style="width:100px" />
                        </td>
                    </tr>
                    <tr>
                        <td>借款人</td>
                        <td>
                            <input class="easyui-combobox " id="Jkperson"
                                   name="JieKuanPerson"
                                   valueField="ID"
                                   textField="Name"
                                   panelHeight="auto" style="width:100px" />
                        </td>
                    </tr>
                    <tr>
                        <td>收款单位</td>
                        <td>
                            <input class="easyui-combobox " id="Jkdanwei"
                                   name="SkdwName1"
                                   valueField="Text"
                                   textField="Text"
                                   style="width:100px" />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="OpenHang" id="FaHuoBak1" /><input type="hidden" name="SkdwName" id="Jkdanwei1" /></td>
                        <td><input type="hidden" name="JieKuanPerson3333" id="Jkperson1" /><input type="hidden" name="CardNumber" id="CardNumberID1" /></td>
                    </tr>
                    <tr><td>借款金额</td><td><input type="text" name="JieKuanMoney" id="JieKuanMoneyID" onkeyup="num(this)" /></td></tr>
                    <tr><td>开户行</td><td><input class="easyui-combobox " id="FaHuoBak"
                                                  name="OpenHang1"
                                                  valueField="Text"
                                                  textField="Text"
                                                  panelHeight="auto"
                                                  style="width:100px" /></td></tr>
                    <tr><td>账号（卡号）</td><td><input class="easyui-combobox " id="CardNumberID"
                                                        name="CardNumber1"
                                                        valueField="Text"
                                                        textField="Text"
                                                        panelHeight="auto"
                                                        style="width:100px" /></td></tr>
                    <tr><td>借款原因</td><td><input type="text" name="JieKuanYuanYin" id="JieKuanYuanYin" /></td></tr>
                    <tr><td>备注</td><td><input type="text" name="Bak" id="BakID" /></td></tr>
                </thead>
                </table>
            }
        </div>  
        <div id="PrintDIV" style="width:100%;margin:0px; padding:0px;overflow:hidden">
            <div id="JKDprint" style="width:100%;margin-left:16px; padding:0px;">
                <div style="height:90px;text-align:center;width:840px; font-size:18px">
                    <span id="bannar1" >&nbsp;&nbsp;&nbsp;</span><br />
                    <span id="bannar2">借&nbsp;款&nbsp;单</span><br />
                    <div style="width:840px;text-align:right; margin-top:20px;">
                        <span id="Stime" class="Printcc" style="margin-right:70px;font-size:14px;" >
                        <a id="Wyear" style="margin-right:35px;">2017</a>
                        <a id="Wmonth" style="margin-right:40px;">11</a>
                        <a id="Wdata"  style="margin-right:26px;">11</a></span>
                    </div>                  
                </div>
                <table id="Ptble"  class="Ptable"  borderColor="#000000"  cellSpacing="0" bgColor="#ffffff" border="1">                    
                    <tr ><td style="width:140px;">所属部门</td><td style="width:270px;" id="SSBM"></td>
                    <td colspan="2" style="width:430px;">收款单位全称（姓名）</td>
                    </tr>
                    <tr><td>借款人</td><td id="JEperson"></td>
                    <td colspan="2"  id="SkdwName"></td></tr>
                    <tr><td >借款金额（大写）</td><td id="BigMoney"></td>
                    <td style="width:98px" >开户行</td><td id="KHH"></td></tr>
                    <tr><td >借款金额（小写）</td><td id="Money"></td>
                    <td >账号（卡号）</td><td id="CardNumber"></td></tr>
                    <tr><td>借款原因</td><td colspan="3" id="JKyy"></td></tr>
                    <tr><td>备注</td><td colspan="3" id="baktd"></td></tr>
                </table>
            </div>
        </div>
        <!-- 收款收据显示页面-->
        <div id="PrintZPT111" style="width:100%;margin:0px; padding:0px;overflow:hidden">
            <div id="JKDprint111" style="width:100%;margin-left:16px; padding:0px;">
                <div style="height:50px;text-align:center;width:700px; font-size:18px;margin-top:10px;">
                    <span id="bannar1">收款收据</span><br />
                    <div style="width:700px;text-align:center; margin-top:2px;">
                        <span id="Stime" class="Printcc" style="font-size:14px;">
                            <a id="zptyear" style="margin-right:5px;">2017</a>
                            <a id="zptmonth" style="margin-right:10px;">11</a>
                            <a id="zptdata" style="margin-right:16px;">11</a>
                        </span>
                    </div>
                </div>
                <table id="Zpttble" class="zpttable" borderColor="#000000" cellSpacing="0" bgColor="#ffffff" border="1">
                    <tr>
                        <td style="width:150px;">收款单位<br />(收款人)</td>
                        <td style="width:150px; text-align:left; padding-left:10px;" id="td_skdw"></td>
                        <td colspan="1" style="width:100px;">付款单位<br />(收款人)</td>
                        <td colspan="12" style="width:300px;text-align:left; padding-left:10px;">辽宁衍水水工水泥制品集团有限公司</td>
                    </tr>
                    <tr class="inheght">
                        <td rowspan="2">人民币<br/>大写</td>
                        <td colspan="3" rowspan="2" style="width:360px;text-align:left; padding-left:10px;" id="td_dsmoney"></td>
                        <td  id="">千</td>
                        <td  id="">百</td>
                        <td  id="">十</td>
                        <td  id="">万</td>
                        <td  id="">千</td>
                        <td  id="">百</td>
                        <td id="">十</td>
                        <td  id="">元</td>
                        <td  id="" >角</td>
                        <td id="">分</td>
                        <td  style="text-align:left; padding-left:10px;" >结算方式</td>
                    </tr>
                    <tr class="inheght" >
                        <td id="t_7"></td>
                        <td id="t_6"></td>
                        <td id="t_5"></td>
                        <td id="t_4"></td>
                        <td id="t_3"></td>
                        <td id="t_2"></td>
                        <td id="t_1"></td>
                        <td id="t_0"></td>
                        <td id="m_1"></td>
                        <td id="m_0"></td>
                        <td id="td_jsfs"></td>
                    </tr>
                    <tr class="inheght">
                        <td rowspan="2" >收款事由</td>
                        <td colspan="3" rowspan="2" style="width:360px;text-align:left; padding-left:10px;"  id="td_sksy"></td>
                        <td colspan="3" rowspan="2">经<br />办</td>
                        <td colspan="3">部门</td>
                        <td colspan="5" style="text-align:left; padding-left:10px;" id="td_bm"></td>
                        
                    </tr>
                    <tr class="inheght">
                        <td colspan="3">人员</td>
                        <td colspan="5"></td>
                    </tr>
                   <tr>
                       <td colspan="2" rowspan="2">
                           上述款项照数收讫无误<br />
                           收款单位财会专用章<br />
                           （领款人签章）
                       </td>
                       <td colspan="2">会计主管</td>
                       <td colspan="4"></td>
                       <td colspan="5">出纳</td>
                       <td colspan="3">交款人</td>
                   </tr>
                    <tr><td colspan="2"></td>
                       <td colspan="4"></td>
                       <td colspan="5"></td>
                       <td colspan="3"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="AddZPT" style="height:100%; width:100%;">
            @using (Ajax.BeginForm("AddZPT", "BillPrint", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "ZPTFrom" }))
            {
                <input type="hidden" id="ZPTID" name="ID" />
                <table class="JKtable">
                    <thead>
                        <tr><td>收款日期</td><td><input type="text" class="easyui-datebox" name="NewTime" id="zptNewTime" /></td></tr>    
                        <tr><td>收款单位</td><td><input type="text" name="ComName" id="zptComName" /></td></tr>                      
                        <tr><td>金额</td><td><input type="text" name="Money" id="zptMoney"  onkeyup="num(this)" /></td></tr>                     
                        <tr><td>结算方式</td><td><input type="text" name="Fangshi" id="zptFangshi" /></td></tr> 
                        <tr><td>收款事由</td><td><input type="text" name="Skbak" id="zptComName" /></td></tr>  
                        <tr><td>部门</td><td><input type="text" name="Bumen" id="zptBumen" /></td></tr>                      
                    </thead>
                </table>
            }
        </div>  
        <div id="AddBxBill" style="height:100%; width:100%;">
            @using (Ajax.BeginForm("AddOrEditBxBill", "BillPrint", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "BXBillFrom" }))
            {
                <input type="hidden" id="BxID" name="ID" />
                <table class="JKtable">
                    <thead>
                        <tr><td>单据时间</td><td><input type="text" class="easyui-datebox" name="IntTime" id="BxTime" /></td></tr>
                        <tr><td>报销单位</td><td><input type="text" name="BaoxianDanwei" id="BxDw" /></td></tr>
                    </thead>
                </table>
            }
        </div>  
        <div id="BxBillShow">
            <table id="BillShow" class="easyui-datagrid"  title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
                <tr>
                    <th data-options="field:'ck',checkbox: true, align: 'left', width: 30"></th>
                    <th data-options="field:'ID', width: 40">编号</th>
                </tr>
            </table>
        </div>
        <div id="AddBxBillData" style="height:100%; width:100%; text-align:center;">
                <div style="height:45px;text-align:center;width:670px; font-size:18px">
                    <span  style="font-size:22px;">辽&nbsp;宁&nbsp;衍&nbsp;水&nbsp;集&nbsp;团&nbsp;报&nbsp;销&nbsp;单&nbsp;据&nbsp;封&nbsp;面</span><br />
                   
                </div>
                <div id="PrintBxPZ" class="divcss">
                    <div class="BxpzTop" >
                        <div style="float:left"><span  style="margin-left:80px;" id="BxDanwei"></span></div>
                        <div style="float:right">
                            <span>
                                <span id="W1year" style="margin-right:30px;">2017</span>
                                <span id="W1month" style="margin-right:30px;">11</span>
                                <span id="W1data" style="margin-right:50px;">11</span>
                            </span>
                        </div>
                    </div>
                    
                    <table id="BxTAB" class="Pbxtable" borderColor="#000000" cellSpacing="0" bgColor="#ffffff" border="1">
                        <tr>
                            <td style="width:380px; ">报&nbsp;销&nbsp;内&nbsp;容</td>
                            <td style="width:40px;" >单据张数</td>
                            <td style="width:110px;">报销金额</td>
                            <td style="width:130px;">核准金额</td>
                        </tr>
                       <tr><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td></tr>
                        <tr><td id="SumTD">合&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计</td><td></td><td></td><td></td></tr>
                        <tr><td colspan="4" style="text-align:left"><span style="margin-left:180px; font-size:16px" id="BigBXMoney"></span></td></tr>
                       
                    </table>
                </div>   
        </div>  
        <div id="Qiankuandiv" class="easyui-dialog">
            <table id="QKtt" class="easyui-datagrid"></table>
        </div>
    </div> 
    <div id="divBtn" data-options="region:'west',split:true,title:'选项'" class="easyui-panel btnlink" style="width:150px;height:100%">
        <div class="easyui-accordion">
            <div title="搜索选项" data-options="iconCls:'icon-search'" style="overflow:auto;padding:10px;">
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" id="BtnJkd">借款单</a>
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="BtnBaoXiao">报销单据封面</a>
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="Zhipiaotong">支票通</a>
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="Winlb">公路费报销凭证</a>
            </div>
            <div title="其他选项" data-options="iconCls:'icon-ok'" style="padding:10px;">
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" onclick="qkbxtable()">欠款报销明细表</a>
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" id="CityEdit">其他</a>
            </div>
        </div>
    </div>
    <div data-options="region:'center',title:'数据报表'" id="dgdiv">
        <div id="TTdiv">
            <table id="tt" class="easyui-datagrid" style="width: 700px; " title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"
                   data-options="toolbar:'#tb'">
                <thead data-options="frozen:true">
                    <tr>
                        <th data-options="field:'ck',checkbox: true, align: 'left', width: 30"></th>
                        <th data-options="field:'ID', width: 40">编号</th>
                    </tr>
                </thead>


            </table>
        </div>
     
    </div>
    <div id="tb" style="padding:5px;height:auto">
        <div>
            <a href="#" class="easyui-linkbutton" id="NewBill" iconCls="icon-add">新建借款单</a>
            <a href="#" class="easyui-linkbutton" id="NewBaoXiaoBill" iconCls="icon-add">新建报销单据</a>
            <a href="#" class="easyui-linkbutton" id="NewZPT" iconCls="icon-add">新建收款收据</a>
         </div>
    </div>
    <div id="addta" class="addta" style="padding:5px;height:auto;">        
@using (Ajax.BeginForm("AddOrEditBxlistBill", "BillPrint", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "BXLaFrom" }))
{              <input type="hidden" id="BaoXianID" name="BaoXiaoID"  />
        <div style="font-size:16px;">
            报销内容：<input class="easyui-combobox" id="BaoXiaoName"
                       name="BaoXiaoName1" 
                      data-options="url: '/BillPrint/GetBaoXiaoall',
				      method: 'get',
				      valueField: 'ID',
				      textField: 'Text',
			 	      panelWidth: 400,
			        	" />
            <input type="hidden" name="BaoXiaoName" id="BaoXiaoHidden"/>
        </div>
        <div style="font-size:16px;">
          
            单据张数：<a href="#" onclick="addDJI()" class="easyui-linkbutton">+</a><input class="easyui-linkbutton" name="DanJiuInt" id="DanJiuInt" style="width:80px;height:26px" onkeyup="num(this)" value="0"/><a href="#" onclick="plusDJI()" class="easyui-linkbutton">-</a>
            报销金额：<input class="easyui-linkbutton" name="BaoXiaoMoeny" id="BaoXiaoMoeny" style="width:100px" onkeyup="num(this)"/>
            <a href="#" onclick="addbxlist()" class="easyui-linkbutton" iconCls="icon-add">新增</a>
        </div>
        <div>
            <a href="#" class="easyui-linkbutton" iconCls="icon-print" onclick="DigBaoXiaoPrint()">打印预览</a>
        </div>
}
    </div>
    {"BzcmText_FanChan":{"BZCMLouPanJianJies":[],"IsFristItem":{"BzcmText_FanChan":[{"BZCMLouPanJianJies":[],"UserInfo":{"ID":1,"UName":"张廷宇","UPwd":"49ABD02AC06D63F55E5409629A4A3A2A","SubTime":"2018-05-21T19:33:19.42","DelFlag":0,"ModifiedOn":"2018-05-21T19:33:18.813","Remark":"qqqqqq","Sort":null,"OverTime":"2018-12-01T00:00:00","UserXiaoHao":null,"Click":null,"ThisMastr":false,"MasterID":null,"Login_now":"c9e58416-8705-4546-95bc-6810308b116c","CityID":null,"Umoney":null,"PerSonName":"系统管理员","QuXian":null,"BuMenID":null},"ID":19,"Addtime":"2018-05-25T08:55:18.837","AddUser":1,"DEL":0,"Str_Name":"企业名称","Str_Image":null,"Str_Photo":null,"IsTop":1.0,"IsTop_shor":1,"IsTopStartTime":"2018-05-23T16:54:00","IsTopStopTime":"2018-05-30T16:55:00","IsFristItemsID":2,"News_Name":null,"News_KaiFaShang":null,"News_Addess":null,"News_Money":null,"News_Danwei":null,"News_Item":null,"News_Photo":null,"News_YouHui":null,"News_Text":null,"FYXX_Name":null,"FYXX_Photo":null,"FYXX_ONE":null,"FYXX_TWO":null,"FYXX_SHRER":null},{"BZCMLouPanJianJies":[],"UserInfo":{"ID":1,"UName":"张廷宇","UPwd":"49ABD02AC06D63F55E5409629A4A3A2A","SubTime":"2018-05-21T19:33:19.42","DelFlag":0,"ModifiedOn":"2018-05-21T19:33:18.813","Remark":"qqqqqq","Sort":null,"OverTime":"2018-12-01T00:00:00","UserXiaoHao":null,"Click":null,"ThisMastr":false,"MasterID":null,"Login_now":"c9e58416-8705-4546-95bc-6810308b116c","CityID":null,"Umoney":null,"PerSonName":"系统管理员","QuXian":null,"BuMenID":null},"ID":25,"Addtime":"2018-05-25T08:55:08.653","AddUser":1,"DEL":1,"Str_Name":"测试企业名称","Str_Image":null,"Str_Photo":null,"IsTop":1.0,"IsTop_shor":0,"IsTopStartTime":"2018-05-24T16:44:00","IsTopStopTime":"2018-05-31T16:44:00","IsFristItemsID":2,"News_Name":null,"News_KaiFaShang":null,"News_Addess":null,"News_Money":null,"News_Danwei":null,"News_Item":null,"News_Photo":null,"News_YouHui":null,"News_Text":null,"FYXX_Name":null,"FYXX_Photo":null,"FYXX_ONE":null,"FYXX_TWO":null,"FYXX_SHRER":null},{"BZCMLouPanJianJies":[],"UserInfo":{"ID":1,"UName":"张廷宇","UPwd":"49ABD02AC06D63F55E5409629A4A3A2A","SubTime":"2018-05-21T19:33:19.42","DelFlag":0,"ModifiedOn":"2018-05-21T19:33:18.813","Remark":"qqqqqq","Sort":null,"OverTime":"2018-12-01T00:00:00","UserXiaoHao":null,"Click":null,"ThisMastr":false,"MasterID":null,"Login_now":"c9e58416-8705-4546-95bc-6810308b116c","CityID":null,"Umoney":null,"PerSonName":"系统管理员","QuXian":null,"BuMenID":null},"ID":26,"Addtime":"2018-05-25T15:15:18.223","AddUser":1,"DEL":0,"Str_Name":null,"Str_Image":"/BZCMimage/topbanner/2018/5/25/c905f5e9-d56d-467b-bd3a-05ec541c92b5.jpg","Str_Photo":null,"IsTop":1.0,"IsTop_shor":3,"IsTopStartTime":"2018-05-25T15:14:44","IsTopStopTime":"2019-12-01T15:14:53","IsFristItemsID":2,"News_Name":null,"News_KaiFaShang":null,"News_Addess":null,"News_Money":null,"News_Danwei":null,"News_Item":null,"News_Photo":null,"News_YouHui":null,"News_Text":null,"FYXX_Name":null,"FYXX_Photo":null,"FYXX_ONE":null,"FYXX_TWO":null,"FYXX_SHRER":null}],"ID":2,"Str":"首页导航滚动位置","Str_int":0,"Del":0,"Items":0,"Itemsstr":"广告位"},"UserInfo":{"ID":1,"UName":"张廷宇","UPwd":"49ABD02AC06D63F55E5409629A4A3A2A","SubTime":"2018-05-21T19:33:19.42","DelFlag":0,"ModifiedOn":"2018-05-21T19:33:18.813","Remark":"qqqqqq","Sort":null,"OverTime":"2018-12-01T00:00:00","UserXiaoHao":null,"Click":null,"ThisMastr":false,"MasterID":null,"Login_now":"c9e58416-8705-4546-95bc-6810308b116c","CityID":null,"Umoney":null,"PerSonName":"系统管理员","QuXian":null,"BuMenID":null},"ID":18,"Addtime":"2018-05-25T08:55:49.163","AddUser":1,"DEL":0,"Str_Name":"edit 测试","Str_Image":"/BZCMimage/topbanner/2018/5/25/aa2b49d1-6a06-49e9-886f-c89a85081a7f.jpg","Str_Photo":null,"IsTop":1.0,"IsTop_shor":0,"IsTopStartTime":"2018-05-24T16:54:00","IsTopStopTime":"2018-05-24T16:54:00","IsFristItemsID":2,"News_Name":null,"News_KaiFaShang":null,"News_Addess":null,"News_Money":null,"News_Danwei":null,"News_Item":null,"News_Photo":null,"News_YouHui":null,"News_Text":null,"FYXX_Name":null,"FYXX_Photo":null,"FYXX_ONE":null,"FYXX_TWO":null,"FYXX_SHRER":null},"UserInfo":{"ID":1,"UName":"张廷宇","UPwd":"49ABD02AC06D63F55E5409629A4A3A2A","SubTime":"2018-05-21T19:33:19.42","DelFlag":0,"ModifiedOn":"2018-05-21T19:33:18.813","Remark":"qqqqqq","Sort":null,"OverTime":"2018-12-01T00:00:00","UserXiaoHao":null,"Click":null,"ThisMastr":false,"MasterID":null,"Login_now":"c9e58416-8705-4546-95bc-6810308b116c","CityID":null,"Umoney":null,"PerSonName":"系统管理员","QuXian":null,"BuMenID":null},"ID":1,"DEL":0,"BzcmTextID":18,"AddTime":"2018-05-26T13:27:30.897","AddUserID":1,"Texts":null,"ShuoSuQuYu":"文圣区","Addess":"太子河大道24号（辽阳市河东新城太子河畔）","Photo":"04194329333","XiaoShouZT":0,"XiangMuTeShe":"婚房、不限购、现房","KaiFaShang":"辽阳市恒盛置业有限公司","KaiPanTime":"2010-10-30T00:00:00","RuzuTime":"2015-10-31T00:00:00","Money":5200.00,"ShouLouAddess":"太子河大道24号（辽阳市河东新城太子河畔）","ChanQuanYear":70,"HuXing":"楼层平面图","JianZhuMianJi":null,"ZhanDiMianJi":null,"JianZhuLeiBie":"高层、板楼","ZhuangXiuQingKuang":"非毛坯","LouCheZhuanKuang":"高层32、33层","ChengJianShang":"恒大地产","DaiLiShang":"易居（中国）","WuYeLeiBie":"住宅","RongJiLv":2.4500,"LvHuaLv":45.00,"GongShui":"城市管网供水","GongQi":"华润燃气有限公司","GongNuan":"24元每平","KuanDai":"联通光纤","WuYeGongShi":"金碧物业有限公司","WuYeFei":"1.5元/㎡/月","StopCar":"地下停车场","GongJiaoXianLu":"3路、13路、23路。位于新区中心地带，李市政府很近，交通十分遍历。","Shool":"起航幼儿园（210米）","Shop":"昱峰红酒量贩超市","YiYuan":"金域明珠社区卫生服务站（600）","Sty":"辽阳银行ATM（616米）","Game":"金银圆（1691米），澎达大剧院","EAC":"香院桥（河东店）（76米）","Image_banner":"/BZCMimage/topbanner/2018/5/26/2103dbf4-f873-4b57-85d0-0ada6f32f38d.jpg","Image_Name":"/BZCMimage/topbanner/2018/5/26/ab7f7446-31eb-476a-b683-b903e243ba55.jpg"}
</body>
</html>
