body {
}
 .Ptable tr td {
            height:60px;
            text-align:center;
            border:none;
           
        }
 .Ptable {
            BORDER-COLLAPSE: collapse; width:840px; font-size:18px;text-align:left;  margin-top:2px;
            border:none;
        }
.divcss {
    width:670px;font-size:18px;margin-top:160px;
    margin-left:270px;

}
.BxpzTop {
    width:670px;height:15px;font-size:14px; 
}
.Pbxtable {
             BORDER-COLLAPSE: collapse; width:670px; font-size:14px;text-align:center;
             border:none; margin-top:5px;
        }
 .Pbxtable tr td {
    height:40px;
    border:none;
}



