@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>共享文件和通知</title>

    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript">
        $.fn.extend({
            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });

        // 当窗口大小发生变化时，调整DataGrid的大小211434
        $(function () {
            $(window).resize(function () {
                $('#tt').resizeDataGrid(0, 0, 200, 500);
            });

            $("#AddShareFileDIV").css("display", "none");
            $("#AddNoticeDIV").css("display", "none");
            $("#CheckAllDIV").css("display", "none");

            loadFileData();

            $("#divBtn a").click(function () {
                var ClickA = $(this).attr("id");
                if (ClickA == "MenuShareFile") {
                    loadFileData();
                }
                else if (ClickA == "MenuNotice") {
                    loadNoticeData();
                }
            })

            $("#BMSTUInput").combobox({
                onChange: function () {
                    var BMID = $("#BMSTUInput").combobox("getValue");
                    $("#STUInput").combobox("loadData", {});
                    try {
                        $("#STUInput").combobox("setValue", "");
                    } catch (e) { }
                    $("#STUInput").combobox("reload", "/ShareFileOrNotice/GetShareToUser?BMID=" + BMID);
                }
            })

            $("#BMNUInput").combobox({
                onChange: function () {
                    var BMID = $("#BMNUInput").combobox("getValue");
                    $("#STUNInput").combobox("loadData", {});
                    try{
                        $("#STUNInput").combobox("setValue", "");
                    }catch(e){}
                    $("#STUNInput").combobox("reload", "/ShareFileOrNotice/GetShareToUser?BMID=" + BMID);
                }
            })

            $("#yes").click(function () {
                $("#ShowAddUsers").show();
                $("#STUstrID").val("");
                $("#ShowAddUsers").val("");
                $("#ModelFInput").combobox("reload");
                $.post("/ShareFileOrNotice/GetModels", {}, function (data) {
                    if(data.ret == "no"){
                        $.messager.alert("提示", "没有可以使用的模板！");
                        $(".t2 input[type='radio']").removeAttr('checked');
                        $(".t3").css("display", "none");
                        $(".t1").css("display", "none");
                    } else if (data.ret == "ok") {
                        $(".t3").css("display", "block");
                        $(".t1").css("display", "none");
                    } else {
                        $.messager.alert("提示", "查找失败！");
                        $(".t2 input[type='radio']").removeAttr('checked');
                    }
                });
            })

            $("#no").click(function () {
                $("#ShowAddUsers").show();
                $("#ShowAddUsers").val("");
                $("#STUstrID").val("");
                $(".t1").css("display", "block");
                $(".t3").css("display", "none");
            });

            $("#AddShareFileBtn").click(function () {
                AddSchareFile();
            });

            $("#AddNoticeBtn").click(function () {
                $("#NoticestrID").val("");
                $("#BeiZhuArea").val("");
                $("#ShowAddBMOrUser").val("");
                $("#BMDIV").css("display", "none");
                $("#ADDBUMENDIV").css("display", "none");
                $("#BMUSERDIV").css("display", "none");
                $("#AddShareFileTab input[type='radio']").removeAttr('checked');
                try{
                    $("#BMNUInput").combobox("setValue", "");
                    $("#STUNInput").combobox("setValue", "");
                }catch(e){

                }
                AddANotice();
            });

            $("#ByAllBuMen").click(function () {
                $("#ShowAddBMOrUser").val("");
                $("#ShowAddBMOrUser").hide();
                $("#BMDIV").css("display", "none");
                $("#ADDBUMENDIV").css("display", "none");
                $("#BMUSERDIV").css("display", "none");
                $("#NoticestrID").val("");
                try {
                    $("#BMNUInput").combobox("setValue", "");
                    $("#STUNInput").combobox("setValue", "");
                } catch (e) {

                }
                $.post("/ShareFileOrNotice/GetAllUserID", {}, function (listID) {
                    $("#NoticestrID").val(listID);
                });
                $.messager.alert("提示","已添加完全部人员!");
            });

            $("#ByOneBuMen").click(function () {
                $("#ShowAddBMOrUser").val("");
                $("#ShowAddBMOrUser").show();
                $("#BMDIV").css("display", "block");
                $("#ADDBUMENDIV").css("display", "block");
                $("#BMUSERDIV").css("display", "none");
                $("#NoticestrID").val("");
                try {
                    $("#BMNUInput").combobox("setValue", "");
                    $("#STUNInput").combobox("setValue", "");
                } catch (e) {

                }
            });

            $("#ByOneByOne").click(function () {
                $("#ShowAddBMOrUser").val("");
                $("#ShowAddBMOrUser").show();
                $("#BMDIV").css("display", "block");
                $("#ADDBUMENDIV").css("display", "none");
                $("#BMUSERDIV").css("display", "block");
                $("#NoticestrID").val("");
                try {
                    $("#BMNUInput").combobox("setValue", "");
                    $("#STUNInput").combobox("setValue", "");
                } catch (e) {

                }
            });
        });

        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }

        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours()< 10 ? "0" +date.getHours():date.getHours();
            var minutes = date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes();
            var seconds = date.getSeconds()<10?"0"+date.getSeconds():date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minutes + ":" + seconds;
        }

        //加载共享文件页面
        function loadFileData(pars) {
            $("#AddNoticeBtnDIV").css("display", "none");
            $('#tt').datagrid({
                url: '/ShareFileOrNotice/GetShareFile',
                title: '文件共享',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '编号', align: 'center' },
                    { field: 'TypeID', title: '共享类型', align: 'center' },
                    { field: 'FileTypeID', title: '文件类型', align: 'center' },
                    { field: 'BeiZhu', title: '文件备注', align: 'center' },
                    {
                        field: 'FileURL', title: '文件下载', align: 'center',formatter: function (value, row, index) {
                            return "<a href='javascript:downloadFile()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>下载</a>";
                        }
                    }, {
                        field: 'AddFile', title: '补充上传文件', align: 'center', formatter: function (value, row, index) {
                            if (value == row.shareuserid) {
                                return "<a href='javascript:addUploadFile()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>补充上传文件</a>";
                            } else {
                                return "<label style='color: silver'>无权补充文件</label>";
                            }
                        }
                    },
                    { field: 'shareuserid', title: '发出共享的用户id', align: 'center', hidden: true },
                    { field: 'alluserinfo', title: '共享用户', align: 'center', hidden: true },
                    {
                        field: 'checkalluserinfo', title: '共享用户', align: 'center', formatter: function (value, row, col) {
                            return "<a href='javascript:checkAllUserInfo()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>查看共享用户</a>";
                        }
                    },
                    {
                        field: 'UploadFileTime', title: '文件上传时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    { field: 'ShareUser', title: '上传用户', align: 'center'},
                    {
                        field: 'Del', title: '编辑栏', align: 'center',formatter: function (value, row, index) {
                            return "<a href='javascript:del()' class='l-btn' style='margin:0px 5px;padding:2px 8px ' >删除</a>";
                        }
                    },
                ]],
                toolbar: "#AddShareFileBtnDIV",
                onLoadSuccess: function () {
                }
            });
        }

        //查看共享用户
        function checkAllUserInfo() {
            var row = $("#tt").datagrid("getSelected");
            $("#allUserInfoTA").val(row.alluserinfo);
            document.getElementById("allUserInfoTA").setAttribute("readOnly",true);
            $("#CheckAllUserInfoDiv").window("open");
        }

        //加载通知页面
        function loadNoticeData(pars) {
            $("#AddShareFileBtnDIV").css("display", "none");
            $('#tt').datagrid({
                url: '/ShareFileOrNotice/GetNotice',
                title: '公告通知',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                checkOnSelect: true,
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '编号', align: 'center' },
                    { field: 'TypeID', title: '共享类型', align: 'center' },
                    {
                        field: 'NoticeText', title: '通知内容', align: 'center', formatter: function (value, row, index) {
                            if(value.length > 30){
                                value = value.substring(0,30)+" ......";
                            }else{
                                value = value;
                            }
                            return value;
                        }
                    },
                    {
                        field: 'GetAllText', title: '查看通知详细内容', align: 'center',
                        formatter: function (value, row, index) {
                            return "<a href='javascript:getAllText()' class='l-btn' style='margin:0px 5px;padding:2px 8px ' >查看通知</a>";
                        }
                    },
                    {
                        field: 'UpNoticeTime', title: '通知下达时间', align: 'center', formatter: function (value, row, col) {
                            var sd = value == null ? '' : ChangeDateFormat(value);
                            return sd;
                        }
                    },
                    { field: 'NoticeUser', title: '下发用户', align: 'center' },
                    {
                        field: 'Del', title: '编辑栏', align: 'center',
                        formatter: function (value, row, index) {
                            return "<a href='javascript:del()' class='l-btn' style='margin:0px 5px;padding:2px 8px ' >删除</a>";
                        }
                    },
                ]],
                toolbar: "#AddNoticeBtnDIV",
                onLoadSuccess: function () {
                }
            });
        }

        //获取通知详细内容
        function getAllText() {
            var row = $('#tt').datagrid('getSelected');
            $.post("/ShareFileOrNotice/GetNoticeAllText", { "id": row.ID }, function (noticeText) {
                $("#AllNoticeText").val(noticeText);
                document.getElementById("AllNoticeText").setAttribute("readonly",true);
            });
            $("#CheckAllDIV").css("display", "block");
            $('#CheckAllDIV').dialog({
                title: "查看通知",
                width: 505,
                height: 510,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    handler: function () {
                        $('#CheckAllDIV').dialog('close');
                        $("#AllNoticeText").val("");
                    }
                }],
                onClose: function () {
                    $("#AllNoticeText").val("");
                }
            });
        }

        //下载共享文件
        function downloadFile() {
            var row = $('#tt').datagrid('getSelected');
            $.post("/ShareFileOrNotice/GetFileUrl", { "id": row.ID }, function (data) {
                if(data.ret == "null"||data.ret == null){
                    $.messager.alert("提示", "无文件，可能未上传文件！");
                }
                else{
                    var urlStr = data.ret;
                    var ay = urlStr.split(",");
                    for (var i = 0; i < ay.length; i++){
                        $("#DownloadFileTab").append("<tr><td>文件" + (i + 1) + "</td><td><a href='" + ay[i] + "' target='_blank' class='l-btn'  style='margin:0px 5px;padding:2px 8px '>下载</a></td></tr>");
                    }
                    $("#DownloadFileDiv").window("open");
                }
            })
        }

        //补充上传文件
        function addUploadFile() {
            var row = $("#tt").datagrid("getSelected");
            $("#hiddenSFID").val(row.ID);
            $("#AddUploadFileDiv").window("open");
        }

        //添加共享文件
        function AddSchareFile() {
            $(".t3").css("display", "none");
            $(".t1").css("display", "none");
            $("#ShowAddUsers").hide();
            $("#AddShareFileDIV").css("display", "block");
            $('#AddShareFileDIV').dialog({
                title: "添加共享文件",
                width: 450,
                height: 430,
                collapsible: true,
                closable: false,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        if ($("#FileTypeInput").combobox("getValue").trim().length <= 0) {
                            $.messager.alert("提示", "请选择文件类型！");
                            return;
                        } else if ($("#BeiZhuId").val().trim().length <= 0) {
                            if (confirm("确定不填写文件备注？")) {

                            } else {
                                return;
                            }
                        }
                        var fileup = document.getElementById("uploadShareFileID").value;
                        var fileupurl = document.getElementById("fileUrlID").value;
                        if (fileup.trim().length > 0 && fileupurl.trim().length <= 0) {
                            $.messager.alert("提示", "选择的文件还未上传，请先点击上传再点击确认！");
                            return;
                        } else if (fileup.trim().length <= 0) {
                            $.messager.alert("提示", "请选择共享文件并上传!");
                            return;
                        }
                        if ($('input:radio[name="Model"]:checked').val() == "yes") {
                            if ($("#ModelFInput").combobox("getValue").trim().length <= 0) {
                                $.messager.alert("提示", "请选择模板！");
                                return;
                            } else if ($("#STUstrID").val().trim().length <= 0) {
                                $.messager.alert("提示", "请点击模板后的添加按钮完成添加！");
                                return;
                            }
                        } else if ($('input:radio[name="Model"]:checked').val() == "no") {

                            if ($("#BMSTUInput").combobox("getValue").trim().length <= 0) {
                                $.messager.alert("提示", "请选择分享部门！");
                                return;
                            } else if ($("#STUInput").combobox("getValue").trim().length <= 0) {
                                $.messager.alert("提示", "请选择分享人！");
                                return;
                            } else if ($("#STUstrID").val().trim().length <= 0) {
                                $.messager.alert("提示", "请点击添加按钮完成添加！");
                                return;
                            }
                        } else {
                         
                        }
                        $("#addsharefilefrom").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        var urlstr = $("#BeiFenFileUrlID").val();
                        $.post("/ShareFileOrNotice/DelLaJiFile", { "urlstr": urlstr }, function (data) { })
                        remval();
                        $('#AddShareFileDIV').dialog('close');
                    }
                }], onClose: function () {
                    remval();
                }
            });
        }
        function remval() {
            try {
                $("#FileTypeInput").combobox("setValue", "");
                $("#ModelFInput").combobox("setValue", "");
                $("#BMSTUInput").combobox("setValue", "");
                $("#STUInput").combobox("setValue", "");
            }
            catch (e) {
            }
            $("#BeiZhuId").val("");
            $("#uploadShareFileID").val("");
            $("#fileUrlID").val("");
            $("#STUstrID").val("");
            $("#ShowAddUsers").val("");
            $("#BeiZhuId").val("");
            $("#AddShareFileDIV input[type='radio']").removeAttr('checked');
            $("#fileUrlID").val("");
            $("#BeiFenFileUrlID").val("");
        }
        //添加公告通知
        function AddANotice() {
            $("#AddNoticeDIV").css("display", "block");
            $('#AddNoticeDIV').dialog({
                title: "添加公告通知",
                width: 450,
                height: 500,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        
                        if ($("#BeiZhuArea").val().trim().length <= 0) {
                            $.messager.alert("提示", "请填写通知内容！");
                            return;
                        }
                        var radioVal = $('#AddShareFileTab input[type="radio"]:checked').val();
                        if (radioVal == undefined) {
                            $.messager.alert("提示", "请选择下发方式！");
                            return;
                        }else if(radioVal == "ByOneByOne"){
                            if ($("#BMNUInput").combobox("getValue").trim().length <= 0) {
                                $.messager.alert("提示", "请选择下发部门！");
                                return;
                            }else if ($("#STUNInput").combobox("getValue").trim().length <= 0) {
                                $.messager.alert("提示", "请选择下发人！");
                                return;
                            }
                        } else if (radioVal == "ByOneBuMen") {
                            if ($("#BMNUInput").combobox("getValue").trim().length <= 0) {
                                $.messager.alert("提示", "请选择下发部门！");
                                return;
                            }
                        } else if ($("#NoticestrID").val().trim().length <= 0) {
                            $.messager.alert("提示", "请点击添加按钮完成添加！");
                            return;
                        }
                        document.getElementById("NoticeTextID").value = document.getElementById("BeiZhuArea").value;
                        $("#addnoticefrom").submit();//提交表单
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $("#BeiZhuArea").val("");
                        $("#NoticeTextID").val("");
                        $("#STUNInput").val("");
                        $("#NoticestrID").val("");
                        $('#AddNoticeDIV').dialog('close');
                        try {
                            $("#BMNUInput").combobox("setValue", "");
                        } catch (e) { }
                    }
                }], onClose: function () {
                    $("#BeiZhuArea").val("");
                    $("#NoticeTextID").val("");
                    $("#STUNInput").val("");
                    $("#NoticestrID").val("");
                    try {
                        $("#BMNUInput").combobox("setValue", "");
                    } catch (e) { }
                }
            });
        }


        //把允许查看共享的用户id存到隐藏控件里（共享用）
        function addSTUsstr() {
            var str = "";
            var BMID = $("#BMSTUInput").combobox("getValue");
            var SUId = $("#STUInput").combobox("getValue");
            var BMName = $("#BMSTUInput").combobox("getText");
            var SUName = $("#STUInput").combobox("getText");
            if (BMName == "" || BMName == null) {
                $.messager.alert("提示", "请选择部门！");
                return;
            }
            if (SUName == "" || SUName == null) {
                $.messager.alert("提示", "请选择部门用户！");
                return;
            }
            if (!isNaN(parseInt(SUId))) {
                var a = $("#STUstrID").val();
                var ay = a.split(",");
                for(var i = 0;i < ay.length;i++){
                    while(ay[i] == SUId){
                        $.messager.alert("提示", "用户已添加！");
                        return;
                    }
                }
                $("#ShowAddUsers").val($("#ShowAddUsers").val() + SUName + "-");
                str = str + SUId + ",";
                $("#STUstrID").val(a + str);
               
            } else {
                $.post("/ShareFileOrNotice/ReturnUserID", { "personName": SUId,"BuMenID":BMID}, function (data) {
                    if (data.ret == "ok") {
                        var suid = data.val;
                        var a = $("#STUstrID").val();
                        var ay = a.split(",");
                        for (var i = 0; i < ay.length; i++) {
                            while (ay[i] == suid) {
                                $.messager.alert("提示", "用户已添加！");
                                return;
                            }
                        }
                        $("#ShowAddUsers").val($("#ShowAddUsers").val() + SUName + "-");
                        str = str + data.val + ",";
                        var s = $("#STUstrID").val();
                        $("#STUstrID").val(s + str);
                        $.messager.alert("提示","添加人员成功！");
                    }else if(data.ret == "no"){
                        $.messager.alert("提示", "在该部门之下查无此人，请确认名字是否输入正确！");
                    }else {
                        $.messager.alert("提示", "在该部门之下查无此人，请确认名字是否输入正确！");
                    }
                })
            }

        }

        //把允许查看共享的模板用户id存到隐藏空间里（共享用）
        function addModelstr() {
            var str1 = "";
            var str2 = "";
            var MFID = $("#ModelFInput").combobox("getValue");
            var MFName = $("#ModelFInput").combobox("getText");
            var reg = /^[\d+,]{1,}$/
            if (reg.test(MFID)) {
                var a = $("#STUstrID").val();
                var ay = a.split(",");
                var my = MFID.split(",");
                for (var j = 0; j < my.length; j++){
                    for (var i = 0; i < ay.length; i++) {
                        while (ay[i] == my[j]) {
                            delete my[j];
                            continue;
                        }
                    }
                    if(my[j] != undefined){
                        str1 = str1 + my[j] + ",";
                    }
                }
                str1 = a + str1;
                $("#STUstrID").val(str1);

                var b = $("#ShowAddUsers").val();
                var by = b.split(",");
                var mn = MFName.split(",");
                for (var j = 0; j < mn.length; j++) {
                    for (var i = 0; i < by.length; i++) {
                        while (by[i] == mn[j]) {
                            delete mn[j];
                            continue;
                        }
                    }
                    if (mn[j] != undefined) {
                        str2 = str2 + mn[j] + ",";
                    }
                }
                str2 = b + str2;
                $("#ShowAddUsers").val(str2);
                $.messager.alert("提示", "添加人员成功！");
            } else {
                $.messager.alert("提示","请选择模板！");
            }
        }


        //把允许查看共享的用户id存到隐藏空间里（公告用）
        function addSTUNsstr() {
            var str = "";
            var BMID = $("#BMNUInput").combobox("getValue");
            var SUId = $("#STUNInput").combobox("getValue");
            var SUName = $("#STUNInput").combobox("getText");
            var UserNamestr = $("#ShowAddBMOrUser").val();
            if (!isNaN(parseInt(SUId))) {
                var a = $("#NoticestrID").val();
                var ay = a.split(",");
                for (var i = 0; i < ay.length; i++) {
                    while (ay[i] == SUId) {
                        $.messager.alert("提示", "用户已添加！");
                        return;
                    }
                }
                str = str + SUId + ",";
                $("#NoticestrID").val(a + str);
                $("#ShowAddBMOrUser").val(UserNamestr + SUName+",");
                $.messager.alert("提示", "添加人员成功！");
            } else {
                $.post("/ShareFileOrNotice/ReturnUserID", { "personName": SUId, "BuMenID": BMID }, function (data) {
                    if (data.ret == "ok") {
                        var suid = data.val;
                        var a = $("#NoticestrID").val();
                        var ay = a.split(",");
                        for (var i = 0; i < ay.length; i++) {
                            while (ay[i] == suid) {
                                $.messager.alert("提示", "用户已添加！");
                                return;
                            }
                        }
                        str = str + data.val + ",";
                        var s = $("#NoticestrID").val();
                        $("#NoticestrID").val(s + str);
                        $("#ShowAddBMOrUser").val(UserNamestr + SUName + ",");
                        $.messager.alert("提示", "添加人员成功！");
                    } else if (data.ret == "no") {
                        $.messager.alert("提示", "在该部门之下查无此人，请确认名字是否输入正确！");
                    } else {
                        $.messager.alert("提示", "添加失败！");
                    }
                })
            }
        }

        //添加部门用户到隐藏控件
        function addSTBMstr() {
            var BMID = $("#BMNUInput").combobox("getValue"); 
            var BMName = $("#BMNUInput").combobox("getText");
            var BMNamestr =  $("#ShowAddBMOrUser").val();
            var ay = BMNamestr.split(",");
            for(var i=0;i<ay.length;i++){
                if(ay[i] == BMName){
                    $.messager.alert("提示","该部门已添加过！");
                    return;
                }else{
                    continue;
                }
            }
            $.post("/ShareFileOrNotice/ReturnAllUserID", { "BuMenID": BMID }, function (userinfo) {
                if (userinfo.ret == "no") {
                    $.messager.alert("提示", "该部门下无任何员工！");
                 } else if (userinfo.ret == "ok") {
                         var a = $("#NoticestrID").val();
                         var str = a + userinfo.data;
                         $("#ShowAddBMOrUser").val(BMNamestr+BMName+",");
                         $("#NoticestrID").val(str);
                         $.messager.alert("提示", "添加人员成功！");
                 } else {
                         $.messager.alert("提示", 1343434);
                 }
            });
        }

        //上传文件返回url
        function uploadFileClick() {
            $("#addsharefilefrom").ajaxSubmit({
                success: function (data) {
                    var serverData = data.split(":");
                    if (serverData[0] == "yes") {
                        $("#fileUrlID").val(serverData[1]);//将上传成功的文件地址放在隐藏input中
                        $("#BeiFenFileUrlID").val($("#BeiFenFileUrlID").val() +","+serverData[1]);
                        $.messager.alert("提示", "上传文件成功！");
                    }
                    else {
                        $.messager.alert("提示", serverData[1], "error");
                    }
                },
                url: "/ShareFileOrNotice/FileUpload",
                type: "post"
            });
        }

        //添加共享文件以后调用
        function afterAddShareFile(data) {
            $("#AddShareFileDIV").dialog('close');
            $('#tt').datagrid('reload');
            $.messager.alert("提醒", "共享成功！");
            try{
                $("#FileTypeInput").combobox("setValue", "");
                $("#ModelFInput").combobox("setValue", "");
                $("#BMSTUInput").combobox("setValue","");
                $("#STUInput").combobox("setValue", "");
            }catch(e){ }
            $("#BeiZhuId").val("");
            $("#uploadShareFileID").val("");
            $("#fileUrlID").val("");
            $("#STUstrID").val("");
            $("#showAddUsers").val("");
            $("#BeiFenFileUrlID").val("");
            $("#AddShareFileDIV input[type='radio']").removeAttr('checked');
        }

        //添加通知公告以后调用
        function afterAddNotice(data) {
            if (data.ret == "ok") {
                try {
                    $("#BMNUInput").combobox("setValue", "");
                    $("#BeiZhuArea").val("");
                    $("#NoticeTextID").val("");
                    $("#STUNInput").val("");
                    $("#NoticestrID").val("");
                    $('#AddNoticeDIV').dialog('close');
                    $('#tt').datagrid('reload');
                }
                catch (e) {

                }

            } else if (data.ret == "no") {
                $.messager.alert("提示", data.msg, "error");
            } else {
                $.messager.alert("提醒", "修改数据错误!!", "error");
            }
        }

        //删除共享文件
        function del() {
            //弹窗提示
            $.messager.confirm('提示', '确定要执行删除操作吗?', function (r) {
                if (r) {
                    var row = $('#tt').datagrid('getSelected');
                    $.post("/ShareFileOrNotice/DelShareFile", { "id": row.ID }, function (data) {
                        if (data.ret == "ok") {
                            cleanDatagrid();
                            $('#tt').datagrid("reload");
                        }
                        else {
                            $.messager.alert("提示", data.msg);
                        }
                    })
                }
            });
            return;
        }

        //上传文件返回
        function getUrl() {
            $("#adduploadfileform").ajaxSubmit({
                success: function (data) {
                    var serverData = data.split(":");
                    if (serverData[0] == "yes") {
                        var url = $("#hiddenSFUrl").val();
                        var bf = $("#BeiFenAddFileUrlID").val();
                        var urlstr = url + "," + serverData[1];
                        var bfstr = bf + "," + serverData[1];
                        $("#hiddenSFUrl").val(urlstr);//将上传成功的文件地址放在隐藏input中
                        $("#BeiFenAddFileUrlID").val(bfstr);
                        $.messager.alert("提示", "上传文件成功！");
                    }
                    else {
                        $.messager.alert("提示", serverData[1], "error");
                    }
                },
                url: "/ShareFileOrNotice/FileUpload",
                type: "post"
            });
        }

        //补充共享文件之后调用方法
        function afterUpload() {
            $("#AddUploadFileDiv").window('close');
            $("#BeiFenAddFileUrlID").val("");
            $(".SmallWindow input").val("");
            $('#tt').datagrid('reload');
            $.messager.alert("提醒", "补充共享文件成功!!");
        }

        //添加部门的确定按钮
        function OkToUpLoad() {
            if ($("#hiddenSFUrl").val().trim().length <= 0) {
                $.messager.alert("提示", "当前无补充文件，请上传文件再确定！");
                return;
            }
            $("#adduploadfileform").submit();
        }

        //窗口取消功能
        function cancel() {
            var urlstr = $("#BeiFenAddFileUrlID").val();
            $.post("/ShareFileOrNotice/DelLaJiFile", { "urlstr": urlstr}, function (data) { })
            $("#AddUploadFileDiv").window('close');
            $(".SmallWindow input").val("");
            $("#CheckAllUserInfoDiv").window("close");
            $("#DownloadFileDiv").window('close');
            $("#DownloadFileTab").children().remove();
            $("#BeiFenAddFileUrlID").val("");
        }

    </script>

</head>
<body class="easyui-layout">
    <div id="divBtn" data-options="region:'west',split:true,title:'选项'" class="easyui-panel btnlink " style="width:150px; padding:8px;">
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuShareFile" style="width:98%;margin:10px auto">文件共享</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="MenuNotice" style="width:98%;margin:10px auto">下发公告</a>
    </div>
    <div data-options="region:'center',title:'数据报表'" id="dgdiv">
        <div id="TTdiv">
            <table id="tt" class="easyui-datagrid" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
                <!--插入表格数据-->
            </table>
        </div>
        <!---------------添加共享文件按钮-------------------->
        <div id="AddShareFileBtnDIV" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" id="AddShareFileBtn" iconCls="icon-add" plain="true">添加共享文件</a>
            </div>
        </div>
        <!---------------添加公告通知按钮-------------------->
        <div id="AddNoticeBtnDIV" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" id="AddNoticeBtn" iconCls="icon-add" plain="true">添加公告通知</a>
            </div>
        </div>
    </div>
    <div id="CheckAllDIV">
        <table>
            <tr><td><h1>通知全部内容</h1></td></tr>
            <tr><td><textarea id="AllNoticeText" style="width:475px;height:320px;font-size:15px;resize:none"></textarea></td></tr>
        </table>
    </div>

    <!---------------添加共享文件--------------------->
    <div id="AddShareFileDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddShareFile", "ShareFileOrNotice", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddShareFile" }, new { id = "addsharefilefrom" }))
        {<div id="AddShareFileTab">
                <div>
                    <b>
                        文件类型
                        <input id="FileTypeInput" class="easyui-combobox" name="FileTypeID"
                               url="/ShareFileOrNotice/GetAllFileType"
                               valueField="ID"
                               textField="Name"
                               panelHeight="auto"
                               style="width:100px" />
                    </b>
                </div>
                <b>&nbsp;</b>
                <div>
                    <b>
                        文件备注
                        <input type="text" name="BeiZhu" id="BeiZhuId" />
                    </b>
                    <label style="color:silver">*推荐填写项(对文件加以说明)</label>
                </div>
                <b>&nbsp;</b>
                <div>
                    <b>
                        文件
                        <input type="file" id="uploadShareFileID" name="uploadShareFileName" /><a href='javascript:uploadFileClick()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>上传</a>
                        <input type="hidden" id="fileUrlID" name="fileUrlName" /><input type="hidden" id="BeiFenFileUrlID" name="BeiFenFileUrlName" />
                    </b>
                </div>
                <b>&nbsp;</b>
                <h1>分享给：</h1>
                <b><b><label>是否启用模板？</label></b></b>
                <b>&nbsp;</b>
                <b class="t2">
                    <b><input type="radio" name="Model" id="defu" value="defu" /><label>不分享</label></b>
                    <b><input type="radio" name="Model" id="yes" value="yes" /><label>是</label></b>
                    <b><input type="radio" name="Model" id="no" value="no" /><label>否</label></b>
                </b>
                <div><b>&nbsp;</b></div>
                <div class="t3">
                    <b style="width:20px">模板</b>
                    <b>
                        <input id="ModelFInput" class="easyui-combobox" name="ModelFName"
                               url="/ShareFileOrNotice/GetAllModel"
                               valueField="StrID"
                               textField="StrName"
                               panelHeight="auto"
                               style="width:100px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                        <a href='javascript:addModelstr()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>添加</a>
                    </b>
                    <p><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">【注】</span><span style="color:silver">每选定一个模板，需添加一次！</span></label></p>
                </div>
                <div class="t1">
                    <b>部门</b>
                    <b>&nbsp;&nbsp;</b>
                    <b>
                        <input id="BMSTUInput" class="easyui-combobox" name="BuMenName"
                               url="/ShareFileOrNotice/GetAllBuMen"
                               valueField="ID"
                               textField="Name"
                               panelHeight="auto"
                               style="width:100px" />
                    </b>
                    <b></b>
                </div>
                <b>&nbsp;</b>
                <div class="t1">
                    <b>部门用户</b>
                    <b>
                        <input id="STUInput" class="easyui-combobox" name="ShareToUserName"
                               valueField="ID"
                               textField="Name"
                               panelHeight="auto"
                               style="width:100px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                        <a href='javascript:addSTUsstr()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>添加</a>
                    </b>
                    <p><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">【注】</span><span style="color:silver">每选定一人，需添加一次！</span></label></p>
                </div>
                <br />
                <b>
                    <b><textarea id="ShowAddUsers" style="width:300px;height:30px;display:none"></textarea></b>
                    <b><input type="hidden" name="STUstrName" id="STUstrID" /></b>
                </b>
            </div>
            <table>
                <tbody id="Selebody"></tbody>
            </table>
        }
    </div>

    <!---------------添加公告通知--------------------->
    <div id="AddNoticeDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddNotice", "ShareFileOrNotice", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddNotice" }, new { id = "addnoticefrom" }))
        {<div id="AddShareFileTab">
                <div>
                    <p><b>通知内容</b></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;<b><textarea id="BeiZhuArea" name="BeiZhuArea" style="width:302px;height:100px"></textarea></b>
                    <b><input type="hidden" name="NoticeText" id="NoticeTextID" /></b>
                </div>
                <div><h1>分享给：</h1></div>
                <div><b><label>请选择添加分享人方式？</label></b></div>
                <br />
                <div>
                    <b><input type="radio" name="IssuedType" id="ByAllBuMen" value="ByAllBuMen" /><label>全公司下发</label></b><b><input type="radio" name="IssuedType" id="ByOneBuMen" value="ByOneBuMen" /><label>每个部门依次添加</label></b>
                    <b><input type="radio" name="IssuedType" id="ByOneByOne" value="ByOneByOne" /><label>每个人依次添加</label></b>
                </div>
                <div><b>&nbsp;</b></div>
                <div id="BMDIV">
                    <div>
                        <b>部门</b>
                        <b>&nbsp;&nbsp;</b>
                        <b>
                            <input id="BMNUInput" class="easyui-combobox" name="BuMenNoticeName"
                                   url="/ShareFileOrNotice/GetAllBuMen"
                                   valueField="ID"
                                   textField="Name"
                                   panelHeight="auto"
                                   style="width:100px" />
                        </b>
                    </div>
                </div>
                <div id="BMUSERDIV">
                    <div>
                        <b>&nbsp;&nbsp;</b>
                    </div>
                    <div>
                        <b>部门用户</b>
                        <b>
                            <input id="STUNInput" class="easyui-combobox" name="ShareToUserNoticeName"
                                   valueField="ID"
                                   textField="Name"
                                   panelHeight="auto"
                                   style="width:100px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href='javascript:addSTUNsstr()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>添加</a>
                        </b>
                        <p><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">【注】</span><span style="color:silver">每选定一人，需添加一次！</span></label></p>
                    </div>
                    <div>
                        <b>&nbsp;</b>
                    </div>
                </div>
                <div id="ADDBUMENDIV">
                    <p><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">【注】</span><span style="color:silver">每选定一部门，需添加一次！</span></label></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a href='javascript:addSTBMstr()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>添加</a></b>
                </div>
                <div>
                    <b><input type="hidden" name="NoticestrName" id="NoticestrID" /></b>
                    <b><textarea id="ShowAddBMOrUser" style="width:300px;height:30px;display:none;resize:none"></textarea></b>
                </div>
            </div>
            <table>
                <tbody id="Selebody"></tbody>
            </table>
        }
    </div>

    <!---------------补充上传文件--------------------->
    <div id="AddUploadFileDiv" class="easyui-window" title="补充上传文件" closed="true" closable="false" collapsible="falsa" minimizable="false" maximizable="false" style="width:auto;height:auto;">
        @using (Ajax.BeginForm("AddUploadFile", "ShareFileOrNotice", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterUpload" }, new { id = "adduploadfileform" }))
        {
            <form class="SmallWindow" style="padding:10px 20px 10px 40px;">
                <div style="height:5px"><!--填充空白区域--></div>
                文件：
                <input type="file" name="uploadShareFileName" id="AddUploadFileID" /><a href="javascript:getUrl()" class="l-btn" style="margin:0px 5px;padding:2px 8px">上传</a>
                <input type="hidden" id="BeiFenAddFileUrlID" name="BeiFenAddFileUrlName" />
                <div style="text-align:center"><label><b style="color:red">【注】</b><span style="color:silver">多个文件需依次进行添加再上传！最后再点确定！</span></label></div>
                <input type="hidden" id="hiddenSFID" name="sfid" />
                <input type="hidden" id="hiddenSFUrl" name="sfurl" />
                <div style="height:20px"><!--填充空白区域--></div>
                <div style="padding:5px;text-align:center;">
                    <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="OkToUpLoad()">确定</a>
                    <a href="#" class="easyui-linkbutton" icon="icon-cancel" onclick="cancel()">取消</a>
                </div>
            </form>
        }
    </div>

    <!--------------显示下载文件的列表---------------->
    <div id="DownloadFileDiv" class="easyui-window" title="下载文件" closed="true" closable="false" collapsible="falsa" minimizable="false" maximizable="false" style="width:185px;height:auto;">
        <form class="SmallWindow" style="padding:10px 20px 10px 40px;">
            <table id="DownloadFileTab">
                <!--显示文件-->
            </table>
            <div style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="cancel()">确定</a>
            </div>
        </form>
    </div>

    <!--------------查看共享用户---------------->
    <div id="CheckAllUserInfoDiv" class="easyui-window" title="下载文件" closed="true" closable="false" collapsible="falsa" minimizable="false" maximizable="false" style="width:auto;height:auto;">
        <form class="SmallWindow" style="padding:10px 20px 10px 40px;">
            <div>
                <b>所有共享到的用户：</b><br />
                &nbsp;&nbsp;<textarea id="allUserInfoTA" style="width:161px;height:76px;resize:none"></textarea>
            </div>
            <div style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="cancel()">确定</a>
            </div>
        </form>
    </div>

</body>
</html>