@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>控制中心</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/Print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript">
        $.fn.extend({
            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });
        var IsHSZ = false;

        $(function () {           
            // 当窗口大小发生变化时，调整DataGrid的大小
            $(window).resize(function () {
                $('#tt').resizeDataGrid(0, 0, 200, 500);
            });
            //隐藏所有模块
            toggleKZ();
            $("#TTdiv").show();
            loadData();
            //隐藏删除图片按钮
            $("#DelImageBtn").hide();
            $("#ShtereBannerimg").hide();
            $("#ShtereNameimg").hide();
            ShtereBannerimg
            //文件上传
            $("#btnFileUp").click(function () {
                if ($("#fileUp").val() == "") {
                    $.messager.alert("提示", "请选择上传文件", "errer");
                    return;
                }
                //开始进行异步上传图片文件
                $("#AddFCKXFrom").ajaxSubmit({
                    success: function (data) {
                        var serverData = data.split(":");
                        if (serverData[0] == "yes") {
                            $("#showImage").append("<img id='DivShowImage' src='" + serverData[1] + "' width='200' height='100'/>");
                            $("#hiddenMenuIcon").val(serverData[1]);//将上传成功的图片地址放在隐藏input中
                        }
                        else {
                            $.messager.alert("提示", serverData[1], "errer");
                        }
                    },
                    url: "/BZCM/FileUpload",
                    type: "post"
                })
                $("#DelImageBtn").show();
            });
            //删除上传图片
            $("#DelImageBtn").click(function () {
                var image = $("#DivShowImage").attr("src");
                $.post("/BZCM/DelImage", { str: image }, function (data) {
                    if (data.ret = "ok") {
                        $("#DivShowImage").remove();
                        $("#hiddenMenuIcon").val("");
                        $("#fileUp").val("");
                        $("#DelImageBtn").hide();
                        
                    }                    
                })
            })
            $("#ShtereBannerimg").click(function () {
                var image = $("#DivShowImage_Image_banner").attr("src");
              
                $.post("/BZCM/DelImage", { str: image }, function (data) {
                    if (data.ret = "ok") {
                        clerimg()

                    }
                })
            })
            $("#ShtereNameimg").click(function () {
                var image = $("#DivShowImage_Image_Name").attr("src");
                $.post("/BZCM/DelImage", { str: image}, function (data) {
                    if (data.ret = "ok") {
                        clerimg()

                    }
                })
            })


            $("#AddFCKX").css("display", "none");
            $("#Addejym").css("display", "none");            
            $("#JingPinFangYuan").hide();
            $("#FangYuanXinXi").hide();
            $(".easyui-combobox").combobox("select", "2");
            //房产信息
            $("#Btnfcdata").click(function () {
                toggleKZ()
                $("#TTdiv").show();
                var pars = {"item":"2"}
                loadData(pars);
            })
            //回收站
            $("#BtnHsz").click(function () {
                IsHSZ = IsHSZ?false:true;
                $("#BtnHsz").val(IsHSZ ? "数据中心" : "回收站")
                var sc = $("#BtnInput").combobox("getValue");
                var pars = { "item": sc }
                loadData(pars);
            })
            //微信系统设置
            $("#Tooledit").click(function () {
                toggleKZ()
                $("#Wxdiv").show();
            })

            
        });
        //清空图片数据
        function clerimg() {
            try {
                $("#DivShowImage_Image_banner").remove();
                $("#Image_banner").val("");
                $("#fileUp_Image_banner").val("");
                $("#ShtereBannerimg").hide();
            }
            catch (e) {
            }
            try {
                $("#DivShowImage_Image_Name").remove();
                $("#Image_Name").val("");
                $("#fileUp_Image_Name").val("");
                $("#ShtereNameimg").hide();
            }
            catch (e) {
            }
        }
        //二级页面上传头部图片与名称图片
        function btnupimg(thisid) {
            if ($("#fileUp_"+thisid).val() == "") {
                $.messager.alert("提示", "请选择上传文件", "errer");
                return;
            }
            //开始进行异步上传图片文件
            $("#AddejymFrom").ajaxSubmit({
                success: function (data) {
                    var serverData = data.split(":");
                    if (serverData[0] == "yes") {
                        $("#showImage_" + thisid).append("<img id='DivShowImage_" + thisid + "' src='" + serverData[1] + "' width='200' height='100'/>");
                        $("#"+thisid).val(serverData[1]);//将上传成功的图片地址放在隐藏input中
                    }
                    else {
                        $.messager.alert("提示", serverData[1], "errer");
                    }
                },
                url: "/BZCM/FileUpload?item="+thisid,
                type: "post"
            })
            if (thisid == "Image_banner") {
                $("#ShtereBannerimg").show();
            } else {
                $("#ShtereNameimg").show();
            }                        
        }
        function loadData(pars) {
            var Jpfy = true;
            var Fckx = true;
            var Fyxx = true;
            var NewKX = true;
            var imagebol = true;
            var Shere = true;
            
            if (pars != undefined) {
                if (!IsHSZ) {
                    switch (pars.item) {

                        case "7": Fyxx = false;
                            break;
                        case "6": NewKX = false, imagebol = false;
                            break;
                        case "2": Jpfy = false, imagebol = false, Shere = false;
                            break;
                        case "11": Jpfy = false, imagebol = false, Shere = false;
                            break;
                        case "5": Jpfy = false, imagebol = false, Shere = false;
                            break;
                        case "4": Jpfy = false, imagebol = false, Shere = false;
                            break;
                    }
                }                
                pars = { "item": pars.item, "IsHSZ": IsHSZ }
            }
           
            $('#tt').datagrid({
                url: '/BZCM/GetFanChan',
                title: '百战传媒',
                width: $("#dgdiv").width() - 2,
                height: $("#dgdiv").height() - 2,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    {
                        field: 'edit', title: '操作', align: 'center', hidden: IsHSZ, formatter: function (value, row) {
                            return "<a href='javascript:eidtdata()' class='l-btn' style='padding:2px 5px;'>修改</a>";
                        }
                    },
                    {
                        field: 'del', title: '删除', align: 'center', hidden: IsHSZ, formatter: function (value, row) {
                            return "<a href='javascript:deldata()' class='l-btn' style='padding:2px 5px;'>删除</a>";
                        }
                    },
                    {
                        field: 'addshere', title: '详细信息', align: 'center', hidden: Shere, formatter: function (value, row) {
                            return row.Shtere ? "<a href='javascript:editshere()' class='l-btn' style='padding:2px 5px;'>修改信息</a>" : "<a href='javascript:addshere()' class='l-btn' style='padding:2px 5px;'>追加信息</a>";
                        }
                    },
                    {
                        field: 'ReDel', title: '撤销', align: 'center', hidden: !IsHSZ, formatter: function (value, row) {
                            return "<a href='javascript:ReDel()' class='l-btn' style='padding:2px 5px;'>撤销</a>";
                        }
                    },
                    {
                        field: 'Addtime', title: '创建时间', formatter: function (value, row, index) {
                          
                            var str = ChangeDateFormatHours_Minute(value);
                            return str;
                        },
                    },
                    {
                        field: 'IsTopStartTime', title: '置顶开始时间', formatter: function (value, row, index) {
                           
                            var str = ChangeDateFormatHours_Minute(value);
                            return str;
                        }
                    },
                    {
                        field: 'IsTopStopTime', title: '置顶结束时间', formatter: function (value, row, index) {
                           
                            var str = ChangeDateFormatHours_Minute(value);
                            return str;
                        }
                    },
                    { field: 'Str', title: '归属项', align: 'center' },
                    { field: 'Str_Name', title: '企业名称', align: 'center', hidden: Jpfy,editor:'text' },
                    { field: 'PerSonName', title: '创建人员', align: 'center' },
                    { field: 'IsTop_shor', title: '排序', align: 'center' },
                    { field: 'FYXX_Name', title: '房源信息名称', align: 'center', hidden: Fyxx, align: 'center' },
                     { field: 'FYXX_Photo', title: '房源信息电话', hidden: Fyxx, align: 'center' },
                    { field: 'FYXX_ONE', title: '房源信息第一行', hidden: Fyxx, align: 'center' },
                    { field: 'FYXX_TWO', title: '房源信息第三行', hidden: Fyxx, align: 'center' },
                    { field: 'FYXX_SHRER', title: '房源信息第二行', hidden: Fyxx, align: 'center' },
                    { field: 'News_Addess', title: '地址', align: 'center', hidden: NewKX },
                    { field: 'News_Name', title: '项目名称', align: 'center', hidden: NewKX },
                    { field: 'News_Item', title: '房屋类型', align: 'center', hidden: NewKX },
                    { field: 'News_KaiFaShang', title: '开发商', align: 'center', hidden: NewKX },
                    { field: 'News_Money', title: '房屋价位', align: 'center', hidden: NewKX },
                    { field: 'News_Photo', title: '销售电话', align: 'center', hidden: NewKX },
                    {
                        field: 'News_Text', title: '项目简介', align: 'center', hidden: NewKX, formatter: function (value,row) {
                            return "<textarea rows='5' cols='50' readonly='readonly' >"+value+"</textarea>"
                        }
                    },
                    { field: 'News_YouHui', title: '优惠政策', align: 'center', hidden: NewKX },
                    { field: 'Wx__BzcmText', title: '状态', align: 'center', hidden: NewKX },                    
                    { field: 'News_Danwei', title: '开户行', align: 'center', hidden: NewKX },
                    {
                        field: 'IsTop', title: '是否置顶', align: 'center', formatter: function (value, row) {
                            return value == null ? "" : value == 0 ? "否" : "是";
                        }
                    },
                    {
                        field: 'Str_Image', title: '图片地址', align: 'center', hidden: imagebol, formatter: function (value, row) {
                            return  value==null?"":"<image src='"+value+"' width='150' height='50'>";
                        }
                    }
                ]],
                toolbar: "#Topbtn",
                onLoadSuccess: function () {
                }
            });
        }

        function afterAdd(data) {
            if (data.ret == "ok") {
                try {
                }
                catch (e) { }
                try {
                    $('#tt').datagrid('reload');
                    $('#AddBxBill').dialog('close');
                }
                catch (e) { }
                try {
                    $('#BillShow').datagrid('reload');
                }
                catch (e) {}
            } else  {
                $.messager.alert("提示", data.ret, "error");
            }
        }
        function formatCurrency(num) {
            num = num.toString().replace(/\$|\,/g, '');
            if (isNaN(num))
                num = "0";
            sign = (num == (num = Math.abs(num)));
            num = Math.floor(num * 100 + 0.50000000001);
            cents = num % 100;
            num = Math.floor(num / 100).toString();
            if (cents < 10)
                cents = "0" + cents;
            for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3) ; i++)
                num = num.substring(0, num.length - (4 * i + 3)) + ',' +
                num.substring(num.length - (4 * i + 3));
            return (((sign) ? '' : '-') + num + '.' + cents);
        }
        function Addbtn() {
            clenrInpyt()
            $("#AddFCKX").css("display", "block");
            $("#JingPinFangYuan").show();
            $('#AddFCKX').dialog({
                title: "新增信息",
                width: 750,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        
                        $("#AddFCKXFrom").submit();//提交表单     
                        $('#AddFCKX').dialog('close');
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#AddFCKX').dialog('close');
                    }
                }]
            });
        }
        //追加详细信息
        function addshere() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            $("#Addejym").css("display", "block");
           
            $('#Addejym').dialog({
                title: "新增信息",
                width: 750,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {

                        $("#AddejymFrom").submit();//提交表单     
                        $('#Addejym').dialog('close');
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#Addejym').dialog('close');
                    }
                }]
            });
            clertShtere();
            $("#BzcmTextID").val(rows[0].ID);
        }
        function changeScenes() {
            TabIsHide();
            var val = $("#FristItems").combobox("getValue");
            if (val == "2"||val=="11") {
                $("#JingPinFangYuan").show();
                $("#Imagebody").show();
            }
            else if (val == "5") {
                $("#JingPinFangYuan").show();
                $("#Imagebody").show();
            }
            else if (val == "6") {
                $("#NewKuaiXun").show();
                $("#Imagebody").show();
            }
            else if (val == "7") {
                $("#FangYuanXinXi").show();
            }
            else if (val == "4") {
                $("#JingPinFangYuan").show();
                $("#Imagebody").show();
            }
        }
        function BanrChangeScenes() {
            var val = $("#BtnInput").combobox("getValue");
            var pars = { "item": val }
            loadData(pars)
            
        }
        function TabIsHide() {
            $("#JingPinFangYuan").hide();
            $("#FangYuanXinXi").hide();
            $("#NewKuaiXun").hide();
            $("#Imagebody").hide();
            
            
        }
        //修改房源信息
        function eidtdata() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            Addbtn();
            $("#AddID").val(rows[0].ID);
            $("#IsTop").combobox("select", rows[0].IsTop)
            $("#FristItems").combobox("select", rows[0].itemsid)
            var startTime = CDFHoursMinute(rows[0].IsTopStartTime);
            var stopTime = CDFHoursMinute(rows[0].IsTopStopTime);
            $("#IsTopStartTime").datetimebox("setValue", startTime);
            $("#IsTopStopTime").datetimebox("setValue", stopTime);
            $("#IsTop_shor").val(rows[0].IsTop_shor);
            $("#Str_Name").val(rows[0].Str_Name);
            $("#hiddenMenuIcon").val(rows[0].Str_Image);
            $("#DivShowImage").remove();
            if (rows[0].Str_Image != null) {
                $("#DelImageBtn").show();
                $("#showImage").append("<img id='DivShowImage' src='" + rows[0].Str_Image + "' width='200' height='100'/>");
            }

            $("#FYXX_Name").val(rows[0].FYXX_Name);
            $("#FYXX_Photo").val(rows[0].FYXX_Photo);
            $("#FYXX_ONE").val(rows[0].FYXX_ONE);
            $("#FYXX_TWO").val(rows[0].FYXX_TWO);
            $("#FYXX_SHRER").val(rows[0].FYXX_SHRER);
            $("#News_Name").val(rows[0].News_Name);
            $("#News_Photo").val(rows[0].News_Photo);
            $("#News_KaiFaShang").val(rows[0].News_KaiFaShang);
            $("#News_Addess").val(rows[0].News_Addess);
            $("#News_Money").val(rows[0].News_Money);
            $("#News_Item").val(rows[0].News_Item);
            $("#News_YouHui").val(rows[0].News_YouHui);
            $("#News_Text").val(rows[0].News_Text);
        }
        //删除房源信息
        function deldata() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }

            messcon(rows[0].ID,"是否确认删除？");            
        }
        //撤销回收站
        function ReDel() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }

            messcon(rows[0].ID, "是否确认撤销？");
        }
        function messcon(val,str) {
            $.messager.confirm("提示", str, function (r) {
                if (r) {
                    $.post("/bzcm/deldata", { id: val }, function (dat) {
                        if (dat.ret == "ok") {
                            $("#tt").datagrid("reload");
                        } else {
                            $.messager.alert("提示", dat.ret, "err");
                        }
                    })
                }
            })
        }
        function clenrInpyt() {
            $("#AddID").val("");
            $("#IsTop").combobox("select", 0)
            $("#FristItems").combobox("select", 2)
            $("#IsTopStartTime").datetimebox("setValue", "");
            $("#IsTopStopTime").datetimebox("setValue", "");
            $("#IsTop_shor").val("");
            $("#Str_Name").val("");
            $("#hiddenMenuIcon").val("");
            $("#DivShowImage").remove();           
            $("#FYXX_Name").val("");
            $("#FYXX_Photo").val("");
            $("#FYXX_ONE").val("");
            $("#FYXX_TWO").val("");
            $("#FYXX_SHRER").val("");
            $("#News_Name").val("");
            $("#News_Photo").val("");
            $("#News_KaiFaShang").val("");
            $("#News_Addess").val("");
            $("#News_Money").val("");
            $("#News_Item").val("");
            $("#News_YouHui").val("");
            $("#News_Text").val("");
        }
        function toggleKZ() {
            $("#TTdiv").hide();
            $("#Wxdiv").hide();
            
        }
        function jssliderclik(v,id) {
            $.post("/bzcm/editslider", { "id": id, "val": v }, function (dat) {
                if (dat != "ok") {
                    $.messager.alert("提示",dat.ret,"errer")
                }
            })
        }
        //修改追加信息
        function editshere() {
            
            addshere();
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                //alert("请选择要修改的商品！");
                $.messager.alert("提醒", "请选择要编辑的1条记录!", "error");
                return;
            }
            
            $.post("/bzcm/GetShtere", { id: rows[0].ID }, function (dat) {
                if (dat.ret == "ok") {
                    
                    var temp = $.parseJSON(dat.temp);                    
                    //alert(temp.BzcmTextID)
                    //alert(temp.ShuoSuQuYu)
                    //alert(temp.Addess)
                    //alert(temp.ID)
                    $.each(temp, function (i, items) {
                        if (i == "KaiPanTime" || i == "RuzuTime") {
                            $("#" + i).datebox("setValue", items);

                        } else if (i == "XiaoShouZT") {
                            $("#" + i).combobox("select", items);
                        }  else {
                            try {

                                $("#" + i).val(items);

                                if (i == "Image_banner") {
                                    if (items != null) {
                                        $("#showImage_Image_banner").append("<img id='DivShowImage_Image_banner' src='" + items + "' width='200' height='100'/>");
                                        $("#ShtereBannerimg").show();
                                    }
                            
                                } else if (i == "Image_Name") {
                                    if (items != null) {                                    
                                        $("#showImage_Image_Name").append("<img id='DivShowImage_Image_Name' src='" + items + "' width='200' height='100'/>");
                                        $("#ShtereNameimg").show();
                                    }

                                }

                            }
                            catch (e) { }
                        }                        
                    })
                    };
            })
            clertShtere();
        }
        //清空追加信息
        function clertShtere() {
            $("#Addejym").find("input,textarea").each(function () {
                
                if (this.type != "button") {
                    this.value = "";//也可以清空数据this.value ="";
                }                
            });
            clerimg()

        }
        //修改积分
        function editjifen() {
            var jifen = $("#LoginJiFen").val();
            if (jifen.length <= 0) {
                $.messager.alert("提醒", "积分不可为空！", "error");
                return;
            }
            $.post("/bzcm/EditJiFen", { jifen: jifen }, function (ret) {
                if (ret.ret == "ok") {
                    $.messager.alert("提醒", "修改成功！", "");
                } else {
                    $.messager.alert("提醒", ret.ret, "error");
                }
            })
        }
    </script>
    <style>
        html, body {
            height: 80%;
            margin: 0px;
            padding: 0px;
        }
        .tdheader {
            color: cornflowerblue;
            font-size:16px;
            font:bold;
            margin-left:22px;
        }
        .addshtere {
             color:deepskyblue;
             font-size:12px;
        }
        .td_one {
            text-align:center;
        }
        .btnlink a {
            width: 90%;
            margin-top: 3px;
        }

        thead {
            font-size: 16px;
            font-weight: bold;
        }

        .JKtable {
            padding: 10px;
        }

            .JKtable input {
                width: 100%;
                height: 150%;
            }

        .Ptable {
            BORDER-COLLAPSE: collapse;
            width: 840px;
            font-size: 14px;
            text-align: center;
        }

            .Ptable tr td {
                height: 60px;
            }

        .Pbxtable {
            BORDER-COLLAPSE: collapse;
            width: 670px;
            font-size: 14px;
            text-align: center;
        }

            .Pbxtable tr td {
                height: 45px;
            }

        .BxpzTop {
            width: 670px;
            height: 10px;
        }

        .zpttable {
            BORDER-COLLAPSE: collapse;
            width: 700px;
            font-size: 10px;
            text-align: center;
        }

            .zpttable tr td {
                height: 15px;
            }

        .inheght tr td {
            font-size: 10px;
        }
    </style>
</head>
<body class="easyui-layout">
    <div>
        <div id="" style="height:100%; width:100%;">
            @using (Ajax.BeginForm("AddOrEditJiekuan", "BillPrint", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "JKBillFrom" }))
            {
                <input type="hidden" id="JieKuanID" name="ID" />

            }
        </div>
 
       
      
    </div>
    <div id="divBtn" data-options="region:'west',split:true,title:'选项'" class="easyui-panel btnlink" style="width:150px;height:100%">
        <div class="easyui-accordion">
            <div title="控制菜单" data-options="iconCls:'icon-search'" style="overflow:auto;padding:10px;">
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" id="Btnfcdata">房产信息</a>
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="BtnBaoXiao">家具信息</a>
            </div>
            <div title="其他选项" data-options="iconCls:'icon-ok'" style="padding:10px;">
                <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" id="Tooledit">微信系统设置</a>
            </div>
        </div>
    </div>
    <div data-options="region:'center',title:'控制中心'" id="dgdiv">
        <div id="TTdiv">
            <table id="tt" class="easyui-datagrid" style="width: 700px; " title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"
                   data-options="toolbar:'#tb'">
                <thead data-options="frozen:true">
                    <tr>
                        <th data-options="field:'ck',checkbox: true, align: 'left', width: 30"></th>
                        <th data-options="field:'ID', width: 40">编号</th>                      
                    </tr>
                </thead>


            </table>
        </div>
        <div id="Wxdiv" style="height:100%;">
            <div class="easyui-tabs" style="height:initial">
                <div title="微信小程序" style="padding:10px">
                    <p style="font-size:14px">首页显示数量设置</p>
                    <ul style="list-style:none">
                        <li><text>精品房源:</text>
                        </li>
                        <li style="margin:25px 5px">
                            <input class="easyui-slider" id="slider1" style="width:300px"   data-options="showTip:true,rule:[5,'|',10,'|',15,'|',20],min:5,max:20,value:@ViewBag.slider0,onComplete: function(value){ jssliderclik(value,1) }" />
                        </li>
                        <li><text>最新快选:</text></li>
                        <li style="margin:25px 5px">
                            <input class="easyui-slider" id="slider2" style="width:300px" data-options="showTip:true,rule:[5,'|',10,'|',15,'|',20],min:5,max:20,value:@ViewBag.slider1,onComplete: function(value){ jssliderclik(value,2) }"/>
                        </li>
                        <li><text>房源信息:</text></li>
                        <li style="margin:25px 5px">
                            <input class="easyui-slider" id="slider3" style="width:300px" data-options="showTip:true,rule:[5,'|',10,'|',15,'|',20],min:5,max:20,value:@ViewBag.slider2,onComplete: function(value){ jssliderclik(value,3) }" />
                        </li>
                        <li><text>导航下信息:</text></li>
                        <li style="margin:25px 5px">
                            <input class="easyui-slider" id="slider4" style="width:300px" data-options="showTip:true,rule:[1,'|','|',10],min:1,max:10,value:@ViewBag.slider3,onComplete: function(value){ jssliderclik(value,4) }" />
                        </li>
                        <li><text>功能主页滚动图:</text></li>
                        <li style="margin:25px 5px">
                            <input class="easyui-slider" id="slider5" style="width:300px" data-options="showTip:true,rule:[1,'|','|',10],min:1,max:10,value:@ViewBag.slider4,onComplete: function(value){ jssliderclik(value,5) }" />
                        </li>
                    </ul>
                </div>
                <div title="登陆积分" style="padding:10px">
                    <p style="font-size:14px">微信每次签到给予积分</p>
                    <ul style="list-style:none">
                        <li>
                            <text>积分数量:</text><input id="LoginJiFen"   style="margin:0px 10px" name="" value="@ViewBag.Jifen" onkeyup="num(this)" />
                            <input class="easyui-linkbutton" style="width:140px;" onclick="editjifen()" value="确定" />
                        </li>
                        <li style="margin:25px 5px">
                           
                        </li>                       
                    </ul>
                </div>
                <div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
                    This is the help content.
                </div>
            </div>
        </div>
    </div>
 
    <div id="Topbtn" class="Topbtn" style="padding:5px;height:auto;">                    
        <div style="font-size:16px;">
            选项列表：<input class="easyui-combobox" id="BtnInput"
                        name="BaoXiaoName1" 
                      data-options="url: '/BZCM/Bzkx?items=0',
				      method: 'get',
				      valueField: 'ID',
				      textField: 'Str',
			 	      panelWidth: 200,
                      onSelect:function(){BanrChangeScenes();}
			        	" />
            <a>|</a>
            <input  class="easyui-linkbutton" value="回收站" id="BtnHsz"  style="width:100px;"/>
        </div>
        <div>
            <div style="font-size:16px;">
                <button class="btn-block" value="" onclick="Addbtn()">新增数据</button>
            </div>
        </div>
    </div>
    <div id="AddFCKX" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddBzcmImage", "BZCM", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "AddFCKXFrom" }))
            {
            <input type="hidden" id="AddID" name="ID" />
                <table class="JKtable">
                    
                    <thead>
                        <tr>
                            <td>选项列表</td>
                            <td>
                                <input class="easyui-combobox" id="FristItems"
                                       name="IsFristItemsID" data-options="url: '/BZCM/Bzkx?items=0',
				      method: 'get',
				      valueField: 'ID',
				      textField: 'Str',
			 	      panelWidth: 200,
                      onSelect:function(){changeScenes();}
			        	" />
                            </td>
                        </tr>

                    </thead>
                    <tr><td>开始时间</td><td><input class="easyui-datetimebox" name="IsTopStartTime" id="IsTopStartTime" /></td></tr>
                    <tr><td>结束时间</td><td><input class="easyui-datetimebox" name="IsTopStopTime" id="IsTopStopTime" /></td></tr>
                    <tr><td>排序</td><td><input type="text" name="IsTop_shor" id="IsTop_shor" onkeyup="num(this)" value="0" /></td></tr>
                    <tr><td>置顶</td><td>
                        <select class="easyui-combobox" name="IsTop" id="IsTop">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                        </td></tr>
                    <tbody id="JingPinFangYuan">                       
                        <tr><td>企业名称</td><td><input type="text" name="Str_Name" id="Str_Name" /></td></tr> 
                    </tbody>
                    <tbody id="Imagebody">
                        <tr>
                            <td>上传图片</td>
                            <td>

                                <input  type="file" name="fileIconUp" id="fileUp"  />
                                <input type="hidden" name="Str_Image" id="hiddenMenuIcon" />
                                <div id="showImage"></div>
                            </td>
                            <td><input type="button" value="上传图片" id="btnFileUp" /><input type="button" value="删除图片" id="DelImageBtn" /></td>
                        </tr>   
                    </tbody>
                               
                    <tbody id="FangYuanXinXi">
                        <tr><td>信息名称</td><td><input type="text" name="FYXX_Name" id="FYXX_Name" /></td></tr>
                        <tr><td>信息电话</td><td><input type="text" name="FYXX_Photo" id="FYXX_Photo" onkeyup="ReadPhoto(this)" /></td></tr>
                        <tr><td>第一排</td><td><input type="text" name="FYXX_ONE" id="FYXX_ONE" /></td></tr>
                        <tr><td>第二排</td><td><input type="text" name="FYXX_TWO" id="FYXX_TWO" /></td></tr>
                        <tr><td>第三排</td><td><input type="text" name="FYXX_SHRER" id="FYXX_SHRER" /></td></tr>
                    </tbody> 
                    <tbody id="NewKuaiXun">
                        <tr><td>项目名称</td><td><input type="text" name="News_Name" id="News_Name" /></td></tr>
                        <tr><td>销售电话</td><td><input type="text" name="News_Photo" id="News_Photo" onkeyup="ReadPhoto(this)" /></td></tr>
                        <tr><td>开发商</td><td><input type="text" name="News_KaiFaShang" id="News_KaiFaShang" /></td></tr>
                        <tr><td>房屋地址</td><td><input type="text" name="News_Addess" id="News_Addess" /></td></tr>
                        <tr><td>房屋价位</td><td><input type="text" name="News_Money" id="News_Money" /></td></tr>
                        <tr><td>房屋类型</td><td><input type="text" name="News_Item" id="News_Item" /></td></tr>
                        <tr><td>优惠政策</td><td>
                            <textarea rows="5" cols="50" name="News_YouHui" id="News_YouHui"></textarea>
                            </td></tr>
                        <tr><td>项目简介</td><td>
                            <textarea rows="5" cols="50"   name="News_Text" id="News_Text"></textarea>
                    </tbody>                       
                </table>
        }
    </div>

    <div id="Addejym" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddShere", "BZCM", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "AddejymFrom" }))
            {
            <input type="hidden" id="ID" name="ID" />
            <input type="hidden"  name="DEL" value="0" />
            <input type="hidden" id="BzcmTextID" name="BzcmTextID"  />
            <table class="JKtable addshtere">
                <tbody>
                    <tr><td colspan="2" class="tdheader">基本信息</td></tr>
                    <tr><td class="td_one">所属区域</td><td><input class="text" name="ShuoSuQuYu" id="ShuoSuQuYu" /></td></tr>
                    <tr><td class="td_one">联系电话</td><td><input type="text" name="Photo" id="Photo" onkeyup="ReadPhoto(this)" /></td></tr>
                    @*<tr><td class="td_one">联系点火</td><td><input class="easyui-datetimebox" name="IsTopStopTime" id="IsTopStopTime" /></td></tr>*@
                    <tr><td class="td_one">楼盘地址</td><td><input type="text" name="Addess" id="Addess" /></td></tr>
                    <tr>
                        <td class="td_one">销售状态</td>
                        <td>
                            <select class="easyui-combobox" name="XiaoShouZT" id="XiaoShouZT">
                                <option value="0" selected="selected">在售</option>
                                <option value="1">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td class="td_one">项目特色</td><td><input type="text" name="XiangMuTeShe" id="XiangMuTeShe" /></td></tr>
                    <tr><td class="td_one">开发商</td><td><input type="text" name="KaiFaShang" id="KaiFaShang" /></td></tr>
                    <tr>
                        <td class="td_one">楼盘简介</td>
                        <td>
                            <textarea rows="5" cols="50" name="Texts" id="Texts"></textarea>
                        </td>
                    </tr>
                    <tr><td colspan="2" class="tdheader">基本信息</td></tr>
                    <tr><td class="td_one">开盘时间</td><td><input class="easyui-datebox" name="KaiPanTime" id="KaiPanTime" /></td></tr>
                    <tr><td class="td_one">入住时间</td><td><input class="easyui-datebox" name="RuzuTime" id="RuzuTime" /></td></tr>
                    <tr><td class="td_one">价格详情</td><td><input type="text" name="Money" id="Money" onkeyup="num(this)" /></td></tr>
                    <tr><td class="td_one">售楼地址</td><td><input type="text" name="ShouLouAddess" id="ShouLouAddess" /></td></tr>
                    <tr><td colspan="2" class="tdheader">建筑信息</td></tr>

                    <tr><td class="td_one">产权年限</td><td><input type="text" name="ChanQuanYear" id="ChanQuanYear" value="70" /></td></tr>
                    <tr><td class="td_one">户型</td><td><input type="text" name="HuXing" id="HuXing" /></td></tr>
                    <tr><td class="td_one">建筑面积</td><td><input type="text" name="JianZhuMianJi" id="JianZhuMianJi" onkeyup="num(this)" /></td></tr>
                    <tr><td class="td_one">占地面积</td><td><input type="text" name="ZhanDiMianJi" id="ZhanDiMianJi" onkeyup="num(this)" /></td></tr>
                    <tr><td class="td_one">建筑类别</td><td><input type="text" name="JianZhuLeiBie" id="JianZhuLeiBie" /></td></tr>
                    <tr><td class="td_one">装修情况</td><td><input type="text" name="ZhuangXiuQingKuang" id="ZhuangXiuQingKuang" /></td></tr>
                    <tr><td class="td_one">楼层状况</td><td><input type="text" name="LouCheZhuanKuang" id="LouCheZhuanKuang" /></td></tr>
                    <tr><td class="td_one">承建商</td><td><input type="text" name="ChengJianShang" id="ChengJianShang" /></td></tr>
                    <tr><td class="td_one">代理商</td><td><input type="text" name="DaiLiShang" id="DaiLiShang" /></td></tr>
                    <tr><td colspan="2" class="tdheader">物业信息</td></tr>
                    <tr><td class="td_one">物业类别</td><td><input type="text" name="WuYeLeiBie" id="WuYeLeiBie" /></td></tr>
                    <tr><td class="td_one">容积率</td><td><input type="text" name="RongJiLv" id="RongJiLv" /></td></tr>
                    <tr><td class="td_one">绿化率</td><td><input type="text" name="LvHuaLv" id="LvHuaLv" /></td></tr>
                    <tr><td class="td_one">供水</td><td><input type="text" name="GongShui" id="GongShui" /></td></tr>
                    <tr><td class="td_one">供气</td><td><input type="text" name="GongQi" id="GongQi" /></td></tr>
                    <tr><td class="td_one">供暖</td><td><input type="text" name="GongNuan" id="GongNuan" /></td></tr>
                    <tr><td class="td_one">宽带</td><td><input type="text" name="KuanDai" id="KuanDai" /></td></tr>
                    <tr><td class="td_one">物业公司</td><td><input type="text" name="WuYeGongShi" id="WuYeGongShi" /></td></tr>
                    <tr><td class="td_one">物业费</td><td><input type="text" name="WuYeFei" id="WuYeFei" /></td></tr>
                    <tr><td class="td_one">地下停车场</td><td><input type="text" name="StopCar" id="StopCar" /></td></tr>
                    <tr><td colspan="2" class="tdheader">交通配套</td></tr>
                    <tr>
                        <td class="td_one">公交线路</td>
                        <td>
                            <textarea rows="5" cols="50" name="GongJiaoXianLu" id="GongJiaoXianLu"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_one">学校</td>
                        <td>
                            <textarea rows="5" cols="50" name="Shool" id="Shool"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_one">购物</td>
                        <td>
                            <textarea rows="5" cols="50" name="Shop" id="Shop"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_one">餐饮</td>
                        <td>
                            <textarea rows="5" cols="50" name="EAC" id="EAC"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_one">医院</td>
                        <td>
                            <textarea rows="5" cols="50" name="YiYuan" id="YiYuan"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_one">生活</td>
                        <td>
                            <textarea rows="5" cols="50" name="Sty" id="Sty"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_one">娱乐</td>
                        <td>
                            <textarea rows="5" cols="50" name="Game" id="Game"></textarea>
                        </td>
                    </tr>
                </tbody>
                 <tr>
                        <td>顶部图片</td>
                        <td>

                            <input type="file" name="img_banner" id="fileUp_Image_banner" />
                            <input type="hidden" name="Image_banner" id="Image_banner" />
                            <div id="showImage_Image_banner"></div>
                        </td>
                        <td><input type="button" value="上传图片"  onclick="btnupimg('Image_banner')" /><input type="button" value="删除图片" id="ShtereBannerimg" /></td>
                    </tr>
                <tr>
                    <td>名称图片</td>
                    <td>

                        <input type="file" name="img_name" id="fileUp_Image_Name" />
                        <input type="hidden" name="Image_Name" id="Image_Name" />
                        <div id="showImage_Image_Name"></div>
                    </td>
                    <td><input type="button" value="上传图片"  onclick="btnupimg('Image_Name')"/><input type="button" value="删除图片" id="ShtereNameimg" /></td>
                </tr>
              
            </table>
        }
    </div>
    
</body>
</html>
